<div>
    <div>
        <div class="row">
            <div class="col-md-3 baocao-filter">
                <form [formGroup]="formData">
                    <div class="sidebar-bg">
                        <fieldset>
                            <div>
                                <label class="control-label">
                                    Trạng thái LT
                                </label>
                                <ng-select formControlName="connectivityStatusID">
                                    <ng-option *ngFor="let i of trangThaiLT" [value]="i.id">
                                        {{i.value}}
                                    </ng-option>   
                                </ng-select>
                            </div>
                        </fieldset>
                        <fieldset>
                            <div>
                                <label class="control-label">
                                    Số phiếu
                                </label>
                                <input type="text" placeholder="Nhập số đơn vào đây..."
                                    class="form-control" style="width: 100%"
                                    formControlName="soPhieu">
                            </div>
                        </fieldset>
                        <fieldset>
                            <app-date-range-filter
                                [filterType]="DATE_RANGE.ALL"
                                [fromDateControl]="'fromDate'"
                                [toDateControl]="'toDate'"
                                (filterTypeChange)="changeFilterType($event)"
                                (fromDateChange)="changeFromDate($event)"
                                (toDateChange)="changeToDate($event)">
                            </app-date-range-filter>
                            <button class="btn btn-primary mt-3 w-100"
                            (click)="searchPage();">Xem</button>
                            <button class="btn btn-primary mt-3 w-100"
                                ng-click="onSynNotes(); $event.preventDefault(); $event.stopPropagation();"
                                ng-disabled="synNotesInprogress">LT</button>
                        </fieldset>
                    </div>
                </form>
                
            </div>
           
            <div class="col-md-9">
                <div class="box-group-white">
                    <div class="baocao-container">
                        <div class="ibox float-e-margins">
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li [ngClass]="{'active' : checkTab == 'receipt'}">
                                        <a (click)="checkTab = 'receipt'">Nhập Hàng&nbsp;<span class="label label-info pull-right">
                                               {{connectivityReceiptItemTableComponent?.totalRecord | number}}
                                        </span></a>
                                    </li>
                                    <li [ngClass]="{'active' : checkTab == 'delivery'}">
                                        <a (click)="checkTab = 'delivery'">Xuất Hàng&nbsp;<span class="label label-info pull-right">
                                            {{connectivityDeliveryItemTableComponent?.totalRecord | number}}
                                        </span></a>
                                    </li>
                                    <li [ngClass]="{'active' : checkTab == 'drug'}">
                                        <a (click)="checkTab = 'drug'">Thuốc&nbsp;<span class="label label-info pull-right">
                                            {{connectivityDrugItemTableComponent?.totalRecord | number}}
                                        </span></a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="#ActivePage=0" [hidden]="checkTab != 'receipt'">
                                        <div class="panel-body">
                                            <connectivity-receipt-item-table [formData]="formData"
                                            [formDataChange]="formDataChange"></connectivity-receipt-item-table>
                                        </div>
                                    </div>
                                    <div id="#ActivePage=1" [hidden]="checkTab != 'delivery'">
                                        <div class="panel-body">
                                            <connectivity-delivery-item-table [formData]="formData"
                                            [formDataChange]="formDataChange"></connectivity-delivery-item-table>
                                        </div>
                                    </div>
                                    <div id="#ActivePage=2" [hidden]="checkTab != 'drug'">
                                        <div class="panel-body">
                                            <connectivity-drug-item-table [formData]="formData"
                                            [formDataChange]="formDataChange"></connectivity-drug-item-table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tabs-container" ng-if="viewModel.ReportDetailsByGoods">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div elem-ready="isReady()"></div>
</div>
