<div class="card">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
      <h4 class="modal-title">{{ isUpdateView() ? 'Cập nhật thông tin cơ sở' : 'Thêm mới cơ sở' }}
      </h4>
    </div>
    <div class="modal-body" style="min-height: 700px">
      <ul class="nav nav-tabs mb-3">
        <li [ngClass]="{'active' : checkTab == 'main-information'}">
          <a href="javascript:void(0);"
             [ngClass]="checkTab == 'main-information' ? 'tab-check-color' : 'tab-uncheck-color'"
             (click)="checkTab = 'main-information'">Thông tin chính</a>
        </li>
        <li [ngClass]="{'active' : checkTab == 'payment-information'}">
          <a href="javascript:void(0);"
             [ngClass]="checkTab == 'payment-information' ? 'tab-check-color' : 'tab-uncheck-color'"
             (click)="checkTab = 'payment-information'">Thông tin thanh toán</a>
        </li>
        <li [ngClass]="{'active' : checkTab == 'connectivity-drug'}">
          <a href="javascript:void(0);"
             [ngClass]="checkTab == 'connectivity-drug' ? 'tab-check-color' : 'tab-uncheck-color'"
             (click)="checkTab = 'connectivity-drug'">LT CSDL QG</a>
        </li>
        <li [ngClass]="{'active' : checkTab == 'einvoice'}">
          <a href="javascript:void(0);"
             [ngClass]="checkTab == 'einvoice' ? 'tab-check-color' : 'tab-uncheck-color'"
             (click)="checkTab = 'einvoice'">Kết nối HĐĐT</a>
        </li>
        <li [ngClass]="{'active' : checkTab == 'connectivity-sample-note'}">
          <a href="javascript:void(0);"
             [ngClass]="checkTab == 'connectivity-sample-note' ? 'tab-check-color' : 'tab-uncheck-color'"
             (click)="checkTab = 'connectivity-sample-note'">LT đơn thuốc CSDL QG</a>
        </li>
        <li [ngClass]="{'active' : checkTab == 'zalo-oa'}">
          <a href="javascript:void(0);"
             [ngClass]="checkTab == 'zalo-oa' ? 'tab-check-color' : 'tab-uncheck-color'"
             (click)="checkTab = 'zalo-oa'">ZaloOA</a>
        </li>
        <li [ngClass]="{'active' : checkTab == 'qr-machine'}">
          <a href="javascript:void(0);"
             [ngClass]="checkTab == 'qr-machine' ? 'tab-check-color' : 'tab-uncheck-color'"
             (click)="checkTab = 'qr-machine'">Máy QR</a>
        </li>
        <li [ngClass]="{'active' : checkTab == 'shopping-website'}">
          <a href="javascript:void(0);"
             [ngClass]="checkTab == 'shopping-website' ? 'tab-check-color' : 'tab-uncheck-color'"
             (click)="checkTab = 'shopping-website'">Shopping Website</a>
        </li>
      </ul>
      <form [formGroup]="formData">
        <div class="row" [hidden]="checkTab != 'main-information'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Mã cơ sở</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser() && isCreateView()" type="text" formControlName="maNhaThuoc"
                           class="form-control mb-0" tabindex="1">
                    <p *ngIf="!isSuperUser() || isUpdateView()">{{ drugStore?.maNhaThuoc ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Tài khoản quản lý<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.nguoiPhuTrach ?? '' }}</p>
                    <div *ngIf="isSuperUser()" class="input-group">
                      <input type="text" class="form-control mb-0" formControlName="nguoiPhuTrach"
                             placeholder="Người quản lý..." readonly="readonly"/>
                      <span class="input-group-btn">
                          <button class="btn btn-primary" type="button" (click)="openUserPickerDialog()"><i
                            class="fa-regular fa-upload"></i> Chọn</button>
                      </span>
                    </div>
                    <span class="text-danger field-validation-error"
                          *ngIf="formData.get('nguoiPhuTrach')?.invalid && formData.get('nguoiPhuTrach')?.touched">
                      Chưa chọn người quản lý!
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Tên cơ sở<span class="text-danger">*</span></label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="tenNhaThuoc" class="form-control mb-0" tabindex="3">
                    <span class="text-danger field-validation-error"
                          *ngIf="formData.get('tenNhaThuoc')?.invalid && formData.get('tenNhaThuoc')?.touched">
                      Chưa nhập tên cơ sở!
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Cơ sở quản lý</label>
                  <div class="col-sm-10">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.nhaThuocQuanLy ?? '' }}</p>
                    <div *ngIf="isSuperUser()" class="input-group">
                      <input type="text" class="form-control mb-0" formControlName="nhaThuocQuanLy"
                             placeholder="Nhà thuốc quản lý..." readonly="readonly"/>
                      <span class="input-group-btn">
                          <button class="btn btn-primary" type="button" (click)="openDrugStorePickerDialog()"><i
                            class="fa-regular fa-upload"></i> Chọn</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Địa chỉ</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="diaChi" class="form-control mb-0" tabindex="5">
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Người đại diện</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="nguoiDaiDien" class="form-control mb-0" tabindex="6">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Số kinh doanh</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="soKinhDoanh" class="form-control mb-0" tabindex="7">
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Email</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="email" class="form-control mb-0" tabindex="8">
                    <span class="text-danger field-validation-error"
                          *ngIf="formData.get('email')?.errors?.['email'] && formData.get('email')?.touched">
                        Email không đúng định dạng!
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Điện thoại</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="dienThoai" class="form-control mb-0" tabindex="9">
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Di động</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="mobile" class="form-control mb-0" tabindex="10">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Tỉnh thành</label>
                  <div class="col-sm-10">
                    <ng-select
                      *ngIf="isSuperUser()"
                      appendTo="body"
                      appearance="outline"
                      [items]="listTinhThanh"
                      formControlName="tinhThanhId"
                      bindLabel="tenTinhThanh"
                      bindValue="id"
                      placeholder="Hãy chọn tỉnh thành"
                      notFoundText="Không tìm thấy mục nào"
                      [attr.tabindex]="11"
                    >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span [ngOptionHighlight]="search">{{ item.tenTinhThanh }}</span>
                      </ng-template>
                    </ng-select>
                    <p *ngIf="!isSuperUser()">{{ getNameTinhThanh() }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Dược sỹ</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="duocSy" class="form-control mb-0" tabindex="12">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Cơ sở tổng</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="checkbox" formControlName="isGeneralPharmacy"
                           class="mb-0 form-checkbox check-box" tabindex="13">
                    <div *ngIf="!isSuperUser()">
                      <i *ngIf="drugStore?.isGeneralPharmacy" class="fa-regular fa-check text-success"></i>
                      <i *ngIf="!drugStore?.isGeneralPharmacy" class="fa-regular fa-xmark text-danger"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Chính sách giao hàng</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="deliveryPolicy" class="form-control mb-0" tabindex="14">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Logo</label>
                  <div class="col-sm-10">
                    <div>
                      <img class="border-upload-image" ngSrc="/assets/images/logo.jpg" alt="Logo Order" height="100"
                           width="100">
                    </div>
                    <div class="mt-1" *ngIf="isSuperUser()">
                      <button class="btn btn-primary" (click)="openUploadImageDialog()" tabindex="15">
                        <i class="fa-regular fa-folder-arrow-up"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Lời cảm ơn</label>
                  <div class="col-sm-10">
                    <textarea class="form-control mb-0" formControlName="contentThankYou" rows="2"
                              tabindex="16"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <!--Check setting enable payment qr-->
                <div class="row" *ngIf="true && isUpdateView()">
                  <label class="col-sm-2 control-label">Tài khoản ngân hàng</label>
                  <div class="col-sm-10">
                    <button class="btn btn-primary" title="Thông tin TK ngân hàng" (click)="openBankAccountListDialog()"
                            tabindex="17">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <!--Check setting use clinic-->
                <div class="row" *ngIf="true">
                  <label class="col-sm-2 control-label">Lời dặn bác sỹ</label>
                  <div class="col-sm-10">
                    <textarea class="form-control mb-0" formControlName="footerPrint" rows="2" tabindex="18"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row" [hidden]="checkTab != 'payment-information'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Số tiền phải thu</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="paidAmount" mask="separator"
                           class="form-control mb-0" tabindex="1">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.paidAmount | number }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row" *ngIf="isSuperUser()">
                  <label class="col-sm-2 control-label">Diễn giải</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="description" class="form-control mb-0" tabindex="2">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row" *ngIf="isSuperUser()">
                  <label class="col-sm-2 control-label">Chính sách bán hàng</label>
                  <div class="col-sm-10">
                    <ng-select
                      appendTo="body"
                      appearance="outline"
                      [items]="listTypeBasis"
                      formControlName="idTypeBasic"
                      bindLabel="nameType"
                      bindValue="id"
                      placeholder="Hãy chọn chính sách bán hàng"
                      notFoundText="Không tìm thấy mục nào"
                      [attr.tabindex]="3"
                    >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span [ngOptionHighlight]="search">{{ item.nameType }}</span>
                      </ng-template>
                    </ng-select>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row" *ngIf="isSuperUser()">
                  <label class="col-sm-2 control-label">Ghi chú</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="ghiChu" class="form-control mb-0" tabindex="4">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row" *ngIf="isSuperUser()">
                  <label class="col-sm-2 control-label">Số hoá đơn</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="totalNumberInvoices" mask="separator"
                           class="form-control mb-0" tabindex="5">
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="checkTab != 'connectivity-drug'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Trạng thái</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="checkbox" formControlName="isConnectivity"
                           class="mb-0 form-checkbox check-box" tabindex="1">
                    <div *ngIf="!isSuperUser()">
                      <i *ngIf="drugStore?.isConnectivity" class="fa-regular fa-check text-success"></i>
                      <i *ngIf="!drugStore?.isConnectivity" class="fa-regular fa-xmark text-danger"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Tài khoản</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="connectivityUserName"
                           class="form-control mb-0" tabindex="2">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.connectivityUserName ?? '' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Mã cơ sở</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="connectivityCode"
                           class="form-control mb-0" tabindex="3">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.connectivityCode ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Mật khẩu</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideConnectivityPassword ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="connectivityPassword" tabindex="4">
                      <span (click)="hideConnectivityPassword = !hideConnectivityPassword"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row" *ngIf="isSuperUser()">
                  <label class="col-sm-2 control-label">Liên thông Plus</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="checkbox" formControlName="upgradeToPlus"
                           class="mb-0 form-checkbox check-box" tabindex="5">
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="checkTab != 'einvoice'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Tài khoản</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="connEInvoiceUserName"
                           class="form-control mb-0" tabindex="1">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.connEInvoiceUserName ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Mẫu số hoá đơn</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="formNumberInvoice"
                           class="form-control mb-0" tabindex="2">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.formNumberInvoice ?? '' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Mật khẩu</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideConnEInvoicePassword ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="connEInvoicePassword" tabindex="3">
                      <span (click)="hideConnEInvoicePassword = !hideConnEInvoicePassword"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Ký hiệu hoá đơn</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="symbolCodeInvocie"
                           class="form-control mb-0" tabindex="4">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.symbolCodeInvocie ?? '' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Tài khoản service</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="nameServiceEInvoice"
                           class="form-control mb-0" tabindex="5">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.nameServiceEInvoice ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Loại hoá đơn</label>
                  <div class="col-sm-10">
                    <ng-select
                      *ngIf="isSuperUser()"
                      appendTo="body"
                      appearance="outline"
                      [items]="listTypeInvoice"
                      formControlName="typeInvoice"
                      bindLabel="nameType"
                      bindValue="id"
                      placeholder="Hãy chọn loại hoá đơn"
                      notFoundText="Không tìm thấy mục nào"
                      [attr.tabindex]="6"
                    >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span [ngOptionHighlight]="search">{{ item.nameType }}</span>
                      </ng-template>
                    </ng-select>
                    <p *ngIf="!isSuperUser()">{{ getNameTypeInvoice() }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Mật khẩu service</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hidePassServiceEInvoice ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="passServiceEInvoice" tabindex="7">
                      <span (click)="hidePassServiceEInvoice = !hidePassServiceEInvoice"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Loại ký số</label>
                  <div class="col-sm-10">
                    <ng-select
                      *ngIf="isSuperUser()"
                      appendTo="body"
                      appearance="outline"
                      [items]="listTypeSignInvoice"
                      formControlName="typeSendEinvocie"
                      bindLabel="nameType"
                      bindValue="id"
                      placeholder="Hãy chọn loại ký số"
                      notFoundText="Không tìm thấy mục nào"
                      [attr.tabindex]="8"
                    >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span [ngOptionHighlight]="search">{{ item.nameType }}</span>
                      </ng-template>
                    </ng-select>
                    <p *ngIf="!isSuperUser()">{{ getNameTypeSignInvoice() }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Chứng thư số</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideConnEInvoiceSerialCert ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="connEInvoiceSerialCert" tabindex="9">
                      <span (click)="hideConnEInvoiceSerialCert = !hideConnEInvoiceSerialCert"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Chữ ký số</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideSignedString ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="signedString" tabindex="10">
                      <span (click)="hideSignedString = !hideSignedString"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Link kết nối</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideLinkConnectEInvoice ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="linkConnectEInvoice" tabindex="11">
                      <span (click)="hideLinkConnectEInvoice = !hideLinkConnectEInvoice"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="isSuperUser()">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Số hoá đơn điện tử</label>
                  <div class="col-sm-10">
                    <input type="text" formControlName="eInvoiceTotalNumbers" mask="separator"
                           class="form-control mb-0" tabindex="12">
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="checkTab != 'connectivity-sample-note'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Mã cơ sở</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="connectivityCodeMeidcal"
                           class="form-control mb-0" tabindex="1">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.connectivityCodeMeidcal ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Mật khẩu</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideConnectivityPasswordMedical ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="connectivityPasswordMedical" tabindex="2">
                      <span (click)="hideConnectivityPasswordMedical = !hideConnectivityPasswordMedical"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="checkTab != 'zalo-oa'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">AppId</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="appId" class="form-control mb-0"
                           tabindex="1">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.appId ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Token Zalo</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideTokenZalo ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="tokenZalo" tabindex="2">
                      <span (click)="hideTokenZalo = !hideTokenZalo"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Zalo Key</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideZaloKey ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="zaloKey" tabindex="3">
                      <span (click)="hideZaloKey = !hideZaloKey"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Refresh Token Zalo</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideRefreshTokenZalo ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="refreshTokenZalo" tabindex="4">
                      <span (click)="hideRefreshTokenZalo = !hideRefreshTokenZalo"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Ảnh mẫu gửi tin</label>
                  <div class="col-sm-10">
                    <div>
                      <img class="border-upload-image" ngSrc="/assets/images/logo.jpg" alt="Zalo Image Order"
                           height="100" width="100">
                    </div>
                    <div class="mt-1" *ngIf="isSuperUser()">
                      <button class="btn btn-primary" (click)="openUploadImageDialog()" tabindex="5">
                        <i class="fa-regular fa-folder-arrow-up"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Loại tin nhắn</label>
                  <div class="col-sm-10">
                    <ng-select
                      *ngIf="isSuperUser()"
                      appendTo="body"
                      appearance="outline"
                      [items]="listTypeMessage"
                      formControlName="typeMessage"
                      bindLabel="nameType"
                      bindValue="id"
                      placeholder="Hãy chọn loại tin nhắn"
                      notFoundText="Không tìm thấy mục nào"
                      [attr.tabindex]="6"
                    >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span [ngOptionHighlight]="search">{{ item.nameType }}</span>
                      </ng-template>
                    </ng-select>
                    <p *ngIf="!isSuperUser()">{{ getNameTypeMessage() }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="checkTab != 'qr-machine'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Tên thiết bị</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="qrdeviceName" class="form-control mb-0"
                           tabindex="1">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.qrdeviceName ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Token</label>
                  <div class="col-sm-10">
                    <div class="input-group" *ngIf="isSuperUser()">
                      <input [type]="hideQRDeviceToken ? 'password' : 'text'" class="form-control mb-0"
                             formControlName="qrdeviceToken" tabindex="2">
                      <span (click)="hideQRDeviceToken = !hideQRDeviceToken"
                            class="input-group-addon btnShowPassword input-group-addon flex-grow-width-25"><i
                        class="fa-regular fa-eye"></i></span>
                    </div>
                    <p *ngIf="!isSuperUser()">******</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Sim Data</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="simData" class="form-control mb-0"
                           tabindex="3">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.simData ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
              </div>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="checkTab != 'shopping-website'">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Đường dẫn</label>
                  <div class="col-sm-10">
                    <input *ngIf="isSuperUser()" type="text" formControlName="slugCustomerWebsite"
                           class="form-control mb-0" tabindex="1">
                    <p *ngIf="!isSuperUser()">{{ drugStore?.slugCustomerWebsite ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Liên kết</label>
                  <div class="col-sm-10">
                    <a href="https://webnhathuoc.vn/{{drugStore?.slugCustomerWebsite ?? ''}}" target="_blank">webnhathuoc.vn/{{ drugStore?.slugCustomerWebsite ?? '' }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Theme</label>
                  <div class="col-sm-10">
                    <ng-select
                      *ngIf="isSuperUser()"
                      appendTo="body"
                      appearance="outline"
                      [items]="listTheme"
                      formControlName="themeIdCustomerWebsite"
                      bindLabel="name"
                      bindValue="id"
                      placeholder="Hãy chọn theme"
                      notFoundText="Không tìm thấy mục nào"
                      [attr.tabindex]="2"
                    >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span [ngOptionHighlight]="search">{{ item.name }}</span>
                      </ng-template>
                    </ng-select>
                    <p *ngIf="!isSuperUser()">{{ getNameTheme() }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Banner</label>
                  <div class="col-sm-10">
                    <div>
                      <img class="border-upload-image" ngSrc="/assets/images/logo.jpg" alt="Banner Shopping Website"
                           height="100" width="100">
                    </div>
                    <div class="mt-1" *ngIf="isSuperUser()">
                      <button class="btn btn-primary" (click)="openUploadImageDialog()" tabindex="3">
                        <i class="fa-regular fa-folder-arrow-up"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Slogan chính</label>
                  <div class="col-sm-10">
                    <textarea *ngIf="isSuperUser()" class="form-control mb-0"
                              formControlName="mainSloganCustomerWebsite" rows="2" tabindex="4"></textarea>
                    <p *ngIf="!isSuperUser()">{{ drugStore?.mainSloganCustomerWebsite ?? '' }}</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="row">
                  <label class="col-sm-2 control-label">Slogan phụ</label>
                  <div class="col-sm-10">
                    <textarea *ngIf="isSuperUser()" class="form-control mb-0" formControlName="subSloganCustomerWebsite"
                              rows="2" tabindex="5"></textarea>
                    <p *ngIf="!isSuperUser()">{{ drugStore?.subSloganCustomerWebsite ?? '' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <label class="col-md-1 control-label">Google Map</label>
              <div class="col-md-11">
                <textarea *ngIf="isSuperUser()" class="form-control mb-1"
                          formControlName="googleLocationCustomerWebsite" rows="5" tabindex="6"></textarea>
                <div [innerHTML]="drugStore?.googleLocationCustomerWebsite | sanitizeHtml"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
      <button type="button" class="btn btn-primary" (click)="saveEdit()"
              [disabled]="formData.invalid">{{ isUpdateView() ? 'Cập nhật' : 'Thêm mới' }}
      </button>
    </div>
  </div>
</div>
