<div class="card-bg">
    <h2 class="mb-0" style="text-align: center;">ĐƠN NHẶT HÀNG</h2>
    <div style="text-align: center;font-size: 16px">
        <span id="" style="width: 10%">Ngày 1/1/2024 10:00</span>
    </div>
    <table class="table">
        <tr>
            <td style="text-align: left">
                <label class="control-label">Khách hàng:</label>
                <label class="control-label" style="font-weight: normal">
                     {{formData.value.cusName}}
                </label>
                <br />
                <label class="control-label">Địa chỉ:</label>
                <label class="control-label" style="font-weight: normal">
<!--                     {{formData.value.cusName}} -->
                </label>
            </td>
            <td style="text-align: right">
                <label class="control-label">Số phiếu: </label>
                <label class="control-label" style="font-weight: normal">
                 {{formData.value.orderNumber}}
            </label>
            </td>
    </table>
    <table class="table-condensed table-responsive display table-bordered" id="tblCt" style="width:100%">
        <thead>
            <tr>
                <th style="width: 10px">STT</th>
                <th style="width: 70px">Mã</th>
                <th>Tên hàng hóa</th>
                <th>Đơn vị</th>
                <th style="width: 100px; text-align: right">SL</th>
                <th style="width: 150px; text-align: right">Giá nhập</th>
                <th style="width: 150px; text-align: right">Giá bán</th>
                <th style="width: 150px; text-align: right">Thành Tiền</th>
            </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of dataTable , let i = index">
          <tr ng-repeat="i in viewModel.NoteItems" class="">
            <td>{{i + 1}}</td>
            <td>{{item.maThuocText}}</td>
            <td>{{item.tenThuocText}}</td>
            <td>{{item.tenDonViTinh}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.inPrice | number}} </td>
            <td>{{item.price | number}} </td>
            <td>{{item.price * item.quantity | number}} </td>
          </tr>
        </ng-container>
        </tbody>
    </table>
    <br />

    <div class="row">
        <div class="col-md-3">
            <b>Tổng Số Tiền : &nbsp;<span id="spanSumAll"></span></b><span>
                 {{formData.value.totalAmount | number}}
            </span>
        </div>
    </div>

    <table class="table borderless table-condensed">
        <tr>
            <td style="text-align:right; font-weight: normal; color:GrayText">
                <label class="control-label" style="font-weight: normal">[Người lập: </label>
                <label class="control-label" style="font-weight: normal">[
                     {{formData.value.createUserName}}
                    ]</label>
            </td>
            <td style="text-align:right; font-weight: normal; color:GrayText">
                <label class="control-label" style="font-weight: normal">[Ngày lập: </label>
                <label class="control-label" style="font-weight: normal">[
                     {{formData.value.orderDate | appDate}}
                    ]</label>
            </td>
        </tr>
    </table>
    <hr />
    <div class="form-group">
        <div class="">
            <div class="d-flex align-items-center justify-content-center gap-10">
                <a class="btn btn-primary" title="Tiếp tục" ng-if="permittedFields.Add_Pick_Up_Order" href="/management/order/form-quick">Tiếp tục</a>
                <a class="btn btn-primary" title="Sửa" ng-if="permittedFields.Add_Pick_Up_Order" href="/management/order/form-quick/{{idUrl}}">Sửa</a>
                <a class="btn btn-default" title="In" ng-click="onPrint(viewModel.NoteId)">In</a>
                <a class="btn btn-primary" title="Xử lý" ng-if="permittedFields.Handl_Pick_Up_Order" href="/management/order/handle-order/{{idUrl}}">Xử lý</a>
                <input type="button" value="Quay lại" title="Quay lại" class="btn btn-default" onclick="location.href='/management/order/list-order-pick-up'" />
            </div>
        </div>
    </div>
</div>
