<div class="row">
  <div class="col-md-3">
    <div class="sidebar-bg">
      <form [formGroup]="formData">
        <fieldset>
          <label>Nhân viên</label>
          <div class="control-group">
            <input formControlName="textSearch" type="text" class="form-control" placeholder="Tìm nhân viên theo tên..."
                   (keyup.enter)="searchPage()"/>
          </div>
          <div class="mb-3">
            <div class="form-check">
              <input formControlName="isNotActive" type="checkbox" class="form-control form-check-input" (change)="searchPage()">
              <label class="form-check-label">Nhân viên không hoạt động</label>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group d-flex justify-content-between gap-10">
            <input type="button" value="Xem" title="Xem" class="btn btn-primary w-50"
                   (click)="searchPage()"/>
            <a (click)="openAddEditDialog(null)" class="btn btn-primary w-50">Thêm</a>
          </div>
          <!--Quyền của SuperUser-->
          <div *ngIf="true" class="control-group d-flex justify-content-between gap-10">
            <input type="button" value="Tải File" title="Tải file" class="btn btn-default w-100"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="col-md-9">
    <div class="baocao-container box-group-white">
      <h2 class="mb-3 d-block text-center"><b>{{ title }}</b></h2>
      <div class="mat-table-container">
        <table mat-table
               class="table table-striped table-bordered table-hover tr-ng-grid"
               [dataSource]="getDataSource()" matSort>

          <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef> #</th>
            <td mat-cell *matCellDef="let data; index as i;">
              <div class="text-right">
                {{ (page - 1) * pageSize + i + 1 }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="tenDayDu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và tên</th>
            <td mat-cell *matCellDef="let data">
              <div class="text-left">{{ data.tenDayDu }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên đăng nhập</th>
            <td mat-cell *matCellDef="let data">
              <div class="text-left">{{ data.userName }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="soDienThoai">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Số điện thoại</th>
            <td mat-cell *matCellDef="let data">
              <div class="text-left">{{ data.soDienThoai }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhóm quyền</th>
            <td mat-cell *matCellDef="let data">
              <div class="text-left">{{ data.role }}</div>
            </td>
          </ng-container>

          <ng-container matColumnDef="hoatDong">
            <th mat-header-cell *matHeaderCellDef> Hoạt động</th>
            <td mat-cell *matCellDef="let data">
              <div class="text-center">
                <input type="checkbox" [(ngModel)]="data.hoatDong" disabled>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let data">
              <div class="baocao-actions">
                <button title="Cập nhật thông tin nhân viên"
                        class="btn btn-sm btn-primary"
                        (click)="openAddEditDialog(data)"><i
                  class="fa-regular fa-pencil"></i></button>
                <!--User ở dòng này là Staff-->
                <button *ngIf="true"
                        title="Phân quyền nhân viên"
                        class="btn btn-sm btn-primary"
                        (click)="openPermissionDialog(data)"><i
                  class="fa-regular fa-lock"></i></button>
                <!--User ở dòng này là Staff-->
                <button *ngIf="true"
                        title="Xoá nhân viên"
                        class="btn btn-sm btn-danger"
                        (click)="delete('Bạn có chắc chắn muốn xóa tài khoản nhân viên \'' + data.tenDayDu + '\' ?', data)"><i
                  class="fa-regular fa-trash"></i></button>
                <button title="Reset mật khẩu nhân viên"
                        class="btn btn-sm btn-primary"
                        (click)="openResetPasswordDialog(data)"><i
                  class="fa-regular fa-key"></i></button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="footer">
            <td mat-footer-cell *matFooterCellDef colspan="100">
              <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
                              (pageChange)="changePageIndex($event)"
                              (pageSizeChange)="changePageSize($event)"></app-pagination>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="['footer']; sticky: true"></tr>

        </table>
      </div>
   </div>
  </div>
</div>
