<div class="card">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
      <h4 class="modal-title">Thay đổi mật khẩu người dùng</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="formData">
        <p>Bạn đang đăng nhập với tài khoản: <strong>{{getUserName()}}</strong></p>
        <div class="form-group-flex mb-3">
          <label class="col-md-4 col-xs-12" for="oldPassword">Mật khẩu hiện tại</label>
          <div class="col-md-8 col-xs-12">
            <input formControlName="oldPassword" class="form-control mb-0" id="oldPassword" name="oldPassword" type="password">
            <span class="text-danger field-validation-error" *ngIf="formData.get('oldPassword')?.invalid && formData.get('oldPassword')?.touched">
              Chưa nhập mật khẩu hiện tại!
            </span>
          </div>
        </div>
        <div class="form-group-flex mb-3">
          <label class="col-md-4 col-xs-12" for="newPassword">Mật khẩu mới</label>
          <div class="col-md-8 col-xs-12">
            <input formControlName="newPassword" class="form-control mb-0" id="newPassword" name="newPassword" type="password">
            <span *ngIf="formData.get('newPassword')?.invalid && formData.get('newPassword')?.touched">
              <span class="text-danger field-validation-error" *ngIf="formData.get('newPassword')?.errors?.['required']">
                Chưa nhập mật khẩu mới!
              </span>
              <span class="text-danger field-validation-error" *ngIf="formData.get('newPassword')?.errors?.['invalidPassword']">
                Mật khẩu phải từ 8 đến 15 ký tự và bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt! VD: 123456aA&#64;
              </span>
            </span>
          </div>
        </div>
        <div class="form-group-flex mb-3">
          <label class="col-md-4 col-xs-12" for="confirmPassword">Xác nhận mật khẩu</label>
          <div class="col-md-8 col-xs-12">
            <input formControlName="confirmPassword" class="form-control mb-0" id="confirmPassword" name="confirmPassword" type="password">
            <span *ngIf="formData.get('confirmPassword')?.touched">
              <span class="text-danger field-validation-error" *ngIf="formData.get('confirmPassword')?.invalid && formData.get('confirmPassword')?.errors?.['required']">
                Chưa nhập xác nhận mật khẩu!
              </span>
              <span class="text-danger field-validation-error" *ngIf="formData.errors?.['mismatchPassword']">
                Mật khẩu mới và xác nhận mật khẩu không trùng khớp!
              </span>
            </span>
          </div>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
      <button type="button" class="btn btn-primary" (click)="changePassword()" [disabled]="formData.invalid">Đổi mật khẩu</button>
    </div>
  </div>
</div>
