<div>
    <div class="row">
        <div class="col-md-8">
            <div id="divDrugItems" class="box-group-white">
                <h2 class="text-center">
                    <b>PHIẾU NHẶT HÀNG</b>
                </h2>
                <div>
                  <table mat-table class="table table-striped table-hover tr-ng-grid" [dataSource]="getDataSource()">
                    <ng-container matColumnDef="#">
                      <th mat-header-cell *matHeaderCellDef style="width:3%"> #</th>
                      <td mat-cell *matCellDef="let data; index as i;" class="text-center">
                        <a *ngIf="data.isEditingItem" class="btn btn-primary" title="Thêm mới" (click)="onAddNew(data)"><i
                          class="fa-regular fa-plus"></i></a>
                        <a *ngIf="!data.isEditingItem" class="btn btn-danger" title="Xóa" (click)="onDelete(data)"><i
                          class="fa-regular fa-trash"></i></a>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="stt">
                      <th mat-header-cell *matHeaderCellDef style="width:5%"> STT</th>
                      <td mat-cell *matCellDef="let data; index as i;" style="vertical-align: middle;">{{i + 1}}</td>
                    </ng-container>
                    <ng-container matColumnDef="matHang">
                      <th mat-header-cell *matHeaderCellDef style="width:25%">Mặt Hàng [Mã-Tên]</th>
                      <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                        <ng-container>
                          <div *ngIf="data.isEditingItem">
                            <div>
                              <div class="w-100">
                                <div class="input-group">
                                  <ng-select #selectDrug
                                             class="w-100"
                                             appendTo="body"
                                             [(ngModel)]="data.drugId"
                                             appearance="outline"
                                             [items]="listThuoc$ | async"
                                             [typeahead]="searchThuocTerm$"
                                             bindLabel="tenThuoc"
                                             bindValue="id"
                                             [minTermLength]="2"
                                             appendTo="body"
                                             appearance="outline"
                                             placeholder="Tra cứu theo tên, mã, mã vạch..."
                                             notFoundText="Không tìm thấy mục nào" (change)="searchThuocTerm$.next(''); onDrugChange($event)">
                                    <ng-template ng-label-tmp let-item="item">
                                      <span *ngIf="item.maThuoc">{{item.maThuoc}}-{{item.tenThuoc}}</span>
                                    </ng-template>
                                  </ng-select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-container>
                        <span *ngIf="!data.isEditingItem">{{data.maThuocText}} - {{data.tenThuocText}}</span>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="donVi">
                      <th mat-header-cell *matHeaderCellDef style="width:20%">Đơn vị</th>
                      <td mat-cell *matCellDef="let data" class="text-center" style="vertical-align: middle;">
                        <select class="form-control" [(ngModel)]="data.unitId">
                          <option *ngFor="let i of data.unitList" value="{{i.id}}">
                            {{i.tenDonViTinh}}
                          </option>
                        </select>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="soLuong">
                      <th mat-header-cell *matHeaderCellDef style="width:5%"> Số lượng</th>
                      <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                        <input type="text" #inputSoLuong [(ngModel)]="data.quantity" (change)="getItemAmount(data)"
                               (keyup.enter)="onAddNew(data)" class="form-control text-right">
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="giaNhap">
                      <th mat-header-cell *matHeaderCellDef style="width:10%">Giá nhập</th>
<!--                      <td mat-cell *matCellDef="let data" class="text-center" style="vertical-align: middle;">-->
<!--                        {{data.price | number}}-->
<!--                      </td>-->
                      <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                        <input type="text" #inputSoLuong [(ngModel)]="data.inPrice" (change)="getItemAmount(data)"
                               (keyup.enter)="onAddNew(data)" class="form-control text-right">
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="giaBan">
                      <th mat-header-cell *matHeaderCellDef style="width:10%">Giá bán</th>
<!--                      <td mat-cell *matCellDef="let data" class="text-center" style="vertical-align: middle;">-->
<!--                        {{data.price}}-->
<!--                      </td>-->
                      <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                        <input type="text" #inputSoLuong [(ngModel)]="data.price" (change)="getItemAmount(data)"
                               (keyup.enter)="onAddNew(data)" class="form-control text-right">
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="thanhTien">
                      <th mat-header-cell *matHeaderCellDef style="width:10%">Thành Tiền</th>
                      <td mat-cell *matCellDef="let data" class="text-center" style="vertical-align: middle;">
                        {{data.totalAmount | number}}
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
                  </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
          <form [formGroup]="formData">
            <div id="divSummary" class="box-group-white">
              <table class="table borderless table-condensed">
                <tr>
                  <th class="header-bg" colspan="2">
                    <b>Thông tin phiếu xuất</b>
                  </th>
                </tr>
                <tr>
                  <td style="text-align: left;width:100px;"><label>Mã Số:</label></td>
                  <td style="text-align: left;">
                    <label><strong>
                      {{formData.value.orderNumber}}
                    </strong></label>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left;width:100px;"><label>Ngày:</label></td>
                  <td style="text-align: left" id="dvNgayXuat">
                    <div class="clickable-text daterange-picker"><input type="text" name="noteDate" id="note-date-id" ng-model="noteDate"><span>
                                 {{formData.value.orderDate}}
                            </span> <span ng-if="viewModel.NoteId > 0">
                            </span></div>
                  </td>
                </tr>

                <tr>
                  <td style="text-align: left;width:100px;"><label>K.Hàng:</label></td>
                  <td style="text-align: left">
                    <div class="input-group">
                      <div class="flex-grow-1 ip-position ng-isolate-scope">
                              <ng-select
                                #selectCustomer
                                appendTo="body"
                                formControlName="cusId"
                                appendTo="body"
                                appearance="outline"
                                [items]="listKhachHang$ | async"
                                [typeahead]="searchKhachHangTerm$"
                                bindLabel="tenKhachHang"
                                bindValue="id"
                                [minTermLength]="2"
                                appendTo="body"
                                appearance="outline"
                                placeholder="Tra cứu theo tên, mã, mã vạch..."
                                notFoundText="Không tìm thấy mục nào" (change)="searchKhachHangTerm$.next(''); onCustomerChange($event)">
                                <ng-template ng-label-tmp let-item="item">
                                  <span *ngIf="item.tenKhachHang">{{item.tenKhachHang}}</span>
                                  <span *ngIf="!item.tenKhachHang">{{formData.value.cusName}}</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index"
                                             let-search="searchTerm">
                                                <span
                                                  [ngOptionHighlight]="search">{{item.tenKhachHang}}-{{item.soDienThoai}}-
                                                  {{item.diaChi}}</span>
                                </ng-template>
                              </ng-select>
                            </div>
                          </div>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left;width:100px;"><label>D.Giải:</label></td>
                  <td style="text-align: left">
                    <textarea formControlName="description" class="form-control" style="width: 100%"></textarea>
                  </td>
                </tr>
              </table>

              <table class="table borderless table-condensed" style="padding: 1px; margin-bottom:1px; margin-top:-8px;">
                <tr>
                  <th class="header-bg" colspan="2">
                    <b>Thông tin thanh toán</b>
                  </th>
                </tr>
                <tr>
                  <td style="text-align: left; width:100px;"><label>Tổng tiền:</label></td>
                  <td style="text-align: left; width:100px;">
                            <span ng-if="!permittedFields.Drug_ViewInputPrice">
                                <span style="font-weight: bold">
                                     {{getOrderTotalAmount() | number}}
                                </span>
                            </span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align: left; width:100px;">
                    <label>Trả:</label>
                  </td>
                  <td style="text-align: left;">
                    <div class="d-flex align-items-center gap-10">
                      <input type="text" id="tbxPaymentAmount" class="form-control mb-0"
                             formControlName="paymentAmount" [value]="formData.value.paymentAmount" awnum="app-int-number">
                      <input type="button" class="btn btn-primary" value="F" title="Ấn vào đây để trả đủ số tiền" id="btnFullTm" ng-click="onPayFullOption(false); $event.preventDefault(); $event.stopPropagation();" />
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="col-md-5">
                    <b class="msg_payment_header">HT thanh toán <span>[+]</span></b>
                  </td>
                  <td>
<!--                    <div id="paymentSlide" class="form-check">-->
<!--                      <p class="form-check-label" ng-repeat="item in listPayType">-->
<!--                        <input type="radio" class="form-check-input" (click)="changePay(item)" name="optradio">-->
<!--                        {{item.DisplayName}}-->
<!--                      </p>-->
<!--                    </div>-->
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="text-align: left;"><span class="text-danger">
                            <!-- {{getDebtLabel()}}{{debtValue | number:0}} -->
                        </span></td>
                </tr>
              </table>
              <hr class="mt-0" />
              <div class="d-flex align-items-center justify-content-end gap-10">
                <input type="button" value="Quay lại" class="btn btn-default" title="Quay lại" onclick="location.href='/management/order/list-order-pick-up'" />
                <input type="submit" value="Ghi đơn" id="save-note-btn-id" title="F9-Ghi Đơn" class="btn btn-primary"(click)="onSave()" />
                <!--                    <a ng-if="viewModel.NoteId > 0 && deviceType == 0" class="btn btn-default" title="In" ng-click="onPrint(viewModel.NoteId)">In</a>-->
                <!--                    <a ng-if="viewModel.NoteId > 0 && permittedFields.Handl_Pick_Up_Order" class="btn btn-default" title="Xử lý đơn" ng-click="onNoteProcess()">Xử lý</a>-->
              </div>
            </div>
          </form>
        </div>
    </div>

    <div id="model-update-price" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-header">
                    <div class="modal-title">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>Cập nhật thông tin GN, GB</h4>
                    </div>
                </div>
                <div>
                    <form role="form">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Giá nhập:</label>
                            <div class="col-sm-8"><input type="text" class="form-control" ng-model="drugInfo.InPrice" awnum="app-decimal-number"></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Giá bán:</label>
                            <div class="col-sm-8"><input type="text" class="form-control" ng-model="drugInfo.Price" awnum="app-decimal-number"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="onPriceUpdated()">Cập nhật</button>
                    <button class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>



