<div>
  <div class="row">
    <div class="col-md-3 baocao-filter">
      <div class="sidebar-bg">
        <form [formGroup]="formData">
        <fieldset>
          <label>Tên tài khoản</label>
          <div class="control-group">
              <input formControlName="userName" type="text" class="form-control" placeholder="Tên tài khoản"
                     (keyup.enter)="searchPage()"/>
          </div>
        </fieldset>
        <fieldset>
          <label>Nhà thuốc</label>
          <div class="control-group">
            <ng-select
              [items]="listNhaThuoc$ | async"
              [typeahead]="searchNhaThuocTerm$"
              [minTermLength]="2"
              [trackByFn]="trackByFn"
              formControlName="maNhaThuoc"
              appendTo="body"
              appearance="outline"
              bindLabel="tenNhaThuoc"
              bindValue="maNhaThuoc"
              placeholder="Tra cứu theo tên, địa chỉ..."
              notFoundText="Không tìm thấy mục nào"
              typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
              (change)="searchNhaThuocTerm$.next('')"
            >
              <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                <span [ngOptionHighlight]="search">{{ item.tenNhaThuoc }}</span>
              </ng-template>
            </ng-select>
          </div>
        </fieldset>
        <fieldset>
          <label>Nhóm quyền</label>
          <div class="control-group">
            <select class="form-control" formControlName="roleName">
              <option [ngValue]="null">--Tất cả--</option>
              <option value="Admin">Quản lý</option>
              <option value="SuperUser">Quyền hệ thống</option>
              <option value="User">Nhân viên</option>
            </select>
          </div>
        </fieldset>
        <fieldset>
          <div class="control-group d-flex justify-content-between gap-10">
            <input type="button" value="Xem" title="Xem" class="btn btn-primary w-50"
                   (click)="searchPage()"/>
            <a (click)="openAddEditDialog(null)" class="btn btn-primary w-50">Thêm</a>
          </div>

          <div class="control-group d-flex justify-content-between gap-10">
            <div style="display: none"><input name="uploadFile" type="file"/></div>
            <input type="button" value="Tải File" title="Tải file" class="btn btn-default w-50"/>
            <input type="button" value="Xuất File" title="Tải file" class="btn btn-default w-50"/>
          </div>
        </fieldset>
        </form>
      </div>
    </div>

    <div class="col-md-9">
      <div class="baocao-container box-group-white">
        <h2 class="text-center"><b>{{title}}</b></h2>
        <div class="mat-table-container">
          <table mat-table
                 class="table table-striped table-bordered table-hover tr-ng-grid"
                 [dataSource]="getDataSource()" matSort>

            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef> #</th>
              <td mat-cell *matCellDef="let data; index as i;">
                <div class="text-right">
                  <a (click)="openRegionInformationEditDialog(data)">
                    {{ (page - 1) * pageSize + i + 1 }}
                  </a>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="userName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên đăng nhập</th>
              <td mat-cell *matCellDef="let data">
                <div class="text-left">{{ data.userName }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="tenDayDu">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Họ và tên</th>
              <td mat-cell *matCellDef="let data">
                <div class="text-left">{{ data.tenDayDu }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Thư điện tử</th>
              <td mat-cell *matCellDef="let data">
                <div class="text-left"><a href="mailto:{{ data.email }}">{{ data.email }}</a></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="nhomQuyens">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhóm quyền</th>
              <td mat-cell *matCellDef="let data">
                <div class="text-left">{{ data.nhomQuyens }}</div>
              </td>
            </ng-container>

            <ng-container matColumnDef="nhaThuocs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhà thuốc</th>
              <td mat-cell *matCellDef="let data">
                <div class="text-left" [innerHTML]="getDisplayedNhaThuocs(data.nhaThuocs) | sanitizeHtml"></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="hoatDong">
              <th mat-header-cell *matHeaderCellDef> Hoạt động</th>
              <td mat-cell *matCellDef="let data">
                <div class="text-center">
                  <input type="checkbox" [(ngModel)]="data.hoatDong" disabled>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="permissions">
              <th mat-header-cell *matHeaderCellDef> Quyền</th>
              <td mat-cell *matCellDef="let data">
                <form class="ng-pristine ng-valid ng-scope">
                  <div class="multiselect">
                    <div class="selectBox" ng-click="showCheckboxes(gridItem)">
                      <select class="form-control" style="border: none">
                        <option value="Lựa chọn nhóm quyền">Lựa chọn nhóm quyền</option>
                      </select>
                      <div class="overSelect"></div>
                    </div>
                    <div id="webnt2" style="display: block;">
                      <p ng-repeat="i in gridItem.Permissions"
                         class="ng-binding ng-scope">
                        <input type="checkbox" ng-change="onCheckAuthen(i)" ng-model="i.Active"
                               class="ng-pristine ng-untouched ng-valid"> Cập nhật thanh toán nhà thuốc
                      </p>
                      <p ng-repeat="i in gridItem.Permissions"
                         class="ng-binding ng-scope">
                        <input type="checkbox" ng-change="onCheckAuthen(i)" ng-model="i.Active"
                               class="ng-pristine ng-untouched ng-valid"> Xóa dữ liệu nhà thuốc
                      </p>
                      <p ng-repeat="i in gridItem.Permissions"
                         class="ng-binding ng-scope">
                        <input type="checkbox" ng-change="onCheckAuthen(i)" ng-model="i.Active"
                               class="ng-pristine ng-untouched ng-valid"> Xuất excel danh sách nhà thuốc
                      </p>
                      <p ng-repeat="i in gridItem.Permissions"
                         class="ng-binding ng-scope">
                        <input type="checkbox" ng-change="onCheckAuthen(i)" ng-model="i.Active"
                               class="ng-pristine ng-untouched ng-valid"> Xóa nhà thuốc
                      </p>
                      <p ng-repeat="i in gridItem.Permissions"
                         class="ng-binding ng-scope">
                        <input type="checkbox" ng-change="onCheckAuthen(i)" ng-model="i.Active"
                               class="ng-pristine ng-untouched ng-valid"> Cập nhật tiêu chí triển khai
                      </p>
                      <p ng-repeat="i in gridItem.Permissions"
                         class="ng-binding ng-scope">
                        <input type="checkbox" ng-change="onCheckAuthen(i)" ng-model="i.Active"
                               class="ng-pristine ng-untouched ng-valid"> Đánh giá triển khai
                      </p>
                      <p ng-repeat="i in gridItem.Permissions"
                         class="ng-binding ng-scope">
                        <input type="checkbox" ng-change="onCheckAuthen(i)" ng-model="i.Active"
                               class="ng-pristine ng-untouched ng-valid"> Xác thực điện thoại
                      </p>
                      <p ng-repeat="i in gridItem.Permissions" class="ng-binding ng-scope">
                        <input type="checkbox" ng-change="onCheckAuthen(i)" ng-model="i.Active"
                               class="ng-pristine ng-untouched ng-valid"> Xoá yêu cầu tiếp nhận
                      </p>
                    </div>
                  </div>
                </form>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let data">
                <div class="baocao-actions" style="justify-content: start;" *ngIf="!data.nhomQuyens.includes('Hệ thống') || data.id == getUserId()">
                  <button class="btn btn-sm btn-primary" title="Cập nhật thông tin người dùng"
                          (click)="openAddEditDialog(data)"><i class="fas fa-pen-to-square"></i></button>
                  <button class="btn btn-sm btn-danger" title="Xoá tài khoản"
                          (click)="delete('Bạn có chắc chắn muốn xóa tài khoản \'' + data.userName + '\' ?', data)"><i
                    class="fas fa-trash"></i></button>
                  <button *ngIf="true" class="btn btn-sm btn-primary" title="Reset mật khẩu"
                          (click)="openResetPasswordDialog(data)"><i class="fa-regular fa-key"></i></button>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="footer">
              <td mat-footer-cell *matFooterCellDef colspan="100">
                <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
                                (pageChange)="changePageIndex($event)"
                                (pageSizeChange)="changePageSize($event)"></app-pagination>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="['footer']; sticky: true"></tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
