<div class="modal fade" id="inventory-multiple-warehouse-dialog" tabindex='-1'>
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng"><span aria-hidden="true"><i
                            class="fa-regular fa-xmark"></i></span></button>
                <h4 class="modal-title"> Chi tiết tồn tại các kho của thuốc:</h4>
            </div>

            <div class="modal-body" style="padding: 0;">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Kho</th>
                            <th class="ng-binding">Tồn kho <br>(Σ= )</th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer d-flex align-items-center justify-content-end gap-10">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>