<div class="card">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="closeModal()" aria-label="Đóng"><span>&times;</span></button>
            <h4 class="modal-title modal-title-color"><strong>Chương trình trả thưởng nhà cung cấp<br /><span
                        class="text-uppercase">{{object.tenNhaCungCap}}</span></strong></h4>
        </div>
        <div class="modal-body">
            <div class="model-scroll-content">
                <div class="baocao-container box-group-white">
                    <label>Danh sách chương trình</label> <span style="margin: 5px" class="pull-right btn btn-primary"
                    (click)="openAddEditDialog({})"
                    title="Thêm mới chương trình trả thưởng">Thêm mới</span>
                    <table mat-table class="table table-striped table-bordered table-hover tr-ng-grid"
                        [dataSource]="dataTable" matSort>

                        <ng-container matColumnDef="stt">
                            <th mat-header-cell *matHeaderCellDef style="width:8%; display: none;">STT</th>
                            <td mat-cell *matCellDef="let data; index as i;" style="width:8%">
                                {{ (page - 1) * pageSize + i + 1 }}</td>
                        </ng-container>
                        <ng-container matColumnDef="stt2">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">STT</th>
                          </ng-container>
                        <ng-container matColumnDef="fromDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày bắt đầu</th>
                            <td mat-cell *matCellDef="let data"> {{ data.fromDate ? (data.fromDate | appDate ) : ''  }}</td>
                          </ng-container>
                          
                          <ng-container matColumnDef="toDate">
                            <th mat-header-cell *matHeaderCellDef>Ngày kết thúc</th>
                            <td mat-cell *matCellDef="let data"> {{ data.toDate ? (data.toDate | appDate) : '' }}</td>
                          </ng-container>
                        <ng-container matColumnDef="content">
                            <th mat-header-cell *matHeaderCellDef style="display: none;"> Nội dung</th>
                            <td mat-cell *matCellDef="let data"> {{ data.content }}</td>
                        </ng-container>
                        <ng-container matColumnDef="content2">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Nội dung</th>
                          </ng-container>
                        <ng-container matColumnDef="history">
                            <th mat-header-cell *matHeaderCellDef style="display: none;"> Lịch sử trả thưởng<br />(Số phiếu - Ngày
                                - Số tiền)</th>
                            <td mat-cell *matCellDef="let data">
                                <div>
                                    <ul>
                                        <li class="btn btn-link">
                                            <span title="Viết phiếu thu trả thưởng">
                                                Viết phiếu thu<i class="fa fa-usd btn-info"></i>
                                            </span>
                                        </li>
                                        <li *ngFor="let item of data.items; index as i;">
                                            <span class="btn btn-link ng-binding" title="Xem chi tiết phiếu thu">
                                                {{item.noteNumber}}</span>- 
                                                {{item.noteDate ? (item.noteDate | appDate) : ''}} - 
                                                {{item.amount ? (item.amount| number) : ''}} VND
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="history2">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Lịch sử trả thưởng<br />(Số phiếu - Ngày
                                - Số tiền)</th>
                          </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef style="display: none;">#</th>
                            <td mat-cell *matCellDef="let data">
                                <div class="baocao-actions">
                                    <button class="btn btn-sm btn-primary"><i
                                            class="fa-regular fa-pen-to-square" (click)="openAddEditDialog(data)"></i></button>
                                    <button class="btn btn-sm btn-danger"
                                        (click)="deleteRewardProgram('Bạn có chắc chắn muốn xóa chương trình khuyến mại với nội dung \'' +data.content+ '\' ?', data)">
                                        <i class="fa-regular fa-trash"></i></button>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action2">
                            <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">#</th>
                          </ng-container>
                        <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Thời gian áp dụng </th>
                          </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedHeaderColumns"></tr>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
        </div>
    </div>
</div>
<div class="modal fade" id="supplier-reward-receipt-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng"><span>&times;</span></button>
                <h4 class="modal-title modal-title-color"><strong>Phiếu thu trả thưởng từ nhà cung cấp<br /><span
                            class="text-uppercase">Name</span></strong></h4>
            </div>
            <div class="modal-body">
                <p class="text-center">Số phiếu: 1</p>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-4 control-label">Ngày</label>
                        <div class="col-sm-8">
                            <input type="date" class="input-datetime form-control text-box single-line"
                                ng-model="paymentModel.NoteDate" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-4 control-label">Số tiền</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" awnum="app-decimal-number"
                                ng-model="paymentModel.PaymentAmount" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-4 control-label">Diễn giải</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" ng-model="paymentModel.Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-4 control-label"><b class="msg_payment_inout_header control-label">Hình
                                thức thanh toán <span>[+]</span></b></label>
                        <div class="col-sm-8">
                            <div id="payment-inout-slide" class="form-check col-md-8" style="display: block;">
                                <p class="form-check-label ng-binding ng-scope" ng-repeat="item in listPayType">
                                    <input type="radio" class="form-check-input"
                                        ng-checked="paymentModel.PaymentTypeId == item.Id" ng-click="changePay(item)"
                                        name="optradio" checked="checked">Tiền mặt
                                </p>
                                <p class="form-check-label ng-binding ng-scope" ng-repeat="item in listPayType">
                                    <input type="radio" class="form-check-input"
                                        ng-checked="paymentModel.PaymentTypeId == item.Id" ng-click="changePay(item)"
                                        name="optradio">Chuyển khoản
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger">Xóa phiếu</button>
                <button type="button" class="btn btn-primary">Ghi phiếu</button>
            </div>
        </div>
    </div>
</div>