.ui-select-placeholder, .ui-select-match-text, .ui-select-match-item {
    width: 100%;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding-right: 3px;
}


.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    width: auto;
    padding-right: 3px;
}

.bg-warning {
    background-color: orange;
}

.info-item {
    font-size: 13px;
    font-style: italic;
}

.img-item {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    max-width: unset;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
    float: left;
    color: red;
    margin-right: 3px;
}