<div class="card">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="closeModal()" aria-label="Đóng"><span>&times;</span></button>
            <h4 class="modal-title"> Cập nhật lô/hạn dùng cho thuốc <b>{{drug.tenThuoc}}</b></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form [formGroup]="formData">
                    <div class="col-md-12">
                        <table class="table table table-bordered table-userpicker">
                            <tbody>
                                <tr>
                                    <td><b>Mã-Tên:</b></td>
                                    <td>
                                        <span style="color:seagreen">
                                            {{drug.maThuoc}}-
                                        </span><span>{{drug.tenThuoc}}</span>
                                    </td>
                                </tr>
                                <tr *ngIf="drug.isShowUsage">
                                    <td><b>Chọn lô/hạn dùng:</b></td>
                                    <td>
                                        <select class="form-control ng-pristine" ng-change="onBatchChange()" ng-model="batchModel">
                                            <option value="" selected="selected">Chọn lô hạn dùng</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>Số lô:</b></td>
                                    <td><input #batchInput type="text" id="txtBatchNumber" class="form-control mb-0" formControlName="batchNumber" (keydown.enter)="updateDrugBatch()"></td>
                                </tr>
                                <tr>
                                    <td><b>Hạn dùng:</b></td>
                                    <td>
                                        <input class="input-datetime form-control mb-0 text-box single-line" type="text" formControlName="expiredDate" placeholder="Nhập 010122 => 01/01/2022" (ngModelChange)="onExpiredDateChange()" (keydown.enter)="updateDrugBatch()">
                                    </td>
                                </tr>
                                <tr *ngIf="drug.isShowUsage">
                                    <td><b>Cách dùng:</b></td>
                                    <td>
                                        <input class="form-control mb-0" type="text" formControlName="usage" (keydown.enter)="updateDrugBatch()">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>  
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
            <button type="button" class="btn btn-primary" (click)="updateDrugBatch()">Cập nhật</button>
        </div>
    </div>
</div>