<div class="row">
  <div class="col-md-3">
    <form [formGroup]="formData">
      <div class="sidebar-bg">
        <h2 class="title-section title-border">{{title}}</h2>
        <fieldset class="mb-3" *ngIf="viewMultipleWarehousesFromReports.activated">
          <div class="row">
            <div class="col-md-3">
              <label>Cơ sở</label>
            </div>
            <div class="col-md-9">
              <ng-select
                appendTo="body"
                appearance="outline"
                [items]="listNhaThuoc"
                formControlName="maNhaThuoc"
                bindLabel="tenNhaThuoc"
                bindValue="maNhaThuoc"
                placeholder="Chọn hoặc gõ vào để tìm..."
                notFoundText="Không tìm thấy mục nào"
                [clearable]="false"
                (change)="searchPage();getSearchType()"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenNhaThuoc }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-3">
          <div class="row">
            <div class="col-md-3">
              <label>Nơi tìm</label>
            </div>
            <div class="col-md-9">
              <ng-select
                appendTo="body"
                appearance="outline"
                [items]="noteTypes"
                formControlName="noteTypeId"
                bindLabel="name"
                bindValue="id"
                placeholder="Chọn loại phiếu"
                notFoundText="Không tìm thấy mục nào"
                [clearable]="false"
                (change)="searchPage();getSearchType();"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.name }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-3">
          <div class="row">
            <div class="col-md-3">
              <label>Tìm theo</label>
            </div>
            <div class="col-md-9">
              <ng-select
                appendTo="body"
                appearance="outline"
                [items]="getSearchTypes()"
                formControlName="searchType"
                bindLabel="name"
                bindValue="value"
                notFoundText="Không tìm thấy mục nào"
                (change)="clearSearchTypeValue()"
                [clearable]="false"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.name }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-3">
          <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-9">
              <!--0: Ma san pham-->
              <ng-select
                *ngIf="formData.get('searchType')?.value == 0"
                [items]="listThuoc$ | async"
                [multiple]="true"
                [typeahead]="searchThuocTerm$"
                [minTermLength]="2"
                formControlName="thuocIds"
                appendTo="body"
                appearance="outline"
                bindLabel="maThuoc"
                placeholder="Nhập mã, mã vạch hoặc tên..."
                notFoundText="Không tìm thấy mục nào"
                typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                (change)="searchThuocTerm$.next('')"
              >
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenThuoc }}</span>
                  </ng-template>
              </ng-select>
              <!--1: Ma so phieu-->
              <input *ngIf="formData.get('searchType')?.value == 1" formControlName="soPhieu" type="text" placeholder="Nhập số phiếu vào đây..." class="form-control w-100" />
              <!--2: Nhan vien, Nguoi tiep nhan, Nguoi thuc hien-->
              <ng-select
                *ngIf="formData.get('searchType')?.value == 2"
                [items]="listNhanVien$ | async"
                [typeahead]="searchNhanVienTerm$"
                [minTermLength]="2"
                formControlName="createdByUserId"
                appendTo="body"
                appearance="outline"
                bindLabel="tenDayDu"
                bindValue="id"
                placeholder="Chọn hoặc gõ vào để tìm..."
                notFoundText="Không tìm thấy mục nào"
                typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                (change)="searchNhanVienTerm$.next('')"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenDayDu }}</span>
                </ng-template>
              </ng-select>
              <!--3: Dien giai-->
              <input *ngIf="formData.get('searchType')?.value == 3" formControlName="dienGiai" type="text" placeholder="Nhập diễn giải vào đây..." class="form-control w-100" />
              <!--4: So lo-->
              <input *ngIf="formData.get('searchType')?.value == 4" formControlName="soLo" type="text" placeholder="Nhập số lô vào đây..." class="form-control w-100" />
              <!--5: Han dung-->
              <input *ngIf="formData.get('searchType')?.value == 5" formControlName="hanDung" type="text" placeholder="Nhập hạn dùng vào đây..." class="form-control w-100" />
              <!--6: So hoa don-->
              <input *ngIf="formData.get('searchType')?.value == 6" formControlName="soHoaDon" type="text" placeholder="Nhập số hoá đơn vào đây..." class="form-control w-100" />
              <!--7: Ma don thuoc dien tu-->
              <input *ngIf="formData.get('searchType')?.value == 7" formControlName="maDonThuocDienTu" type="text" placeholder="Nhập mã đơn thuốc điện tử vào đây..." class="form-control w-100" />
              <!--8: Bac si-->
              <ng-select
                *ngIf="formData.get('searchType')?.value == 8"
                [items]="listBacSy$ | async"
                [typeahead]="searchBacSyTerm$"
                [minTermLength]="2"
                formControlName="idDoctor"
                appendTo="body"
                appearance="outline"
                bindLabel="tenBacSy"
                bindValue="id"
                placeholder="Chọn hoặc gõ vào để tìm..."
                notFoundText="Không tìm thấy mục nào"
                typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                (change)="searchBacSyTerm$.next('')"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenBacSy }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-3"
                  *ngIf="getNoteType() == LOAI_PHIEU.PHIEU_XUAT && autoSynchronizeDeliveryNote.activated">
          <div class="row">
            <div class="col-md-3">
              <label>Trạng thái phiếu</label>
            </div>
            <div class="col-md-9">
              <ng-select
                appendTo="body"
                appearance="outline"
                [items]="syncStatus"
                formControlName="synStatusId"
                bindLabel="name"
                bindValue="value"
                placeholder="--Tất cả--"
                notFoundText="Không tìm thấy mục nào"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.name }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-3"
                  *ngIf="[LOAI_PHIEU.PHIEU_NHAP,LOAI_PHIEU.PHIEU_TRA_LAI_NCC,LOAI_PHIEU.PHIEU_DU_TRU].includes(getNoteType())">
          <div class="row">
            <div class="col-md-3">
              <label>Nhà cung cấp</label>
            </div>
            <div class="col-md-9">
              <ng-select
                *ngIf="enableCustomerToSupplier.activated"
                [items]="listKhachHang$ | async"
                [typeahead]="searchKhachHangTerm$"
                [minTermLength]="2"
                formControlName="nhaCungCapMaNhaCungCap"
                appendTo="body"
                appearance="outline"
                bindLabel="tenKhachHang"
                placeholder="Nhập mã, mã vạch hoặc tên..."
                notFoundText="Không tìm thấy mục nào"
                typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                (change)="searchKhachHangTerm$.next('')"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenKhachHang }}</span>
                </ng-template>
              </ng-select>
              <ng-select
                *ngIf="!enableCustomerToSupplier.activated"
                [items]="listNCC$ | async"
                [typeahead]="searchNCCTerm$"
                [minTermLength]="2"
                formControlName="nhaCungCapMaNhaCungCap"
                appendTo="body"
                appearance="outline"
                bindLabel="tenNhaCungCap"
                placeholder="Nhập mã, mã vạch hoặc tên..."
                notFoundText="Không tìm thấy mục nào"
                typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                (change)="searchNCCTerm$.next('')"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenNhaCungCap }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-3"
                  *ngIf="[LOAI_PHIEU.PHIEU_XUAT,LOAI_PHIEU.PHIEU_NHAP_TU_KH,LOAI_PHIEU.PHIEU_KHAM_BENH,LOAI_PHIEU.PHIEU_DICH_VU,LOAI_PHIEU.PHIEU_CHO_KHAM,LOAI_PHIEU.PHIEU_THU_TIEN].includes(getNoteType())">
          <div class="row">
            <div class="col-md-3">
              <label>Khách hàng</label>
            </div>
            <div class="col-md-9">
              <ng-select
                [items]="listKhachHang$ | async"
                [typeahead]="searchKhachHangTerm$"
                [minTermLength]="2"
                formControlName="khachHangMaKhachHang"
                appendTo="body"
                appearance="outline"
                bindLabel="tenKhachHang"
                placeholder="Nhập mã, mã vạch hoặc tên..."
                notFoundText="Không tìm thấy mục nào"
                typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                (change)="searchKhachHangTerm$.next('')"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenKhachHang }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-3"
                  *ngIf="[LOAI_PHIEU.PHIEU_NHAP,LOAI_PHIEU.PHIEU_XUAT,LOAI_PHIEU.PHIEU_NHAP_TU_KH,LOAI_PHIEU.PHIEU_TRA_LAI_NCC].includes(getNoteType())">
          <div class="row">
            <div class="col-md-3">
              <label>Hình thức TT</label>
            </div>
            <div class="col-md-9">
              <ng-select
                appendTo="body"
                appearance="outline"
                [items]="paymentTypes"
                formControlName="paymentTypeId"
                bindLabel="name"
                bindValue="value"
                placeholder="--Tất cả--"
                notFoundText="Không tìm thấy mục nào"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.name }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </fieldset>
        <fieldset class="mb-3"
                  *ngIf="!isDeleted && ![LOAI_PHIEU.PHIEU_KHAM_BENH,LOAI_PHIEU.PHIEU_DICH_VU,LOAI_PHIEU.PHIEU_CHO_KHAM,LOAI_PHIEU.PHIEU_THU_TIEN,LOAI_PHIEU.PHIEU_DU_TRU].includes(getNoteType())">
          <div class="control-group">
            <div class="d-flex gap-5">
              <div class="form-check">
                <input type="checkbox"
                       [checked]="formData.get('recordStatusId')?.value === RECORD_STATUS.ARCHIVED"
                       class="form-check-input form-control"
                       (change)="onArchivedCheckedChanged($event)">
                <label class="form-check-label">Dữ liệu đóng băng</label>
              </div>
              <div class="form-check">
                <input type="checkbox"
                       [checked]="formData.get('recordStatusId')?.value === RECORD_STATUS.ACCEPTANCE_PENDING"
                       class="form-check-input form-control"
                       (change)="onAcceptancePendingCheckedChanged($event)">
                <label class="form-check-label">Đợi duyệt</label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="baocao-filter mb-3">
          <app-date-range-filter [filterType]="DATE_RANGE.ALL"
                                 [fromDateControl]="'fromDateCreate'"
                                 [toDateControl]="'toDateCreate'"
                                 (filterTypeChange)="changeFilterType($event)"
                                 (fromDateChange)="changeFromDate($event)"
                                 (toDateChange)="changeToDate($event)"
          ></app-date-range-filter>
          <button type="button" class="btn btn-primary w-100" (click)="searchPage()">Xem</button>
        </fieldset>
        <fieldset class="mb-3" *ngIf="!isDeleted">
          <label><b>Nhập/Xuất từ File</b></label>
          <div>
            <span class="control-group d-flex justify-content-between gap-10 btn-group-flex"
                  *ngIf="((getNoteType() == LOAI_PHIEU.PHIEU_NHAP || getNoteType() == LOAI_PHIEU.PHIEU_NHAP_TU_KH) && receiptNoteImportExcel)
                  || ((getNoteType() == LOAI_PHIEU.PHIEU_XUAT || getNoteType() == LOAI_PHIEU.PHIEU_TRA_LAI_NCC) && deliveryNoteImportExcel)
                  || (getNoteType() == LOAI_PHIEU.PHIEU_CHUYEN_KHO && transWarehouseImportExcel)">
                <input type="button" value="Tải file" class="btn btn-default w-50"
                       (click)="onImport()"/>
                <input type="button" value="Xuất file" (click)="onExport()"
                       class="btn btn-default w-50"/>
            </span>
            <div class="control-group d-flex justify-content-between gap-10 btn-group-flex" style="margin-top: 5px;">
              <span class="btn-outline flex-grow-1"
                    *ngIf="(getNoteType() == LOAI_PHIEU.PHIEU_NHAP || getNoteType() == LOAI_PHIEU.PHIEU_XUAT) && enableElectronicInvoice.activated">
                <input type="button" value="Tải HĐ" class="btn btn-warning w-100"
                       (click)="onImportInvoice()"/>
              </span>
              <span class="btn-outline flex-grow-1"
                    *ngIf="getNoteType() == LOAI_PHIEU.PHIEU_XUAT && autoSynchronizeDeliveryNote.activated">
                <button (click)="onSync()" class="btn btn-primary w-100">Đồng bộ HĐ</button>
              </span>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
  <div class="col-md-9">
    <div class="baocao-container box-group-white">
      <div class="d-flex baocao-header">
        <h2 class="text-uppercase"><b>{{ getTableTitle() }}</b></h2>
        <div *ngIf="formData.get('maNhaThuoc')?.value == getMaNhaThuoc()" class="baocao-actions">
          <button
            *ngIf="(isSuperUser() || isAdmin()) && getNoteType() == LOAI_PHIEU.PHIEU_XUAT && autoSynchronizeDeliveryNote.activated"
            type="button" (click)="onResetSyncMultiple()" class="btn btn-primary btn-sm pull-right">Resync
          </button>
          <button
            *ngIf="(getMaNhaThuoc() == '4479' || isSuperUser()) && getNoteType() == LOAI_PHIEU.PHIEU_XUAT"
            type="button" (click)="onExportMultipleInvoice()" class="btn btn-sm pull-right">Xuất HĐ
          </button>
          <button *ngIf="isSuperUser() || isAdmin()"
                  type="button" (click)="onDeleteMultiple()" class="btn btn-sm pull-right btn-danger">Xóa
          </button>
        </div>
      </div>
      <receipt-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_NHAP"
                          [formData]="formData"
                          [formDataChange]="formDataChange">
      </receipt-note-table>
      <delivery-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_XUAT"
                           [formData]="formData"
                           [formDataChange]="formDataChange">
      </delivery-note-table>
      <return-from-customer-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_NHAP_TU_KH"
                                       [formData]="formData"
                                       [formDataChange]="formDataChange">
      </return-from-customer-note-table>
      <return-to-supplier-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_TRA_LAI_NCC"
                                     [formData]="formData"
                                     [formDataChange]="formDataChange">
      </return-to-supplier-note-table>
      <warehouse-transfer-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_CHUYEN_KHO"
                                     [formData]="formData"
                                     [formDataChange]="formDataChange">
      </warehouse-transfer-note-table>
      <inventory-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_KIEM_KE"
                            [formData]="formData"
                            [formDataChange]="formDataChange">

      </inventory-note-table>
      <cancel-delivery-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_XUAT_HUY"
                                  [formData]="formData"
                                  [formDataChange]="formDataChange">
      </cancel-delivery-note-table>
      <reserve-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_DU_TRU"
                          [formData]="formData"
                          [formDataChange]="formDataChange">
      </reserve-note-table>
      <wait-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_CHO_KHAM"
                       [formData]="formData"
                       [formDataChange]="formDataChange">
      </wait-note-table>
      <medical-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_KHAM_BENH"
                          [formData]="formData"
                          [formDataChange]="formDataChange">
      </medical-note-table>
      <service-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_DICH_VU"
                          [formData]="formData"
                          [formDataChange]="formDataChange">
      </service-note-table>
      <receipt-medical-fee-note-table [hidden]="getNoteType() !== LOAI_PHIEU.PHIEU_THU_TIEN"
                                      [formData]="formData"
                                      [formDataChange]="formDataChange">
      </receipt-medical-fee-note-table>
    </div>
  </div>
</div>
