.pt-2 {
    padding-bottom: 0px;
}

.pt-5 {
    padding-top: 0px;
}

.background-cus {
    background-color: darkgrey;
}

.color-header {
    text-align: center;
    color: coral;
    padding: 0px;
    margin-top: -16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.btn-save {
    padding-bottom: 15px;
}

.pt-20 {
    padding-top: 2px;
}

.table-scoll {
    overflow-x: scroll;
    width: 400px;
}

#selectChoiceId {
    display: none;
    opacity: 1;
    position: absolute;
}