<div class="modal fade inmodal" id="criteria-business-dialog" tabindex='-1'>
    <div class="modal-dialog" style="width:80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    <b>Cập nhật tiêu chí triển khai: 0010 - Web nhà thuốc</b>
                    <a style="margin-right: 20px" ng-if="permittedFields.Update_Business" title="Thêm mới" 
                    data-toggle="modal" data-target="#criteria-business-add-edit-dialog" class="btn btn-primary pull-right" >
                        Thêm mới
                    </a>
                </h4>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <span style="font-weight: bold; font-size: 20px">Tình trạng triển khai: Đang triển khai</span>
                    </div>
                </div>
                <form role="form" class="form-horizontal">
                    <hr style="margin-top:0px" />

                    <div style="padding-bottom: 0">
                        <ul class="nav nav-tabs">
                            <li ng-class="isShow(checkTab==0)?'active':''">
                                <a data-toggle="tab" ng-click="showTab(0); $event.preventDefault(); $event.stopPropagation();">Thiết bị&nbsp;</a>
                            </li>
                            <li ng-class="isShow(checkTab==1)?'active':''">
                                <a data-toggle="tab" ng-click="showTab(1); $event.preventDefault(); $event.stopPropagation();">CSKH&nbsp;</a>
                            </li>
                            <li ng-class="isShow(checkTab==2)?'active':''">
                                <a  data-toggle="tab" ng-click="showTab(2); $event.preventDefault(); $event.stopPropagation();">Tính năng mua thêm&nbsp;</a>
                            </li>
                        </ul>
                        <div style="overflow-y: auto; height: 100%">
                            <table ng-show="checkTab==0" class="table" style="margin-bottom: 0;">
                                <tr ng-repeat="x in items">
                                    <td ng-if="x.Type==1"><label ng-click="addItem(x)" class="control-label">A</label></td>
                                    <td ng-if="x.Type==1">
                                        <input type="checkbox" class="form-control check-box" ng-disabled="!permittedFields.Update_Business" tabindex="0" ng-model="x.Active" />
                                    </td>
                                </tr>
                            </table>
                            <table ng-show="checkTab==1" class="table" style="margin-bottom: 0;">
                                <tr ng-repeat="x in items">
                                    <td ng-if="x.Type==2"><label ng-click="addItem(x)" class="control-label">B</label></td>
                                    <td ng-if="x.Type==2">
                                        <input type="checkbox" class="form-control check-box" ng-disabled="!permittedFields.Update_Business" tabindex="0" ng-model="x.Active" />
                                    </td>
                                </tr>
                            </table>
                            <table ng-show="checkTab==2" class="table" style="margin-bottom: 0;">
                                <tr ng-repeat="x in items">
                                    <td ng-if="x.Type==3"><label ng-click="addItem(x)" class="control-label">C</label></td>
                                    <td ng-if="x.Type==3">
                                        <input type="checkbox" class="form-control check-box" ng-disabled="!permittedFields.Update_Business" tabindex="0" ng-model="x.Active" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="!permittedFields.Update_Business" ng-click="updateBusiness(); $event.preventDefault(); $event.stopPropagation();">Cập nhật</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <div class="modal fade inmodal" id="criteria-business-add-edit-dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" ng-click="onCloseModal()" aria-label="Đóng"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><strong>Cập nhật tiêu chí triển khai</strong></h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-userpicker">
                                <tbody>
                                    <tr>
                                        <td><b>Tên tiêu chí triển khai:</b>
                                        <td>
                                            <input type="text" class="form-control" enter-key-capture="saveCriteriaBusiness()"
                                                   ng-model="criteriaBusinessModel.Name">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Nhóm tiêu chí triển khai:</b></td>
                                        <td>
                                            <select class="form-control" ng-model="criteriaBusinessModel.Type">
                                                <option ng-repeat="cd in typeBusiness" value="">
                                                    Nhóm a
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button ng-if="criteriaBusinessModel.Id == 0" type="button" class="btn btn-primary"
                            ng-click="saveCriteriaBusiness(); $event.preventDefault(); $event.stopPropagation();">
                        Thêm mới
                    </button>&nbsp;&nbsp;&nbsp;
                    <button ng-if="criteriaBusinessModel.Id > 0" type="button" class="btn btn-primary"
                            ng-click="saveCriteriaBusiness(); $event.preventDefault(); $event.stopPropagation();">
                        Cập nhật
                    </button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-default" ng-click="onCloseModal()">Đóng</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div><!-- /.modal -->
