<div class="row">
    <div class="col-md-3">
        <div class="sidebar-bg">
            <h2 class="title-section title-border">PHIẾU KIỂM KÊ CHI TIẾT</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>
                            <label class="mb-0">Mã phiếu: </label>
                        </td>
                        <td>
                            {{data.id}}
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <label class="mb-0">Người lập: </label>
                        </td>
                        <td>
                            {{data.createdByUseText}}
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <label class="mb-0">Ngày tạo: </label>
                        </td>
                        <td>
                            {{data.created | appDate}}
                        </td>
                    </tr>
    
                    <tr>
                        <td>
                            <label class="mb-0">Cân kho: </label>
                        </td>
                        <td ng-if="InventoryModel.DaCanKho" style="text-align : left">
                            <i [class]="data.daCanKho ? 'fa-regular fa-check text-success' : 'fa-regular fa-xmark text-danger'"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="canAction" class="d-flex justify-content-end align-items-center gap-10 flex-wrap mt-3">
                <a class="btn btn-default flex-grow-1" href="management/inventory/list">Quay lại</a>
                <a class="btn btn-default flex-grow-1" href="/Inventory/In/" target="_blank">In</a>
                <div *ngIf="!data.daCanKho">
                    <a class="btn btn-primary flex-grow-1" href="management/inventory/edit/{{idUrl}}">Sửa/Cân kho</a>
                </div>
                <button class="btn flex-grow-1 btn-danger" (click)="delete('Bạn có chắc chắn muốn xóa phiếu kiểm kê có mã ' + data.id, data)">Xóa</button>
                <button class="btn btn-primary flex-grow-1" ng-show="InventoryModel.NhaThuoc_MaNhaThuoc == '7892'" ng-click="onExportExcel()">Xuất Excel</button>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box-group-white baocao-container">
            <h2 class="text-center"><b>Danh sách thuốc</b></h2>
            <div class="mat-table-container">
                <table mat-table
                       class="table table-striped table-bordered table-hover tr-ng-grid"
                       [dataSource]="data.chiTiets" matSort>
                  <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef>
                      <div class="text-left">
                        STT
                      </div>
                    </th>
                    <td mat-cell *matCellDef="let data; index as i;">
                      <div class="text-right">
                        {{i + 1 }}
                      </div>
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="nhomThuoc">
                    <th mat-header-cell *matHeaderCellDef>Nhóm thuốc</th>
                    <td mat-cell *matCellDef="let data">
                      <div>
                        {{data.tenNhomThuoc}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="maThuoc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mã thuốc</th>
                    <td mat-cell *matCellDef="let data">
                      <div>
                        {{data.maThuoc}}
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="tenThuoc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tên thuốc</th>
                    <td mat-cell *matCellDef="let data">
                      <div class="text-left">{{ data.tenThuoc }}</div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="donVi">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Đơn vị tính</th>
                    <td mat-cell *matCellDef="let data">
                      <div class="text-left">{{ data.tenDonViTinhLe }}</div>
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="slHeThong">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SL hệ thống</th>
                    <td mat-cell *matCellDef="let data">
                      <div class="text-right">{{ data.tonKho | number }}</div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="slThuc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> SL thực</th>
                    <td mat-cell *matCellDef="let data">
                        <div class="text-right">{{ (data.thucTe ? data.thucTe : 0) | number }}</div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="chenhLech">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Chênh lệch</th>
                    <td mat-cell *matCellDef="let data">
                      <div class="text-right">{{ (data.thucTe - data.tonKho) | number }}</div>
                    </td>
                  </ng-container>

              
                  <ng-container matColumnDef="giaKiemKe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Giá kiểm kê</th>
                    <td mat-cell *matCellDef="let data">
                      <div class="text-right">{{ data.donGia }}</div>
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="loHan">
                    <th mat-header-cell *matHeaderCellDef>
                      Giá/Lô/Hạn
                    </th>
                    <td mat-cell *matCellDef="let data">
                      <div class="text-center">
                        <button class="btn btn-primary btn-sm" (click)="openInventoryItemUpdateDialog(data)"><i class="fa-regular fa-calendar-days"></i></button>
                      </div>
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                     Xoá
                    </th>
                    <td mat-cell *matCellDef="let data">
                        <div class="baocao-actions">
                            <button (click)="xacNhanXoaChiTiet(data)" class="btn btn-sm btn-danger"><i class="fa-regular fa-trash"></i></button>
                        </div>
                    </td>
                  </ng-container>
              
                  <ng-container matColumnDef="footer">
                    <td mat-footer-cell *matFooterCellDef colspan="100"
                    class="hidden">
                      <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
                                      (pageChange)="changePageIndex($event)"
                                      (pageSizeChange)="changePageSize($event)"></app-pagination>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color': getRowColor(row)}"></tr>
                  <tr mat-footer-row *matFooterRowDef="['footer']"></tr>
              
                </table>
              </div>
        </div>

        <br />

        <div *ngIf="data.daCanKho" class="box-group-white">
            <fieldset>
                <label>Phiếu nhập/xuất sau cân kho</label>
                <div>
                    <table class="table table-responsive table-bordered" id="tbl">
                        <thead>
                            <tr>
                                <th style="background-color:darkgray">#</th>
                                <th style="background-color:darkgray">Số phiếu</th>
                                <th style="background-color:darkgray">Loại phiếu</th>
                                <th style="text-align: right; background-color:darkgray">
                                    Số lượng mặt hàng
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of phieuBuNhapXuat; index as i">
                                <td>
                                    {{i  +1}}
                                </td>
                                <td>
                                    <div>
                                        <label *ngIf="item.soLuongThuoc == 0">N/A</label>
                                        <a *ngIf="item.soLuongThuoc > 0" (click)="getDetail(item)">
                                          {{item.soPhieu}}
                                      </a>
                                    </div>
                                </td>
                                <td>
                                    <span>{{item.loaiPhieu}}</span>
                                </td>
                                <td style="text-align: right"><span class="chenhlech">
                                    {{item.soLuongThuoc | number}}
                                </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
