<div class="modal inmodal ng-scope" tabindex="-1" role="dialog" aria-hidden="false"
     ng-controller="noticeDialogController" id="noticeDialog" data-backdrop="static">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="onClose(); $event.preventDefault(); $event.stopPropagation();"><i
          class="fa-solid fa-xmark"></i></button>
        <h4 class="modal-title ng-binding"></h4>
      </div>
      <div class="modal-body">
        <p style="word-wrap: break-word" class="ng-binding">
        </p>
      </div>

      <!-- ngIf: model.type=='confirm' -->

      <!-- ngIf: model.type=='alert' -->
    </div>
  </div>
</div>


<div class="modal fade inmodal view-dialog ng-scope" id="system-messages-dialog"
     ng-controller="SystemMessagesController" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Đóng"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title"><b>Cảnh báo hệ thống</b></h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table tr-ng-grid="" items="model.items" display-total-items-count="true" id="system-messages-table"
                 locale="en"
                 class="table table-striped table-responsive table-bordered table-hover ng-isolate-scope tr-ng-grid"
                 selection-mode="None" current-page="setCurrentPage" enable-filtering="false" enable-sorting="false"
                 page-items="model.pageSize" total-items="model.totalItems">
            <thead class="ng-scope">
            <tr>
              <th display-name="#" tr-ng-grid-header-cell="0"
                  ng-style="{'width':columnOptions.cellWidth,'height':columnOptions.cellHeight}" class="ng-scope">
                <div class="tr-ng-column-header tr-ng-cell" ng-switch="isCustomized" tr-ng-grid-header-cell-template="">
                  <!-- ngSwitchWhen: true -->  <!-- ngSwitchDefault:  -->
                  <div ng-switch-default="" class="ng-scope">
                    <div class="tr-ng-title ng-binding"> #
                      <div ng-attr-title="test"
                           ng-show="(gridOptions.enableSorting&amp;&amp;columnOptions.enableSorting!==false)||columnOptions.enableSorting"
                           ng-click="toggleSorting(columnOptions.fieldName)" class="tr-ng-sort ng-hide"
                           tr-ng-grid-column-sort="" title="Sort">
                        <div
                          ng-class="{'tr-ng-sort-active text-info':gridOptions.orderBy==columnOptions.fieldName,'tr-ng-sort-inactive text-muted glyphicon glyphicon-chevron-down':gridOptions.orderBy!=columnOptions.fieldName,'tr-ng-sort-order-normal glyphicon glyphicon-chevron-up':gridOptions.orderBy==columnOptions.fieldName&amp;&amp;!gridOptions.orderByReverse,'tr-ng-sort-order-reverse glyphicon glyphicon-chevron-down':gridOptions.orderBy==columnOptions.fieldName&amp;&amp;gridOptions.orderByReverse}"
                          class="tr-ng-sort-active text-info tr-ng-sort-order-normal glyphicon glyphicon-chevron-up"></div>
                      </div>
                    </div>
                    <div
                      ng-show="(gridOptions.enableFiltering&amp;&amp;columnOptions.enableFiltering!==false)||columnOptions.enableFiltering"
                      class="tr-ng-column-filter ng-hide" tr-ng-grid-column-filter="">
                      <div class=""><input class="form-control input-sm ng-pristine ng-untouched ng-valid" type="text"
                                           ng-model="columnOptions.filter"
                                           ng-keypress="speedUpAsyncDataRetrieval($event)"></div>
                    </div>
                  </div><!-- end ngSwitchWhen: --></div>
              </th>
              <th display-name="Nội dung" tr-ng-grid-header-cell="1"
                  ng-style="{'width':columnOptions.cellWidth,'height':columnOptions.cellHeight}" class="ng-scope">
                <div class="tr-ng-column-header tr-ng-cell" ng-switch="isCustomized" tr-ng-grid-header-cell-template="">
                  <!-- ngSwitchWhen: true -->  <!-- ngSwitchDefault:  -->
                  <div ng-switch-default="" class="ng-scope">
                    <div class="tr-ng-title ng-binding"> Nội dung
                      <div ng-attr-title="test"
                           ng-show="(gridOptions.enableSorting&amp;&amp;columnOptions.enableSorting!==false)||columnOptions.enableSorting"
                           ng-click="toggleSorting(columnOptions.fieldName)" class="tr-ng-sort ng-hide"
                           tr-ng-grid-column-sort="" title="Sort">
                        <div
                          ng-class="{'tr-ng-sort-active text-info':gridOptions.orderBy==columnOptions.fieldName,'tr-ng-sort-inactive text-muted glyphicon glyphicon-chevron-down':gridOptions.orderBy!=columnOptions.fieldName,'tr-ng-sort-order-normal glyphicon glyphicon-chevron-up':gridOptions.orderBy==columnOptions.fieldName&amp;&amp;!gridOptions.orderByReverse,'tr-ng-sort-order-reverse glyphicon glyphicon-chevron-down':gridOptions.orderBy==columnOptions.fieldName&amp;&amp;gridOptions.orderByReverse}"
                          class="tr-ng-sort-active text-info tr-ng-sort-order-normal glyphicon glyphicon-chevron-up"></div>
                      </div>
                    </div>
                    <div
                      ng-show="(gridOptions.enableFiltering&amp;&amp;columnOptions.enableFiltering!==false)||columnOptions.enableFiltering"
                      class="tr-ng-column-filter ng-hide" tr-ng-grid-column-filter="">
                      <div class=""><input class="form-control input-sm ng-pristine ng-untouched ng-valid" type="text"
                                           ng-model="columnOptions.filter"
                                           ng-keypress="speedUpAsyncDataRetrieval($event)"></div>
                    </div>
                  </div><!-- end ngSwitchWhen: --></div>
              </th>
              <th display-name="" tr-ng-grid-header-cell="2"
                  ng-style="{'width':columnOptions.cellWidth,'height':columnOptions.cellHeight}" class="ng-scope">
                <div class="tr-ng-column-header tr-ng-cell" ng-switch="isCustomized" tr-ng-grid-header-cell-template="">
                  <!-- ngSwitchWhen: true -->  <!-- ngSwitchDefault:  -->
                  <div ng-switch-default="" class="ng-scope">
                    <div class="tr-ng-title ng-binding">
                      <div ng-attr-title="test"
                           ng-show="(gridOptions.enableSorting&amp;&amp;columnOptions.enableSorting!==false)||columnOptions.enableSorting"
                           ng-click="toggleSorting(columnOptions.fieldName)" class="tr-ng-sort ng-hide"
                           tr-ng-grid-column-sort="" title="Sort">
                        <div
                          ng-class="{'tr-ng-sort-active text-info':gridOptions.orderBy==columnOptions.fieldName,'tr-ng-sort-inactive text-muted glyphicon glyphicon-chevron-down':gridOptions.orderBy!=columnOptions.fieldName,'tr-ng-sort-order-normal glyphicon glyphicon-chevron-up':gridOptions.orderBy==columnOptions.fieldName&amp;&amp;!gridOptions.orderByReverse,'tr-ng-sort-order-reverse glyphicon glyphicon-chevron-down':gridOptions.orderBy==columnOptions.fieldName&amp;&amp;gridOptions.orderByReverse}"
                          class="tr-ng-sort-active text-info tr-ng-sort-order-normal glyphicon glyphicon-chevron-up"></div>
                      </div>
                    </div>
                    <div
                      ng-show="(gridOptions.enableFiltering&amp;&amp;columnOptions.enableFiltering!==false)||columnOptions.enableFiltering"
                      class="tr-ng-column-filter ng-hide" tr-ng-grid-column-filter="">
                      <div class=""><input class="form-control input-sm ng-pristine ng-untouched ng-valid" type="text"
                                           ng-model="columnOptions.filter"
                                           ng-keypress="speedUpAsyncDataRetrieval($event)"></div>
                    </div>
                  </div><!-- end ngSwitchWhen: --></div>
              </th>
            </tr>
            </thead>
            <tfoot class="ng-scope">
            <tr>
              <td tr-ng-grid-footer-cell="0"
                  ng-style="{'width':columnOptions.cellWidth,'height':columnOptions.cellHeight}" class="ng-scope"
                  colspan="3">
                <div class="tr-ng-grid-footer form-inline" ng-switch="isCustomized" tr-ng-grid-footer-cell-template="">
                  <!-- ngSwitchWhen: true -->  <!-- ngSwitchDefault:  -->
                  <div ng-switch-default="" class="ng-scope"><span tr-ng-grid-global-filter=""><span
                    ng-show="gridOptions.enableFiltering" class="pull-left form-group ng-hide">  <input
                    class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="gridOptions.filterBy"
                    ng-keypress="speedUpAsyncDataRetrieval($event)"
                    ng-attr-placeholder="test" placeholder="Search"></span></span>
                    <span class="pull-right form-group" tr-ng-grid-pager=""> <ul class="pagination">   <!-- ngIf: extendedControlsActive -->
                      <!-- ngIf: extendedControlsActive -->
                      <!-- ngRepeat: pageIndex in pageIndexes track by $index -->
                      <!-- ngIf: extendedControlsActive -->   <!-- ngIf: extendedControlsActive -->   <li
                        class="disabled" style="white-space: nowrap;">     <span
                        ng-hide="totalItemsCount || !displayTotalItemsCount" class="ng-binding">Không có dữ liệu</span>     <span
                        ng-show="totalItemsCount &amp;&amp; displayTotalItemsCount" class="ng-hide">       <span
                        class="ng-binding">Tổng: 0 bản ghi</span>     </span>    </li> </ul></span></div>
                  <!-- end ngSwitchWhen: --></div>
              </td>
            </tr>
            </tfoot>
            <tbody tr-ng-grid-body="" class="ng-scope"><!-- ngRepeat: gridDisplayItem in filteredItems --></tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade inmodal ng-scope" id="form-feedback-cus-dialog" ng-controller="FeedbackCustomerDialogController"
     tabindex="-1">
  <div class="modal-dialog w-dialog" id="set-witdh-modal">
    <div class="modal-content border-radius-form" id="contents">

<!--      <div class="modal-header txt-align-feedback" ng-show="!feedbackSucces">-->
<!--        <h4 class="modal-title"><b>Tiếp nhận yêu cầu khách hàng</b>-->
<!--          <button type="button" class="close" data-dismiss="modal">×</button>-->
<!--        </h4>-->
<!--        <h5 class="text-center mb-0 mt-0"><i>(Hỗ trợ từ 8h-22h các ngày trong tuần)</i></h5>-->
<!--      </div>-->

      <div class="modal-body back-ground-color-content font-size-form content-scroll">
        <div ng-show="!feedbackSucces">
          <p class="txt-align-feedback mb-0">Đánh giá mức độ thuận tiện của phần mềm</p>
          <div class="rating format-star-size">
            <!-- ngRepeat: i in stars --><span ng-repeat="i in stars" ng-click="onMarkStar(i)" class="ng-scope">
                            <span ng-bind-html="i.value" title="Rất dễ" class="txt-align-feedback ">✩</span>
                        </span><!-- end ngRepeat: i in stars --><span ng-repeat="i in stars" ng-click="onMarkStar(i)"
                                                                      class="ng-scope">
                            <span ng-bind-html="i.value" title="Dễ" class="txt-align-feedback ">✩</span>
                        </span><!-- end ngRepeat: i in stars --><span ng-repeat="i in stars" ng-click="onMarkStar(i)"
                                                                      class="ng-scope">
                            <span ng-bind-html="i.value" title="Trung bình" class="txt-align-feedback ">✩</span>
                        </span><!-- end ngRepeat: i in stars --><span ng-repeat="i in stars" ng-click="onMarkStar(i)"
                                                                      class="ng-scope">
                            <span ng-bind-html="i.value" title="khó" class="txt-align-feedback ">✩</span>
                        </span><!-- end ngRepeat: i in stars --><span ng-repeat="i in stars" ng-click="onMarkStar(i)"
                                                                      class="ng-scope">
                            <span ng-bind-html="i.value" title="Rất khó" class="txt-align-feedback ">✩</span>
                        </span><!-- end ngRepeat: i in stars -->
          </div>
          <div>
            Số điện thoại
            <input class="form-control ng-pristine ng-untouched ng-valid" ng-model="model.Phone">
          </div>
          <div>
            <div>Chọn yêu cầu cần hỗ trợ</div>
            <div class="row" style="margin-left: 0;">
              <!-- ngRepeat: item in lstRequests --><p class="form-check form-check-label col-md-6 ng-binding ng-scope"
                                                       style="margin: 5px 0 5px; padding: 0px !important "
                                                       ng-repeat="item in lstRequests">
              <input type="radio" class="form-check-input" ng-checked="item.id == requestCustomer"
                     ng-click="onRequestChanged(item)" name="optradio">Hỗ trợ Nhập hàng
            </p><!-- end ngRepeat: item in lstRequests --><p
              class="form-check form-check-label col-md-6 ng-binding ng-scope"
              style="margin: 5px 0 5px; padding: 0px !important " ng-repeat="item in lstRequests">
              <input type="radio" class="form-check-input" ng-checked="item.id == requestCustomer"
                     ng-click="onRequestChanged(item)" name="optradio">Hỗ trợ Bán hàng
            </p><!-- end ngRepeat: item in lstRequests --><p
              class="form-check form-check-label col-md-6 ng-binding ng-scope"
              style="margin: 5px 0 5px; padding: 0px !important " ng-repeat="item in lstRequests">
              <input type="radio" class="form-check-input" ng-checked="item.id == requestCustomer"
                     ng-click="onRequestChanged(item)" name="optradio">Hỗ trợ Liên thông
            </p><!-- end ngRepeat: item in lstRequests --><p
              class="form-check form-check-label col-md-6 ng-binding ng-scope"
              style="margin: 5px 0 5px; padding: 0px !important " ng-repeat="item in lstRequests">
              <input type="radio" class="form-check-input" ng-checked="item.id == requestCustomer"
                     ng-click="onRequestChanged(item)" name="optradio">Hỗ trợ các Báo cáo
            </p><!-- end ngRepeat: item in lstRequests --><p
              class="form-check form-check-label col-md-6 ng-binding ng-scope"
              style="margin: 5px 0 5px; padding: 0px !important " ng-repeat="item in lstRequests">
              <input type="radio" class="form-check-input" ng-checked="item.id == requestCustomer"
                     ng-click="onRequestChanged(item)" name="optradio">Hỗ trợ Kiểm kê
            </p><!-- end ngRepeat: item in lstRequests --><p
              class="form-check form-check-label col-md-6 ng-binding ng-scope"
              style="margin: 5px 0 5px; padding: 0px !important " ng-repeat="item in lstRequests">
              <input type="radio" class="form-check-input" ng-checked="item.id == requestCustomer"
                     ng-click="onRequestChanged(item)" name="optradio">Hỗ trợ về Lợi nhuận
            </p><!-- end ngRepeat: item in lstRequests --><p
              class="form-check form-check-label col-md-6 ng-binding ng-scope"
              style="margin: 5px 0 5px; padding: 0px !important " ng-repeat="item in lstRequests">
              <input type="radio" class="form-check-input" ng-checked="item.id == requestCustomer"
                     ng-click="onRequestChanged(item)" name="optradio">Hỗ trợ về Tồn kho
            </p><!-- end ngRepeat: item in lstRequests --><p
              class="form-check form-check-label col-md-6 ng-binding ng-scope"
              style="margin: 5px 0 5px; padding: 0px !important " ng-repeat="item in lstRequests">
              <input type="radio" class="form-check-input" ng-checked="item.id == requestCustomer"
                     ng-click="onRequestChanged(item)" name="optradio">Hỗ trợ về Tích điểm, trả điểm
            </p><!-- end ngRepeat: item in lstRequests --><p
              class="form-check form-check-label col-md-6 ng-binding ng-scope"
              style="margin: 5px 0 5px; padding: 0px !important " ng-repeat="item in lstRequests">
              <input type="radio" class="form-check-input" ng-checked="item.id == requestCustomer"
                     ng-click="onRequestChanged(item)" name="optradio" checked="checked">Yêu cầu khác...
            </p><!-- end ngRepeat: item in lstRequests -->
            </div>
          </div>
          <div id="infor-customer">
            <div ng-show="requestCustomer == 100">
              <div>
                <!-- ngIf: isViewIcon -->
                <span style="cursor: pointer" class="pull-right ng-binding" title="Thả cảm xúc" ng-click="onShowIcon()">😶</span>
              </div>
              <textarea class="form-control w-100 ng-pristine ng-untouched ng-valid" style="height: 100px;"
                        ng-model="model.Content" placeholder="Yêu cầu khác..."></textarea>
            </div>
            <div id="infor-phone">
              <div class="mt-2">
                Tải ảnh lên
                <div class="d-flex gap-5">
                  <div onclick="$event.preventDefault();" class="flex-grow-1">
                    <button class="btn btn-primary btn-sm "
                            ng-click="onUploadImageDialog(); $event.preventDefault(); $event.stopPropagation();"><i
                      class="fa-solid fa-folder-arrow-up"></i></button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="text-center">
            <a ng-show="model.ImageThumbUrl" data-fancybox="0" href="" data-caption="Ảnh yêu cầu hỗ trợ"
               class="ng-hide">
              <img ng-src="" alt="">
            </a>
          </div>
          <div>
            <span type="button" class="btn btn-primary w-100 btn-radius-form" id="sent"
                  ng-click="onSendFeedback()">Gửi</span>
          </div>
        </div>
        <div ng-show="feedbackSucces" class="form-success-border-radius ng-hide">
          <div class="form form-feedback-success">
            <i aria-hidden="true">✔</i><br>
            <label>Cảm ơn bạn đã đánh giá !</label>
          </div>
          <div>
            <span class="btn btn-primary w-100 btn-radius-form" ng-click="onFinish()">Xong</span>
          </div>
        </div>
      </div>
      <div class="btn-save-last modal-footer txt-align-feedback" ng-show="!feedbackSucces">
        <span class="btn-save-last" ng-click="onSendLast()">Để sau</span>
      </div>
    </div><!-- /.modal-content -->
  </div>

</div>


<div class="modal fade inmodal" id="form-link-mobile-dialog" tabindex="-1">
  <div class="modal-dialog w-dialog" id="set-witdh-modal">
    <div class="modal-content border-radius-form" id="contents">

      <div class="modal-header txt-align-feedback">
        <h4 class="modal-title"><b>Tải app trên thiết bị di động</b>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </h4>
      </div>

      <div style="overflow-y: auto" class="modal-body back-ground-color-content font-size-form text-center">
        <b>SỬ DỤNG ĐIỆN THOẠI QUÉT MÃ VẠCH ĐỂ CÀI ĐẶT</b>
        <div>
          <div class="col-md-4 text-center">
            <img style="height: 200px; width: 200px" src="/assets/images/link_android.jpg"
                 title="quét mã vạch để tải app Android">
            <br>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.webnhathuoc.app">
              <img src="/assets/images/google_play_img.svg" title="google" alt="google" class="img-link"
                   data-was-processed="true">
            </a>
          </div>
          <div class="col-md-4 text-center">
            <img style="height: 200px; width: 200px" src="/assets/images/link_ios.jpg"
                 title="quét mã vạch để tải app IOS"><br>
            <a target="_blank" href="https://apps.apple.com/us/app/web-nh%C3%A0-thu%E1%BB%91c/id6443584443">
              <img src="/assets/images/apple_store_img.svg" title="apple" alt="google" class="img-link"
                   data-was-processed="true">
            </a>
          </div>
          <div class="col-md-4 text-center">
            <img style="height: 200px; width: 200px" src="/assets/images/link_huawei.jpg"
                 title="quét mã vạch để tải app Huawei"><br>
            <a target="_blank" href="https://appgallery.huawei.com/#/app/C107203975">
              <img src="/assets/images/huawei_app_img.svg" title="huawei" alt="google" class="img-link"
                   data-was-processed="true">
            </a>
          </div>
        </div>
      </div>
      <div class="btn-save-last modal-footer txt-align-feedback">
        <span class="btn-save-last" data-dismiss="modal">Để sau</span>
      </div>
    </div><!-- /.modal-content -->
  </div>

</div>

<div class="modal fade inmodal" id="form-how-to-use-dialog" tabindex="-1">
  <div class="modal-dialog w-dialog w-70" id="set-witdh-modal">
    <div class="modal-content border-radius-form" id="contents">

      <div class="modal-header txt-align-feedback">
        <h4 class="modal-title"><b>Hướng dẫn sử dụng liên thông</b>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </h4>
      </div>

      <div style="overflow-y: auto;" class="modal-body back-ground-color-content font-size-form text-center">
        <div style="display: inline-grid; padding: 10px">
          <b>1.Hướng dẫn qua Web</b>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/aBz2nEe1oz0?si=1GUzVoWZbzoUkMko"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen=""></iframe>
        </div>
        <div style="display: inline-grid; padding: 10px">
          <b>2.Hướng dẫn qua App</b>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/QfQXLqAPs_U?si=UKK5eficsjuAA_fb"
                  title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  allowfullscreen=""></iframe>
        </div>
      </div>
      <div class="btn-save-last modal-footer txt-align-feedback">
        <span class="btn-save-last" data-dismiss="modal">Để sau</span>
      </div>
    </div><!-- /.modal-content -->
  </div>

</div>

<nav class="navbar navbar-default header-main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="navbar-header-wnt">
          <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span
            class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          <div class="navbar-header-wnt-brand">
            <div id="header-wnt-brand" class="mb-0" title="Quản lý">
              <a href="/" style="padding-right: 8px">{{ getTenNhaThuoc() ?? 'Chưa chọn cơ sở' }}</a>
            </div>
          </div>
          <div class="navbar-header-hotline">
            <ul class="nav">
              <li class="dropdown menu">
                <a id="on-open-form-link-mobile" style="color: black">
                  <b>Link tải App</b>
                  <i style="color: #35a6ca" class="fa-solid fa-mobile-screen-button"></i>
                </a>
              </li>
              <li class="dropdown menu">
                <a style="color: black" href="/Community">
                  <b>Cộng đồng</b>
                  <i class="fas fa-video" style="color: #029eff;"></i>
                </a>
              </li>
              <li class="dropdown menu">
                <a style="color: black" href="/ConvenientShop">
                  <b>Cửa hàng tiện ích</b>
                  <i style="color: #35a6ca" class="fa-solid fa-store"></i>
                </a>
              </li>
              <li class="dropdown menu">


              </li>
              <li class="dropdown menu">

                <a title="Số tổng đài chăm sóc khách hàng" href="tel:0346588983" role="button"
                   class="dropdown-toggle alo_menu">0346 588 983<i class="fa-solid fa-phone"></i></a>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('business', 'block') "
                  (mouseleave)="mouseLeave('business','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle alo_menu">Kinh
                  doanh <i class="fa-solid fa-phone"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('business')">
                  <li><a href="tel:0374452196">Kd1: 0374 452 196</a></li>
                  <li><a href="tel:0373769465">Kd2: 0373 769 465</a></li>
                  <li><a href="tel:0343624338">Kd3: 0343 624 338</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('zalo', 'block') "
                  (mouseleave)="mouseLeave('zalo','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle alo_menu">Chat Zalo <i class="fa-regular fa-messages"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('zalo')"
                    style="left: -95px; display: none; opacity: 1;">
                  <li><a target="_blank" href="https://zalo.me/g/zyzhvk429">Nhóm Zalo khu vực Hà Nội</a></li>
                  <li><a target="_blank" href="https://zalo.me/0342918680">Zalo cá nhân: 0342918680</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-header-bottom nav-wnt-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div style="padding-left: 0px" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-wnt">
              <li>
                <a href="/management/home">
                  <strong style="color:#fff">WEB </strong>
                  <strong id="middle-name" style="color:orange">NHÀ </strong>
                  <strong id="last-name" style="color:#28CC28">THUỐC </strong>
                  <strong style="color:#fff">{{getMuNhaThuoc()}}</strong></a>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('system', 'block') "
                  (mouseleave)="mouseLeave('system','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="true"
                   class="dropdown-toggle">Hệ Thống
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('system')">
                  <li><a href="/management/account/list">Quản lý người dùng</a></li>
                  <li><a href="/management/drug-store/list">Quản lý nhà thuốc</a></li>
                  <li><a href="/management/drug-store/trien-khai">Báo cáo triển khai</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/notification/notification-list">Danh sách thông báo</a></li>
                  <li><a href="/management/notification/system-notification-list">Danh sách thông báo hệ thống</a></li>
                  <li class="divider"></li>
                  <li><a href="/System/SystemTools">Công cụ hệ thống</a></li>
                  <li><a href="/Utilities/ConfirmMappingData">Danh sách thuốc tham chiếu</a></li>
                  <li class="divider"></li>
                  <li><a href="/ConvenientShop/ConvenientOrderListing">Quản lý đăng ký sử dụng tiện ích</a></li>
                  <li><a href="/Utilities/FeedbackFromCustomer">Quản lý đóng góp ý kiến khách hàng</a></li>
                  <li class="divider"></li>
                  <li><a target="_blank" href="https://drive.google.com/drive/folders/1ntTFGo7zWlxVUWiHWBbnTCYYOSdzm0el?usp=sharing" title="Tài liệu nội bộ dành cho nhân viên công ty WEB NHÀ THUỐC">Tài liệu nội bộ</a></li>
                  <li><a target="_blank" href="http://crm.webnhathuoc.com:8069/web/login">Hệ thống CRM nội bộ</a></li>
                  <li class="divider"></li>
                  <li><a href="https://duocquocgia.com.vn/" target="_blank">Dược quốc gia</a></li>
                  <li><a href="openElitLog:elitLog">App nhiệt ẩm kế</a></li>
                  <li class="divider"></li>
                  <li><a href="/Utilities/MappingData">Tham chiếu dữ liệu</a></li>
                  <li><a href="/DrugManagement/NewDrugMappingListing">Tham chiếu thuốc mới</a></li>
                  <li><a href="/management/account/staff-list">Danh sách nhân viên</a></li>
                  <li><a href="/System/AppSettings">Tùy chọn</a></li>
                  <li><a href="management/account/choose-nha-thuoc">Đổi cơ sở</a></li>
                  <li><a (click)="openDrugStoreInfoDialog()">Thông tin cơ sở</a></li>
                  <li><a (click)="openChangePasswordDialog()">Đổi mật khẩu</a></li>
                  <li><a href="/login">Đăng xuất</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('doctor', 'block') "
                  (mouseleave)="mouseLeave('doctor','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Khám bệnh
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('doctor')">
                  <li><a href="/management/medical-note/wait-list">Tiếp đón bệnh nhân</a></li>
                  <li><a href="/management/medical-note/add">Lập phiếu khám</a></li>
                  <li><a href="/management/medical-note/list">Danh sách phiếu khám</a></li>
                  <li><a href="/management/medical-note/history-list">Lịch sử khám chữa bệnh</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/receipt-medical-fee/add">Viết phiếu thu tiền khám bệnh</a></li>
                  <li><a href="/management/receipt-medical-fee/list">Danh sách thu tiền khám bệnh</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/clinic/list">Phòng khám</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('service', 'block') "
                  (mouseleave)="mouseLeave('service','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Dịch vụ
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('service')">
                  <li><a href="/management/service-group/list">Nhóm dịch vụ</a></li>
                  <li><a href="/management/service/list">Danh sách dịch vụ</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/service-note/add">Lập mới phiếu dịch vụ</a></li>
                  <li><a href="/management/service-note/list">Danh sách phiếu dịch vụ</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/service-note/wait-list">Danh sách dịch vụ chờ thực hiện</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('in-out', 'block') "
                  (mouseleave)="mouseLeave('in-out','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Nhập Xuất
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('in-out')">
                  <li><a href="/management/note-management/delivery-note-screen">Bán hàng</a></li>
                  <li><a href="/management/note-management/delivery-note-es-screen">Bán hàng với đơn thuốc điện tử</a>
                  </li>
                  <li><a href="/management/note-management/delivery-note-barcode-screen">Bán hàng, cắt liều với mã vạch</a></li>

                  <li><a href="/management/note-management/receipt-note-screen">Nhập hàng</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/note-management/return-from-customer-note-screen">Khách hàng trả
                    lại</a></li>
                  <li><a href="/management/note-management/warehouse-transfer-note-screen">Chuyển kho</a>
                  </li>
                  <li><a href="/management/note-management/return-to-supplier-note-screen">Trả lại nhà cung
                    cấp</a></li>
                  <li><a href="/management/note-management/cancel-delivery-note-screen">Xuất hủy</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/note-management/list">Danh sách phiếu Nhập-Xuất</a></li>
                  <li><a href="/management/note-management/deleted-list">Khôi phục các chứng từ bị xóa</a></li>

                  <li class="divider"></li>
                  <li><a href="/management/connectivity/list">Quản lý LT</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/einvoice-management/cmc">Quản lý Hoá đơn</a></li>
                  <li><a href="/management/einvoice-management/vnpt">Quản lý Hoá đơn</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('revenue-expenditure', 'block') "
                  (mouseleave)="mouseLeave('revenue-expenditure','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Thu - Chi
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('revenue-expenditure')">
                  <li><a href="/management/in-out-note/list?loaiPhieu={{LOAI_THU_CHI.THU_NO_KHACH_HANG}}&taoPhieu={{LOAI_THU_CHI.THU_NO_KHACH_HANG}}">Viết phiếu thu nợ khách hàng</a>
                  </li>
                  <li><a href="/management/in-out-note/list?loaiPhieu={{LOAI_THU_CHI.CHI_TRA_NO_NHA_CUNG_CAP}}&taoPhieu={{LOAI_THU_CHI.CHI_TRA_NO_NHA_CUNG_CAP}}">Viết phiếu trả nợ nhà cung cấp</a>
                  </li>
                  <li><a href="/management/in-out-note/list?loaiPhieu={{LOAI_THU_CHI.THU_KHAC}}&taoPhieu={{LOAI_THU_CHI.THU_KHAC}}">Nhập các khoản thu chi khác</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="/management/in-out-note/list">Danh sách phiếu Thu-Chi</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('merchandise', 'block') "
                  (mouseleave)="mouseLeave('merchandise','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Hàng Hóa
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('merchandise')">
                  <li><a href="/management/warehouse-location/list">Vị trí tủ/kho</a></li>
                  <li><a href="/management/drug-unit/list">Đơn vị tính</a></li>
                  <li><a href="/management/drug-group/list">Nhóm thuốc</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/drug/list">Danh sách thuốc</a></li>
                  <li><a data-toggle="modal" data-target="#drug-add-edit-header-dialog">Thêm mới thuốc</a></li>
                  <li><a href="/Thuocs/InMaVach">In mã vạch thuốc, liều dùng</a></li>
                  <li><a href="/management/report/drug-transaction-history">Lịch sử giao dịch</a></li>

                  <li class="divider"></li>
                  <li><a href="management/reserve/add">Lập dự trù thuốc</a></li>
                  <li><a href="/management/sample-note/list">Kê đơn/Liều mẫu</a></li>
                  <li><a href="/management/connectivity/list">Quản lý đơn thuốc liên thông</a></li>
                  <li><a href="/management/inventory/list">Kiểm kê kho</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/drug/connect-list">Thiết lập thuốc liên thông</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('order', 'block') "
                  (mouseleave)="mouseLeave('order','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Đơn Hàng
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('order')">
                  <li><a href="/management/order/create-order">Tạo mới đơn đặt hàng</a></li>
                  <li><a href="/management/order/order-list">Quản lý đơn đặt hàng</a></li>
                  <li><a href="/management/order/search-drug">Tra cứu và nhặt hàng</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/order/form-quick">Đơn nhặt hàng</a></li>
                  <li><a href="/management/order/list-order-pick-up">Quản lý đơn khách đặt</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/order/list-order-assign">Gán nhân viên đơn nhặt</a></li>
                  <li><a href="/management/order/list-drug-buy">Danh sách hàng cần mua</a></li>
                  <li><a href="/management/order/confirm-delivery">Xác nhận hàng giao trong ngày</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('partner', 'block') "
                  (mouseleave)="mouseLeave('partner','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Đối Tác
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('partner')">
                  <li><a href="/management/customer-group/list">Nhóm khách hàng</a></li>
                  <li><a href="/management/customer/list">Khách hàng</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/supplier-group/list">Nhóm nhà cung cấp</a></li>
                  <li><a href="/management/supplier/list">Nhà cung cấp</a></li>
                  <li class="divider"></li>
                  <li><a href="/management/doctor-group/list">Nhóm bác sỹ</a></li>
                  <li><a href="/management/doctor/list">Danh sách bác sỹ</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('report', 'block') "
                  (mouseleave)="mouseLeave('report','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Báo Cáo
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('report')">
                  <li><a href="/management/report/RevenueDetailsByDay">Báo cáo doanh thu chi tiết theo ngày</a></li>
                  <li><a href="/management/report/InOutCommingDetailsByDay">Báo cáo thu-chi hằng ngày</a></li>
                  <li>
                    <a href="/Report/SynthesisReportV2">Báo cáo quản trị</a>
                  </li>
                  <li class="divider"></li>
                  <li><a href="/Report/ReportByStaff">Theo nhân viên</a></li>
                  <li><a href="/management/report/by-customer">Theo khách hàng</a></li>
                  <li><a href="/Report/CustomerScoreReport">Theo điểm của khách hàng</a></li>
                  <li><a href="/Report/ReportByGoods">Theo mặt hàng bán</a></li>
                  <li><a href="/Report/ReportByDoctor">Theo bác sỹ</a></li>
                  <li class="divider"></li>
                  <li><a href="/Report/ReportBySupplyer">Theo nhà cung cấp</a></li>
                  <li><a href="/Report/DrugWarehouses">Theo kho hàng</a></li>
                  <li><a href="/Report/InventoryWarehouseReport">Báo cáo kiểm kê</a></li>
                  <li class="divider"></li>
                  <li>
                    <a href="/Report/NoteServiceReport">Theo bảng kê thu tiền dịch vụ</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('addons', 'block') "
                  (mouseleave)="mouseLeave('addons','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Tiện Ích
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('addons')">
                  <li><a href="/Utilities/DrugInventoryWarning">Danh sách hàng hết</a></li>
                  <li><a href="/Utilities/NearExpiredDrugWarning">Danh sách hàng hết hạn</a></li>
                  <li><a href="/Utilities/NegativeRevenueWarning">Danh sách hàng lợi nhuận âm</a></li>
                  <li class="divider"></li>
                  <li><a href="/BookMan/BookListing">Bộ sổ GPP</a></li>
                  <li class="divider"></li>
                  <li><a href="https://dichvucong.dav.gov.vn/congbogiathuoc/index" target="_blank">Tra cứu giá từ cục
                    dược</a></li>
                  <li><a href="/Thuocs/SearchDrugCatalog">Tra cứu giá từ thị trường</a></li>
                  <li><a href="/tra-cuu-don-thuoc-dien-tu">Tra cứu đơn thuốc quốc gia</a></li>
                  <li class="divider"></li>
                  <li><a href="/Utilities/DoseCalculation">Tính liều</a></li>
                  <li class="divider"></li>
                  <li><a href="/Utilities/ProgramTrainingStaff">Đào tạo nhân viên</a></li>
                </ul>
              </li>
              <li class="dropdown menu" (mouseenter)="mouseEnter('helps', 'block') "
                  (mouseleave)="mouseLeave('helps','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   class="dropdown-toggle">Trợ Giúp
                  <i class="fa-solid fa-chevron-down"></i></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('helps')">
                  <li><a href="/TienIch/TuvanOnline">Chính sách hỗ trợ online</a></li>
                  <li><a href="https://webnhathuoc.com/home/kinh-nghiem/" target="_blank" width="500px" height="500px">Kinh
                    nghiệm chia sẻ</a></li>
                  <li class="divider"></li>
                  <li><a href="https://webnhathuoc.com/home/huong-dan-su-dung/" target="_blank" width="500px"
                         height="500px">Hướng dẫn sử dụng</a></li>
                  <li><a href="https://www.youtube.com/channel/UCG4ayMVzbME9Vs-PUNW7Xug/playlists/" target="_blank"
                         width="500px" height="500px">Video hướng dẫn sử dụng</a></li>
                  <li><a href="https://webnhathuoc.com/home/cau-hoi-thuong-gap/" target="_blank" width="500px"
                         height="500px">Câu hỏi thường gặp</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="divNotification" (mouseenter)="mouseEnter('noti', 'block') "
                  (mouseleave)="mouseLeave('noti','none')">
                <a href="javascript:;" class="dropdown-toggle" data-toggle="collapse" data-hover="collapse">
                  <i class="fa-solid fa-bell" style="font-size: 120%;"></i>
                  <span id="lbNumberNotification"
                        style="background-color: #f36a5a;color: #fff;position: absolute;top: 5px;padding: 0% 9%;border-radius: 4px!important;font-size: 10px;text-align: center;margin-left: 0px;"></span>
                </a>
                <ul class="divNotificationBox dropdown-menu" [style.width]="'360px'"
                    [style.display]="isDisplay('noti')">
                  <div id="notificationBlog">
                    <li class="dropdown-submenu" style="padding: 5px;background-color: #ddd;">
                      <a href="/NoteManagement/NotesListing##noteTypeId=1&amp;noteNumbers=56134"
                         class="nav-link nav-toggle " target="_blank" style="display: inline-flex;"><i
                        class="fa fa-bullhorn"
                        style="float: left; text-align: center; line-height: 8px; font-size: 146%;margin-right: 12px;  padding: 15px 16px;"></i>
                        <div style="float: right;margin-left: 7px;"><span
                          style="white-space: normal;font-weight: bold;">Phiếu nhập chuyển từ nhà thuốc: CÔNG TY TNHH WEB NHÀ THUỐC. Có số phiếu: 549</span>
                          <p style="font-size: 80%;margin: 0px;">khoảng 2 ngày trước</p></div>
                      </a>
                    </li>
                  </div>
                  <li class="dropdown-submenu">
                    <a href="/Notification/History" style="text-align: center;font-weight: bold;">Xem tất cả</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown menu" (mouseenter)="mouseEnter('login', 'block') "
                  (mouseleave)="mouseLeave('login','none')">
                <a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false"
                   action="javascript:void(0);"
                   class="dropdown-toggle">{{ getFullName() }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" [style.display]="isDisplay('login')">
                  <li>
                    <a (click)="openChangePasswordDialog()" id="loggedInUserNameId" title="Manage">Đổi mật
                      khẩu</a>
                  </li>
                  <li><a href="/login">Đăng xuất</a></li>
                </ul>
              </li>
            </ul>
            <div title="Tiếp nhận yêu cầu hỗ trợ" id="on-open-form-feedback-cus"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!--Ajax loader-->
<div class="loader-div" id="loader-div" loader="" style="display: none; position: relative; z-index: 99999;">
  <div class="ajax-loader">
    <div class="sk-spinner sk-spinner-double-bounce">
      <div class="sk-double-bounce1"></div>
      <div class="sk-double-bounce2"></div>
    </div>

  </div>
</div>
<!--<drug-add-edit-dialog [location]="'header'"></drug-add-edit-dialog>-->
