<div class="row">
    <div class="col-md-3">
        <div class="sidebar-bg">
            <label>Nhóm thuốc</label>
            <input class="form-control" type="text" id="searchTen" name="searchTen" placeholder="Tìm nhóm thuốc theo tên..."/>
            <div class="control-group d-flex justify-content-between gap-10 btn-group-flex">
                <button class="btn btn-primary w-50">Xem</button>
                <button class="btn btn-primary w-50" (click)="drugGroupID = 0" data-toggle="modal" data-target="#drug-group-add-edit-dialog">Thêm</button>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="baocao-container box-group-white">
            <h2 class="mb-3 d-block text-center"><b>{{title}}</b></h2>
            <table class="table table-striped table-bordered table-hover tr-ng-grid">
                <thead>
                    <tr>
                        <th display-name="#" style="width:8%">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> # </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Nhóm thuốc" style="width:42%">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Nhóm thuốc
                                        <div class="tr-ng-sort" title="Sort">
                                            <div
                                                class="tr-ng-sort-inactive text-muted glyphicon glyphicon-chevron-down">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Ghi chú" style="width:35%">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Ghi chú
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th style="width:15%">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title">
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of dataTable; index as i;">
                    <td>{{(page - 1) * pageSize + i + 1}}</td>
                    <td>{{ data.tenNhomThuoc }}</td>
                    <td>{{ data.kyHieuNhomThuoc }}</td>
                    <td>
                      <!--                      <a (click)="redirectDetail(data.id)">-->
                      <!--                        <span class="icon htvbdh_eye"></span>-->
                      <!--                      </a>-->
                      <!--                      <a *ngIf="data.trangThai == STATUS.DU_THAO" (click)="redirectDetail(data.id,'LKQLCL_TDBQ_THEM')">-->
                      <!--                        <span class="fa fa-pencil"></span>-->
                      <!--                      </a>-->
                      <!--                      <a *ngIf="data.trangThai == STATUS.DU_THAO" (click)="delete(data,'LKQLCL_TDBQ_XOA')">-->
                      <!--                        <i class="fa fa-trash-o do"></i>-->
                      <!--                      </a>-->
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                    <tr id="footerId">
                        <td align="center" is-customized="true" colspan="4">
                            <div class="tr-ng-grid-footer form-inline">
                                <div>
                                    <div>
                                        <span class="form-group pull-left page-size">
                                            <select id="ddlPageSize" class="form-control">
                                                <option label="10" value="number:10" selected="selected">10</option>
                                                <option label="20" value="number:20">20</option>
                                                <option label="50" value="number:50">50</option>
                                                <option label="100" value="number:100">100</option>
                                                <option label="--All--" value="number:9000">--All--</option>
                                            </select>
                                            <span class="page-size-label">&nbsp;&nbsp;Dòng / Trang</span>
                                        </span>
                                        <span class="pull-right form-group" style="height:40px">
                                            <ul class="pagination">
                                                <li class="disabled">
                                                    <a href="javascript:void(0);" title="Trang đầu"> <span>«</span> </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="javascript:void(0);" title="Trang trước"> <span>‹</span>
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a href="javascript:void(0);" title="Trang">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">2</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">3</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">4</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">5</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">6</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">7</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">8</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">9</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">10</a>
                                                <li class="disabled"><span>...</span>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang tiếp"> <span>›</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang cuối"> <span>»</span>
                                                    </a>
                                                </li>
                                                <li class="disabled" style="white-space: nowrap;">
                                                    <span class="ng-hide">Không có dữ liệu</span>
                                                    <span> Tổng: 3182 bản ghi </span>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <!-- model.length <= 0 -->
            <div>
                <p class="text-danger text-center mt-3">Không tìm thấy nhóm thuốc nào</p>
            </div>
        </div>
    </div>
</div>
<drug-group-add-edit-dialog [drugGroupID]="drugGroupID"></drug-group-add-edit-dialog>
