<div class="card">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="closeModal()" aria-label="Đóng"><span>&times;</span></button>
            <h4 class="modal-title">{{serviceId > 0 ? 'Cập nhật dịch vụ' : 'Thêm mới dịch vụ'}}
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <form [formGroup]="formData">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">{{formData.get('isServiceCombo')?.value ?
                                        'Nhóm dịch vụ combo' : 'Nhóm dịch vụ'}}<span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <div *ngIf="!formData.get('isServiceCombo')?.value">
                                            <ng-select appendTo="body" formControlName="nhomThuocMaNhomThuoc">
                                                <ng-option [value]="0">Chọn nhóm dịch vụ</ng-option>
                                                <ng-option *ngFor="let item of getFilteredListNhomDichVu()"
                                                    [value]="item.id">{{item.tenNhomThuoc}}</ng-option>
                                            </ng-select>
                                        </div>
                                        <form *ngIf="formData.get('isServiceCombo')?.value">
                                            <div class="multiselect">
                                                <div class="selectBox" ng-click="showCheckboxes()">
                                                    <select class="form-control">
                                                        <option>Lựa chọn nhóm dịch vụ</option>
                                                    </select>
                                                    <div class="overSelect"></div>
                                                </div>
                                                <div id="show-combo-service" style="display: none;">
                                                    <p *ngFor="let item of getFilteredListNhomDichVu()">
                                                        <input [value]="item.check" type="checkbox"
                                                            ng-change="onChangeGroup(i)" /> {{item.tenNhomThuoc}}
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <input style="margin-top:0px;" type="checkbox" class="form-control"
                                            formControlName="isServiceCombo">
                                    </div>
                                    <div class="col-sm-11">
                                        Nhóm dịch vụ combo
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Mã dịch vụ<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input formControlName="maThuoc" type="text" class="form-control mb-0" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Tên dịch vụ<span
                                            class="text-danger">*</span></label>
                                    <div class="col-sm-8">
                                        <input formControlName="tenThuoc" type="text" class="form-control mb-0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Phòng thực hiện</label>
                                    <div class="col-sm-8">
                                        <ng-select appendTo="body" formControlName="idClinic">
                                            <ng-option [value]="0">--Mặc định--</ng-option>
                                            <ng-option *ngFor="let item of listPhongKham"
                                                [value]="item.id">{{item.tenPhongKham}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Liệu trình</label>
                                    <div class="col-sm-8">
                                        <input (click)="onCheckServiceTherapy()" class="form-control check-size"
                                            type="checkbox" formControlName="checkServiceTherapy" />
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="formData.get('checkServiceTherapy')?.value" class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Số buổi</label>
                                    <div class="col-sm-8">
                                        <input mask="separator" class="form-control" formControlName="countNumbers" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Giá nhập</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="GiaDauKy" id="GiaDauKy" class="form-control mb-0 "
                                            mask="separator" tabindex="19" formControlName="giaNhap">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Giá bán</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="GiaDauKy" id="GiaDauKy" class="form-control mb-0 "
                                            mask="separator" tabindex="19" formControlName="giaBanLe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Chiết khấu (%)</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control mb-0" formControlName="discount"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Mô tả thêm</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control ng-pristine ng-untouched ng-valid"
                                            tabindex="5" formControlName="contents"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Tiêu đề mẫu kết quả</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control mb-0" formControlName="titleResultService"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Loại phiếu</label>
                                    <div class="col-sm-8">
                                        <ng-select appendTo="body" formControlName="typeResultService">
                                            <ng-option *ngFor="let item of listTypeResultService"
                                                [value]="item.id">{{item.name}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Tích điểm</label>
                                    <div class="col-sm-8">
                                        <input class="form-control check-size"
                                        type="checkbox" formControlName="scorable" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-sm-2 control-label">Mẫu kết quả</label>
                            <div class="col-sm-10">
                                ckeditor
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
            <button type="button" class="btn btn-primary" (click)="createUpdate()">{{serviceId > 0 ? 'Cập nhật' : 'Thêm
                mới'}}</button>
        </div>
    </div>
</div>