<div class="row">
    <div class="col-md-3">
        <div class="sidebar-bg">
            <div class="mb-3">
                <label>Tìm theo</label>
                <div>
                    <input class="form-control"/>
                </div>
            </div>
            <div class="mb-3">
                <label>Bác sỹ</label>
                <select class="form-control mb-0">
                    <option value="-1" selected>--Tất cả--</option>
                    <option value="0">Bác sỹ Tỉnh</option>
                </select>
            </div>
            <div class="mb-3">
                <label>Bệnh nhân</label>
                <div>
                    <input class="form-control"/>
                </div>
            </div>
            <div class="input-daterange input-group ng-scope mb-3" id="datepicker">
                <div class="input-group">
                    <input type="text" class="form-control ng-untouched ng-valid ng-dirty ng-valid-parse" name="from" id="reportFromDate" placeholder="Từ ngày.." ng-model="reportFromDate">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="onFromDateClick(); $event.preventDefault(); $event.stopPropagation();"><i class="fa-regular fa-calendar-days"></i></button>
                    </span>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control ng-untouched ng-valid ng-dirty ng-valid-parse" name="to" id="reportToDate" placeholder="Đến ngày.." ng-model="reportToDate">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="onToDateClick(); $event.preventDefault(); $event.stopPropagation();"><i class="fa-regular fa-calendar-days"></i></button>
                    </span>
                </div>
            </div>
            <input type="button" value="Xem" id="btnDisplayDataByDateRange" name="btnDisplayDataByDateRange" class="btn btn-primary w-100" ng-click="onDisplayData(true); $event.preventDefault(); $event.stopPropagation();">
            <span type="button" class="btn btn-primary mt-3 w-100">Xuất excel</span>
            <a type="button" href="/management/sample-note/sample-note-add-edit" class="btn btn-primary mt-3 w-100">Thêm mới</a>
        </div>
    </div>

    <div class="col-md-9">
        <div class="baocao-container box-group-white">
            <h2 class="mb-3 d-block text-center"><b>{{title}}</b></h2>
            <table class="table table-striped table-bordered table-hover tr-ng-grid">
                <thead>
                    <tr>
                        <th display-name="STT">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> STT </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Mã đơn">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Mã đơn
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Tên đơn/liều mẫu">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Tên đơn/liều mẫu
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Ngày kê đơn">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Ngày kê đơn
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Mã vạch">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Mã vạch
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="B.S kê đơn SĐT">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> B.S kê đơn SĐT
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Bệnh nhân SĐT">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Bệnh nhân SĐT
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="SL mã thuốc">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> SL mã thuốc
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Lời dặn của bác sỹ">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Lời dặn của bác sỹ
                                    </div>
                                </div>
                            </div>
                        </th>                      
                        <th display-name="Thao tác">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Thao tác
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div>1</div>
                        </td>
                        <td>
                            <div>25514</div>
                        </td>
                        <td>
                            <div>say xe</div>
                        </td>
                        <td>
                            <div>02/02/2024 16:19</div>
                        </td>
                        <td>
                            <div>070161644918</div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <div>2</div>
                        </td>
                        <td>
                            <div></div>
                        </td>
                        <td>
                            <div class="baocao-actions baocao-actions-row">
                                <div class="baocao-actions-item">
                                    <a href="" id="0" class="btn btn-sm btn-primary flex-grow-1" title="Sửa"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a ng-if="permittedFields.SampleNote_Delete" href="javascript:;" class="btn btn-sm btn-danger flex-grow-1" ng-click="fnDelete(gridItem); $event.preventDefault(); $event.stopPropagation();" title="Xóa"><i class="fa-regular fa-trash"></i></a>
                                    <a href="" class="btn btn-sm btn-primary flex-grow-1" title="Copy"><i class="fa-regular fa-copy"></i></a>
                                </div>
                                <div class="baocao-actions-item">
                                    <div class="btn-group flex-grow-1">
                                        <a class="dropdown-toggle btn btn-sm btn-default" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            In <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="javascript:void(0);" ng-if=" gridItem.Customer.CusId <= 0 && gridItem.Doctor.MaBacSy<= 0" ng-click="fnOpenForPrint(gridItem); $event.preventDefault(); $event.stopPropagation();" style="cursor: pointer;" title="In">In đơn/liều</a>
                                                <a href="javascript:void(0);" ng-if=" gridItem.Customer.CusId > 0 || gridItem.Doctor.MaBacSy> 0" ng-click="printNoteDrug(gridItem.Doctor.MaBacSy,gridItem.Customer.CusId,gridItem.NoteId)" style="cursor: pointer;" title="In">In đơn/liều</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" title="In mã vạch" ng-click="onOpenFormPrint(gridItem)">In mã vạch đơn/liều</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a href="" class="btn btn-sm btn-primary flex-grow-1" title="Xuất">Xuất</a>
                                    <input ng-disabled="gridItem.IsConnect" style="" ng-click="onGetConnectivity(gridItem.NoteId)" type="button" class="btn-sm btn-primary flex-grow-1"
                                                value="LT" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr id="footerId">
                        <td align="center" is-customized="true" colspan="13">
                            <div class="tr-ng-grid-footer form-inline">
                                <div>
                                    <div>
                                        <span class="form-group pull-left page-size">
                                            <select id="ddlPageSize" class="form-control">
                                                <option label="10" value="number:10" selected="selected">10</option>
                                                <option label="20" value="number:20">20</option>
                                                <option label="50" value="number:50">50</option>
                                                <option label="100" value="number:100">100</option>
                                                <option label="--All--" value="number:9000">--All--</option>
                                            </select>
                                            <span class="page-size-label">&nbsp;&nbsp;Dòng / Trang</span>
                                        </span>
                                        <span class="pull-right form-group" style="height:40px">
                                            <ul class="pagination">
                                                <li class="disabled">
                                                    <a href="javascript:void(0);" title="Trang đầu"> <span>«</span> </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="javascript:void(0);" title="Trang trước"> <span>‹</span>
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a href="javascript:void(0);" title="Trang">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">2</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">3</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">4</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">5</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">6</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">7</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">8</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">9</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">10</a>
                                                <li class="disabled"><span>...</span>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang tiếp"> <span>›</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang cuối"> <span>»</span>
                                                    </a>
                                                </li>
                                                <li class="disabled" style="white-space: nowrap;">
                                                    <span class="ng-hide">Không có dữ liệu</span>
                                                    <span> Tổng: 3182 bản ghi </span>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

            <!-- model.length <= 0 -->
            <div>
                <p class="text-danger text-center mt-3">Không tìm thấy phiếu nào</p>
            </div>
        </div>
    </div>
</div>