<div class="row">
  <div class="col-md-3">
    <div class="sidebar-bg">
      <form class="mb-3" [formGroup]="formData">
        <label>Tìm theo</label>
        <input formControlName="tenThuoc" (keyup.enter)="searchPage()" class="form-control" type="text" id="searchTen"
          name="searchTen" placeholder="Tìm thuốc theo tên..." />

        <div class="control-group d-flex gap-5 align-items-center">
          <input type="checkbox" formControlName="dataDelete" (ngModelChange)="searchPage()"
            class="form-checkbox mb-0 mt-0">
          <label class="mb-0">Thuốc bị xóa</label>
        </div>
        <label>Nhóm hàng</label>
        <ng-select appendTo="body" formControlName="nhomThuocMaNhomThuoc" (ngModelChange)="searchPage()">
          <ng-option *ngFor="let item of listNhomThuoc" [value]="item.id">{{item.tenNhomThuoc}}</ng-option>
        </ng-select>
        <label>Loai hàng</label>
        <ng-select appendTo="body" formControlName="typeId" (ngModelChange)="searchPage()">
          <ng-option *ngFor="let item of listProductTypes" [value]="item.id">{{item.displayName}}</ng-option>
        </ng-select>
        <label>Đơn vị</label>
        <ng-select appendTo="body" formControlName="donViXuatLeMaDonViTinh" (ngModelChange)="searchPage()">
          <ng-option *ngFor="let item of listDonViTinh" [value]="item.id">{{item.tenDonViTinh}}</ng-option>
        </ng-select>
        <label>Vị trí tủ/kho</label>
        <ng-select appendTo="body" formControlName="idWarehouseLocation" (ngModelChange)="searchPage()">
          <ng-option *ngFor="let item of listWarehouse" [value]="item.id">{{item.nameWarehouse}}</ng-option>
        </ng-select>
      </form>
      <fieldset class="baocao-filter">
        <div class="d-flex justify-content-between gap-10">
          <input type="button" value="Xem" (click)="searchPage()" class="btn btn-primary w-50">
          <button class="btn btn-primary w-50" (click)="openAddEditDialog(null)">Thêm</button>
        </div>
        <hr style="margin-top:10px" />
      </fieldset>
      <fieldset ng-if="deviceType==0">
        <label>Nhập/Xuất dữ liệu từ Excel</label>
        <form action="/Supplyer/Upload" class="upload-form ng-pristine ng-valid" enctype="multipart/form-data"
          method="post">
          <div class="mb-3 d-flex align-items-center gap-10 btn-group-flex">
            <div style="display: none"><input id="uploadFile" name="uploadFile" type="file"><br></div>
            <input type="button" value="Tải File" title="Tải file" (click)="export('drug-list.xlsx')"
              class="btn btn-default btn-outline" accept="Excel/*.xlsx">
            <a class="btn btn-default btn-outline" (click)="export('danh-sach-thuoc.xlsx')">Xuất File</a>
          </div>
        </form>
      </fieldset>
    </div>
  </div>

  <div class="col-md-9">
    <div class="baocao-container box-group-white">
      <div class="d-flex baocao-header">
        <h2 style="margin-bottom: 0px;">
          <b ng-if="typeItem == 0 || typeItem == null">
            <span class="text-uppercase">{{title}} </span>
            <span class="form-inline" style="font-size: 14px" *ngIf="getMaNhaThuoc() == '0012'">
              <i class="fas fa-sign-out-alt" style="color: green"></i> Đi tới trang
              <input type="number" class="form-control mb-0" value="1" style="width: 75px" min="1" max="totalPages"
                (keyup.enter)=goToPage($event)>
            </span>
          </b>
        </h2>
        <div class="baocao-actions">
          <button *ngIf="!this.formData.value.dataDelete" (click)="deleteMulti()"
            class="btn btn-sm btn-danger pull-right ng-scope" ng-if="isSuperUser">Xóa thuốc đã chọn
          </button>
          <button *ngIf="this.formData.value.dataDelete" (click)="deleteMultiDatabase()"
            class="btn btn-sm btn-danger pull-right ng-scope" ng-if="isSuperUser">Xóa vĩnh viễn
          </button><!-- end ngIf: isSuperUser -->
          <button *ngIf="this.formData.value.dataDelete" (click)="restoreMulti()"
            class="btn btn-sm btn-warning pull-right ng-scope" ng-if="isSuperUser">Khôi phục
          </button><!-- end ngIf: isSuperUser -->
        </div>
      </div>
      <table mat-table class="table table-striped table-bordered table-hover tr-ng-grid" [dataSource]="getDataSource()"
        matSort>

        <ng-container matColumnDef="checkbox">
          <th mat-header-cell *matHeaderCellDef> <input type="checkbox" [(ngModel)]="allChecked"
              (ngModelChange)="updateAllChecked()" title="select row">
          </th>
          <td mat-cell *matCellDef="let data; index as i;">
            <input type="checkbox" [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"
              title="select row">
          </td>
        </ng-container>

        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef> #</th>
          <td mat-cell *matCellDef="let data; index as i;">
            <a (click)="openDetailDialog(data.id)">
              {{ (page - 1) * pageSize + i + 1 }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="upload">
          <th mat-header-cell *matHeaderCellDef> Upload</th>
          <td mat-cell *matCellDef="let data">
            <div class="tr-ng-cell text-left">
              <div ng-switch-when="true">
                <div ng-transclude="">
                  <div class="text-center ng-scope">
                    <app-preview-image [heigh]="'50px'" [width]="'50px'"
                      [pathImage]="data.imagePreviewUrl"></app-preview-image>
                  </div>
                  <div class="d-flex gap-5 mt-3 ng-scope">
                    <div onclick="event.preventDefault();" class="flex-grow-1">
                      <button class="btn btn-primary btn-sm " (click)="onUploadImageDialog(data);"><i
                          class="fa-regular fa-folder-arrow-up"></i></button>
                    </div>
                    <div class="flex-grow-1" onclick="event.preventDefault();" title="">
                      <button class="btn btn-primary btn-sm "
                        ng-click="onDrugSaleInfos(gridItem,2); $event.preventDefault(); $event.stopPropagation();">
                        <i class="glyphicon glyphicon-star"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="tenThuoc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Mặt hàng[Mã-Tên]</th>
          <td mat-cell *matCellDef="let data">
            <div tr-ng-grid-body-cell-template="" class="tr-ng-cell text-left">
              <div ng-switch-when="true">
                <div ng-transclude="">
                  <div class="input-group">
                    <span>
                      <span>
                        <a href="javascript:void(0)" (click)="openDetailDialog(data.id)">
                          <span style="color:seagreen">
                            {{ data.maThuoc }}-
                          </span><span ng-mouseover="onShowTitle(gridItem)" class="tooltip-content-drug">
                            {{ data.tenThuoc }}
                            <span class="show-tooltip-content-drug" style="width: 150px; z-index: 1000;"
                              ng-bind-html="gridItem.TitleDrug"><b>Ưu điểm:</b>
                              <br><b>Đối tượng sử dụng:</b> <br><b>Hàng thay
                                thế:</b><br><b>Hàng bán kèm:</b><br>
                            </span>
                          </span>
                        </a>
                      </span>
                    </span>
                  </div>
                  <div ng-if="typeItem == 0">
                    <p class="btn-link tooltip-content-drug"
                      style="color: seagreen; font-style: italic; padding-left: 10px; cursor: pointer"
                      ng-click="onSearchPriceInOut(gridItem)" title="Tra cứu giá thị trường">
                      <i class="fa fa-line-chart" style="color: #FD7A42"></i> Check giá nhé!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="tenNhomThuoc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhóm thuốc</th>
          <td mat-cell *matCellDef="let data"> {{ data.tenNhomThuoc }}</td>
        </ng-container>

        <ng-container matColumnDef="donVi">
          <th mat-header-cell *matHeaderCellDef> Đơn vị</th>
          <td mat-cell *matCellDef="let data"> {{ data.tenDonViTinhXuatLe }}</td>
        </ng-container>

        <ng-container matColumnDef="gia">
          <th mat-header-cell *matHeaderCellDef> Giá</th>
          <td mat-cell *matCellDef="let data">
            <p>- Giá nhập: {{ data.giaNhap | number }}</p>
            <p>- Giá bán lẻ: {{ data.giaBanLe | number }}</p>
            <p>- Giá bán sỉ: {{ data.giaBanBuon | number }}</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef> C.K(%)</th>
          <td mat-cell *matCellDef="let data"> {{ data.discount }}</td>
        </ng-container>

        <ng-container matColumnDef="gioiHan">
          <th mat-header-cell *matHeaderCellDef> SL cảnh báo</th>
          <td mat-cell *matCellDef="let data"> {{ data.gioiHan }}</td>
        </ng-container>

        <ng-container matColumnDef="tonKho">
          <th mat-header-cell *matHeaderCellDef> Tồn</th>
          <td mat-cell *matCellDef="let data"> 0</td>
        </ng-container>

        <ng-container matColumnDef="tuKho">
          <th mat-header-cell *matHeaderCellDef> Vị trí tủ/kho</th>
          <td mat-cell *matCellDef="let data"> {{ data.tenViTri }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let data">
            <div *ngIf="!(ownerPrices && isSlaveDrugStore())">
              <div *ngIf="data.recordStatusId == 0" class="baocao-actions baocao-actions-row">
                <div class="baocao-actions-item">
                  <span title="sửa" *ngIf="permittedFields.drug_Write">
                    <a (click)="openAddEditDialog(data.id)" class="btn btn-primary btn-sm">
                      <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                  </span>
                  <span *ngIf="permittedFields.drug_Write && !isChildDrugStore()">
                    <a (click)="delete('Bạn có chắc chắn muốn xóa thuốc '+ data.maThuoc + '-' + data.tenThuoc + ' ?',data)"
                      class="btn btn-danger btn-sm">
                      <i class="fa-regular fa-trash"></i>
                    </a>
                  </span>
                </div>
                <div class="baocao-actions-item">
                  <a title="lịch sử giao dịch" href="/management/report/drug-transaction-history?drugId={{data.id}}"
                    class="btn btn-primary btn-sm">
                    LS
                  </a>
                </div>
              </div>

              <div *ngIf="data.recordStatusId == 2" class="baocao-actions baocao-actions-row">
                <span *ngIf="isChildDrugStore()" class="btn btn-primary btn-sm">
                  <a title="xem" (click)="openDetailDialog(data.id)">
                    <i class="fa-regular fa-eye"></i>
                  </a>
                </span>
                <div class="baocao-actions-item">
                  <span *ngIf="permittedFields.drug_Write && !isChildDrugStore()" class="btn btn-warning btn-sm"
                    (click)="restore('',data)">
                    Khôi phục
                  </span>
                </div>
                <div class="baocao-actions-item">
                  <span *ngIf="permittedFields.drug_Write && !isChildDrugStore()">
                    <a title="xóa"
                      (click)="deleteDatabase('Bạn có muốn xóa vĩnh viễn thuốc có mã ' + '\'' + data.maThuoc  + '\''  ,data)"
                      class="btn btn-danger btn-sm">
                      <i class="fa-regular fa-trash"></i>
                    </a>
                  </span>
                  <a title="lịch sử giao dịch" href="/management/report/drug-transaction-history?drugId={{data.id}}"
                    class="btn btn-primary btn-sm">
                    LS
                  </a>
                </div>
              </div>
            </div>
            <div *ngif="ownerPrices && isSlaveDrugStore()">
              <div *ngIf="data.recordStatusId == 0" class="baocao-actions">
                <a title="sửa" class="btn btn-primary btn-sm" href="#"
                  ng-click="onQuickUpdateDrugInfos(gridItem); $event.preventDefault(); $event.stopPropagation();"><i
                    class="fa-regular fa-pen-to-square"></i></a>
                <a title="lịch sử giao dịch" href="/management/report/drug-transaction-history?drugId={{data.id}}"
                  class="btn btn-primary btn-sm">
                  LS
                </a>
              </div>
              <div *ngIf="data.recordStatusId == 2" class="baocao-actions">
                <span *ngif="isChildDrugStore()">
                  <a title="xem" (click)="openAddEditDialog(data.id)" class="btn btn-primary btn-sm">
                    <i class="fa-regular fa-eye"></i>
                  </a>
                </span>
                <a title="lịch sử giao dịch" href="/management/report/drug-transaction-history?drugId={{data.id}}"
                  class="btn btn-primary btn-sm">
                  LS
                </a>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="footer">
          <td mat-footer-cell *matFooterCellDef colspan="100">
            <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
              (pageChange)="changePageIndex($event)" (pageSizeChange)="changePageSize($event)"></app-pagination>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['footer']"></tr>

      </table>
    </div>
  </div>
</div>
