<div class="row">
  <div class="col-md-3">
    <div class="sidebar-bg">
      <form [formGroup]="formData">
        <label>Tìm theo</label>
        <input class="form-control" type="text" id="searchTen" name="searchTen"
               placeholder="Tìm nhóm thuốc theo tên..."/>

        <div class="control-group d-flex gap-5 align-items-center">
          <input type="checkbox" formControlName="dataDelete" (ngModelChange)="searchPage()"
                 class="form-checkbox mb-0 mt-0 ng-pristine ng-untouched ng-valid"
          >
          <label class="mb-0">Thuốc bị xóa</label>
        </div>
        <label>Nhóm hàng</label>
        <ng-select formControlName="nhomThuocMaNhomThuoc" (ngModelChange)="searchPage()">
          <ng-option *ngFor="let item of listNhomThuoc" [value]="item.id">{{item.tenNhomThuoc}}</ng-option>
        </ng-select>
        <label>Loai hàng</label>
        <ng-select formControlName="typeId" (ngModelChange)="searchPage()">
          <ng-option *ngFor="let item of listProductTypes" [value]="item.id">{{item.displayName}}</ng-option>
        </ng-select>
        <label>Đơn vị</label>
        <ng-select formControlName="donViXuatLeMaDonViTinh" (ngModelChange)="searchPage()">
          <ng-option *ngFor="let item of listDonViTinh" [value]="item.id">{{item.tenDonViTinh}}</ng-option>
        </ng-select>
        <label>Vị trí tủ/kho</label>
        <ng-select formControlName="idWarehouseLocation" (ngModelChange)="searchPage()">
          <ng-option *ngFor="let item of listWarehouse" [value]="item.id">{{item.nameWarehouse}}</ng-option>
        </ng-select>

<!--        <label>Sắp xếp theo tên</label>-->
<!--        <select class="form-control mb-3 ng-pristine ng-valid ng-touched" ng-change="onDisplayData()"-->
<!--                ng-model="filterModel.SortTypeId">-->
<!--          <option value="0">Không sắp xếp</option>-->
<!--          <option value="1">Xuôi</option>-->
<!--          <option value="2">Ngược</option>-->
<!--        </select>-->
        <!--            <div ng-show="filterModel.DrugStoreId == '0012'">-->
        <!--              <label>Lọc thuốc có ảnh</label>-->
        <!--              <select class="form-control mb-3 ng-pristine ng-untouched ng-valid" ng-change="onDisplayData()"-->
        <!--                      ng-model="filterModel.HasImageId">-->
        <!--                <option value="0">&#45;&#45;Tất cả&#45;&#45;</option>-->
        <!--                <option value="1">Có</option>-->
        <!--                <option value="2">Không có</option>-->
        <!--              </select>-->
        <!--            </div>-->
        <!--            <div ng-show="filterModel.DrugStoreId == '0012'">-->
        <!--              <label>Loại người dùng</label>-->
        <!--              <select class="form-control mb-3 ng-pristine ng-untouched ng-valid"-->
        <!--                      ng-change="onUserTypeSelectChanged(userType)" ng-model="userType">-->
        <!--                <option value="0">Người dùng hệ thống</option>-->
        <!--                <option value="1">Nhân viên nhà thuốc</option>-->
        <!--              </select>-->
        <!--            </div>-->
        <!--            <div ng-show="filterModel.DrugStoreId == '0012'" class="mb-3 ng-hide">-->
        <!--              <label>Người thêm ảnh</label>-->
        <!--              <div class="selectize-control single ng-valid" ng-class="{'open': $select.open}"-->
        <!--                   ng-model="selectedItem" theme="selectize" ng-show="singleMode"-->
        <!--                   ng-disabled="disabledMode">-->
        <!--                <div class="selectize-input"-->
        <!--                     ng-class="{'focus': $select.open, 'disabled': $select.disabled, 'selectize-focus' : $select.focus}"-->
        <!--                     ng-click="$select.open &amp;&amp; !$select.searchEnabled ? $select.toggle($event) : $select.activate()">-->
        <!--                  <div ng-hide="$select.searchEnabled &amp;&amp; ($select.open || $select.isEmpty())"-->
        <!--                       class="ui-select-match" placeholder="Chọn hoặc gõ vào để tìm..."><span-->
        <!--                    ng-show="!$select.searchEnabled &amp;&amp; ($select.isEmpty() || $select.open)"-->
        <!--                    class="ui-select-placeholder text-muted ng-binding ng-hide">Chọn hoặc gõ vào để-->
        <!--                                    tìm...</span> <span ng-hide="$select.isEmpty() || $select.open" ng-transclude=""-->
        <!--                                                        class=""><span class="ng-binding ng-scope">&#45;&#45;Tất cả&#45;&#45;</span></span></div>-->
        <!--                </div>-->
        <!--                <div ng-show="$select.open"-->
        <!--                     class="ui-select-choices ui-select-dropdown selectize-dropdown single ng-hide"-->
        <!--                     ng-class="{'single': !$select.multiple, 'multi': $select.multiple}"-->
        <!--                     repeat="item in getItems() | filter: $select.search" refresh="refreshResults($select)"-->
        <!--                     refresh-delay="0">-->
        <!--                  <div class="ui-select-choices-content selectize-dropdown-content">-->
        <!--                    <div class="ui-select-choices-group optgroup">-->
        <!--                      <div ng-show="$select.isGrouped"-->
        <!--                           class="ui-select-choices-group-label optgroup-header ng-binding ng-hide"-->
        <!--                           ng-bind="$group.name"></div>-->
        <!--                    </div>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--                <div class="ui-select-no-choice"></div><input-->
        <!--                ng-disabled="$select.disabled" class="ui-select-focusser ui-select-offscreen ng-scope"-->
        <!--                type="text" id="focusser-26" aria-label="Select box focus" aria-haspopup="true"-->
        <!--                role="button">-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <div ng-show="filterModel.DrugStoreId == '0012'" class="baocao-filter">-->
        <!--              <label><b>Thời gian thêm ảnh</b></label>-->
        <!--              <div>-->
        <!--                <div class="radio">-->
        <!--                  <div><input type="radio" id="rdFilterAll" ng-model="filterType" value="0" checked="checked"-->
        <!--                              ng-change="onFilterTypeAddImgChange()" class="ng-pristine ng-untouched ng-valid"-->
        <!--                              name="34"> <label for="rdFilterAll">Tất cả</label></div>-->
        <!--                  <div>-->
        <!--                    <input type="radio" id="rdFilterByRange" ng-model="filterType" value="1"-->
        <!--                           ng-change="onFilterTypeAddImgChange()" class="ng-pristine ng-untouched ng-valid"-->
        <!--                           name="35"> <label for="rdFilterByRange">Theo ngày</label>-->
        <!--                  </div>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
      </form>
      <!--          <fieldset>-->
      <!--            <div class="control-group">-->
      <!--              <div class="ng-isolate-scope">-->
      <!--                <div class="input-group">-->
      <!--                  <div class="w-100">-->
      <!--                    <div class="ui-select-container ui-select-multiple ui-select-bootstrap dropdown form-control ng-valid ng-dirty ng-touched"-->
      <!--                         ng-class="{open: $select.open}" ng-model="data.selected" theme="bootstrap"-->
      <!--                         id="itemSearchId" reset-search-input="clearAfterSelected"-->
      <!--                         forward-enter-key="forwardEnterKey" ng-disabled="disabledMode">-->
      <!--                      <div><span class=" ui-select-match ui-select-match"-->
      <!--                                 placeholder="Nhập mã, mã vạch hoặc tên..."-->
      <!--                                 id="itemSearchUISelectID">-->

      <!--                        </span><input type="search" autocomplete="off"-->
      <!--                                      autocorrect="off" autocapitalize="off" spellcheck="false"-->
      <!--                                      class="ui-select-search input-xs ng-valid ng-touched ng-dirty ng-valid-parse"-->
      <!--                                      placeholder="Nhập mã, mã vạch hoặc tên..." ng-disabled="$select.disabled"-->
      <!--                                      ng-click="$select.activate()" ng-model="$select.search" role="combobox"-->
      <!--                                      aria-expanded="false" aria-label="Select box"-->
      <!--                                      ng-class="{'spinner': $select.refreshing}" ondrop="return false;"-->
      <!--                                      style="width: 278px;"></div>-->
      <!--                      <ul class="itemSelectChoices ui-select-choices ui-select-choices-content ui-select-dropdown dropdown-menu ng-hide"-->
      <!--                          ng-show="$select.open &amp;&amp; $select.items.length > 0"-->
      <!--                          refresh="fetch($select)" refresh-delay="500" repeat="item in items"-->
      <!--                          id="selectChoiceId" style="display: block; opacity: 0;">-->
      <!--                        <li class="ui-select-choices-group" id="ui-select-choices-53">-->
      <!--                          <div class="divider ng-hide"-->
      <!--                               ng-show="$select.isGrouped &amp;&amp; $index > 0"></div>-->
      <!--                          <div ng-show="$select.isGrouped"-->
      <!--                               class="ui-select-choices-group-label dropdown-header ng-binding ng-hide"-->
      <!--                               ng-bind="$group.name"></div>-->
      <!--                        </li>-->
      <!--                      </ul>-->
      <!--                      <div class="ui-select-no-choice"></div>-->
      <!--                    </div>-->
      <!--                  </div>-->
      <!--                  <span class="input-group-btn ng-scope" ng-if="resettable">-->
      <!--                          <a ng-click="onResetSearching();" class="btn btn-primary" title="Xóa tìm kiếm">-->
      <!--                              <i class="fa-regular fa-arrows-rotate"></i>-->
      <!--                          </a>-->
      <!--                      </span>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->

      <!--            <div class="control-group d-flex gap-5 align-items-center">-->
      <!--              <input type="checkbox" ng-model="filterModel.IsDeleted"-->
      <!--                     class="form-checkbox mb-0 mt-0 ng-pristine ng-untouched ng-valid"-->
      <!--                     ng-change="onDeletedSelectChanged()">-->
      <!--              <label class="mb-0">Thuốc bị xóa</label>-->

      <!--            </div>-->
      <!--          </fieldset>-->

      <!--          <fieldset>-->
      <!--                <div>-->
      <!--                    <label class="ng-binding">Nhóm hàng</label>-->
      <!--                    <div>-->
      <!--                        <div class="selectize-control single ng-valid ng-touched ng-dirty ng-valid-parse"-->
      <!--                            ng-class="{'open': $select.open}" ng-model="selectedItem" theme="selectize"-->
      <!--                            ng-show="singleMode" ng-disabled="disabledMode">-->
      <!--                            <div class="selectize-input"-->
      <!--                                ng-class="{'focus': $select.open, 'disabled': $select.disabled, 'selectize-focus' : $select.focus}"-->
      <!--                                ng-click="$select.open &amp;&amp; !$select.searchEnabled ? $select.toggle($event) : $select.activate()">-->
      <!--                                <div ng-hide="$select.searchEnabled &amp;&amp; ($select.open || $select.isEmpty())"-->
      <!--                                    class="ui-select-match" placeholder="Chọn hoặc gõ vào để tìm..."><span-->
      <!--                                        ng-show="!$select.searchEnabled &amp;&amp; ($select.isEmpty() || $select.open)"-->
      <!--                                        class="ui-select-placeholder text-muted ng-binding ng-hide">Chọn hoặc gõ vào để-->
      <!--                                        tìm...</span> <span ng-hide="$select.isEmpty() || $select.open" ng-transclude=""-->
      <!--                                        class=""><span class="ng-binding ng-scope">&#45;&#45;Tất cả&#45;&#45;</span></span></div>-->
      <!--                            </div>-->
      <!--                            <div ng-show="$select.open"-->
      <!--                                class="ui-select-choices ui-select-dropdown selectize-dropdown single ng-hide"-->
      <!--                                ng-class="{'single': !$select.multiple, 'multi': $select.multiple}"-->
      <!--                                repeat="item in getItems() | filter: $select.search" refresh="refreshResults($select)"-->
      <!--                                refresh-delay="0" style="opacity: 0;">-->
      <!--                                <div class="ui-select-choices-content selectize-dropdown-content">-->
      <!--                                    <div class="ui-select-choices-group optgroup">-->
      <!--                                        <div ng-show="$select.isGrouped"-->
      <!--                                            class="ui-select-choices-group-label optgroup-header ng-binding ng-hide"-->
      <!--                                            ng-bind="$group.name"></div>-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                            <div class="ui-select-no-choice"></div><input-->
      <!--                                ng-disabled="$select.disabled" class="ui-select-focusser ui-select-offscreen ng-scope"-->
      <!--                                type="text" id="focusser-18" aria-label="Select box focus" aria-haspopup="true"-->
      <!--                                role="button">-->
      <!--                        </div>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--                <div>-->
      <!--                    <label class="ng-binding">Loại hàng</label>-->
      <!--                    <div>-->
      <!--                        <div class="selectize-control single ng-valid ng-touched ng-dirty ng-valid-parse"-->
      <!--                            ng-class="{'open': $select.open}" ng-model="selectedItem" theme="selectize"-->
      <!--                            ng-show="singleMode" ng-disabled="disabledMode">-->
      <!--                            <div class="selectize-input"-->
      <!--                                ng-class="{'focus': $select.open, 'disabled': $select.disabled, 'selectize-focus' : $select.focus}"-->
      <!--                                ng-click="$select.open &amp;&amp; !$select.searchEnabled ? $select.toggle($event) : $select.activate()">-->
      <!--                                <div ng-hide="$select.searchEnabled &amp;&amp; ($select.open || $select.isEmpty())"-->
      <!--                                    class="ui-select-match" placeholder="Chọn hoặc gõ vào để tìm..."><span-->
      <!--                                        ng-show="!$select.searchEnabled &amp;&amp; ($select.isEmpty() || $select.open)"-->
      <!--                                        class="ui-select-placeholder text-muted ng-binding ng-hide">Chọn hoặc gõ vào để-->
      <!--                                        tìm...</span> <span ng-hide="$select.isEmpty() || $select.open" ng-transclude=""-->
      <!--                                        class=""><span class="ng-binding ng-scope">&#45;&#45;Tất cả&#45;&#45;</span></span></div>-->
      <!--                            </div>-->
      <!--                            <div ng-show="$select.open"-->
      <!--                                class="ui-select-choices ui-select-dropdown selectize-dropdown single ng-hide"-->
      <!--                                ng-class="{'single': !$select.multiple, 'multi': $select.multiple}"-->
      <!--                                repeat="item in getItems() | filter: $select.search" refresh="refreshResults($select)"-->
      <!--                                refresh-delay="0" style="opacity: 0;">-->
      <!--                                <div class="ui-select-choices-content selectize-dropdown-content">-->
      <!--                                    <div class="ui-select-choices-group optgroup">-->
      <!--                                        <div ng-show="$select.isGrouped"-->
      <!--                                            class="ui-select-choices-group-label optgroup-header ng-binding ng-hide"-->
      <!--                                            ng-bind="$group.name"></div>-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                            <div class="ui-select-no-choice"></div><input-->
      <!--                                ng-disabled="$select.disabled" class="ui-select-focusser ui-select-offscreen ng-scope"-->
      <!--                                type="text" id="focusser-18" aria-label="Select box focus" aria-haspopup="true"-->
      <!--                                role="button">-->
      <!--                        </div>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--                <div>-->
      <!--                    <label class="ng-binding">Đơn vị</label>-->
      <!--                    <div>-->
      <!--                        <div class="selectize-control single ng-valid ng-touched ng-dirty ng-valid-parse"-->
      <!--                            ng-class="{'open': $select.open}" ng-model="selectedItem" theme="selectize"-->
      <!--                            ng-show="singleMode" ng-disabled="disabledMode">-->
      <!--                            <div class="selectize-input"-->
      <!--                                ng-class="{'focus': $select.open, 'disabled': $select.disabled, 'selectize-focus' : $select.focus}"-->
      <!--                                ng-click="$select.open &amp;&amp; !$select.searchEnabled ? $select.toggle($event) : $select.activate()">-->
      <!--                                <div ng-hide="$select.searchEnabled &amp;&amp; ($select.open || $select.isEmpty())"-->
      <!--                                    class="ui-select-match" placeholder="Chọn hoặc gõ vào để tìm..."><span-->
      <!--                                        ng-show="!$select.searchEnabled &amp;&amp; ($select.isEmpty() || $select.open)"-->
      <!--                                        class="ui-select-placeholder text-muted ng-binding ng-hide">Chọn hoặc gõ vào để-->
      <!--                                        tìm...</span> <span ng-hide="$select.isEmpty() || $select.open" ng-transclude=""-->
      <!--                                        class=""><span class="ng-binding ng-scope">&#45;&#45;Tất cả&#45;&#45;</span></span></div>-->
      <!--                            </div>-->
      <!--                            <div ng-show="$select.open"-->
      <!--                                class="ui-select-choices ui-select-dropdown selectize-dropdown single ng-hide"-->
      <!--                                ng-class="{'single': !$select.multiple, 'multi': $select.multiple}"-->
      <!--                                repeat="item in getItems() | filter: $select.search" refresh="refreshResults($select)"-->
      <!--                                refresh-delay="0" style="opacity: 0;">-->
      <!--                                <div class="ui-select-choices-content selectize-dropdown-content">-->
      <!--                                    <div class="ui-select-choices-group optgroup">-->
      <!--                                        <div ng-show="$select.isGrouped"-->
      <!--                                            class="ui-select-choices-group-label optgroup-header ng-binding ng-hide"-->
      <!--                                            ng-bind="$group.name"></div>-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                            <div class="ui-select-no-choice"></div><input-->
      <!--                                ng-disabled="$select.disabled" class="ui-select-focusser ui-select-offscreen ng-scope"-->
      <!--                                type="text" id="focusser-18" aria-label="Select box focus" aria-haspopup="true"-->
      <!--                                role="button">-->
      <!--                        </div>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--                <div>-->
      <!--                    <label class="ng-binding">Vị trí tủ/kho</label>-->
      <!--                    <div>-->
      <!--                        <div class="selectize-control single ng-valid ng-touched ng-dirty ng-valid-parse"-->
      <!--                            ng-class="{'open': $select.open}" ng-model="selectedItem" theme="selectize"-->
      <!--                            ng-show="singleMode" ng-disabled="disabledMode">-->
      <!--                            <div class="selectize-input"-->
      <!--                                ng-class="{'focus': $select.open, 'disabled': $select.disabled, 'selectize-focus' : $select.focus}"-->
      <!--                                ng-click="$select.open &amp;&amp; !$select.searchEnabled ? $select.toggle($event) : $select.activate()">-->
      <!--                                <div ng-hide="$select.searchEnabled &amp;&amp; ($select.open || $select.isEmpty())"-->
      <!--                                    class="ui-select-match" placeholder="Chọn hoặc gõ vào để tìm..."><span-->
      <!--                                        ng-show="!$select.searchEnabled &amp;&amp; ($select.isEmpty() || $select.open)"-->
      <!--                                        class="ui-select-placeholder text-muted ng-binding ng-hide">Chọn hoặc gõ vào để-->
      <!--                                        tìm...</span> <span ng-hide="$select.isEmpty() || $select.open" ng-transclude=""-->
      <!--                                        class=""><span class="ng-binding ng-scope">&#45;&#45;Tất cả&#45;&#45;</span></span></div>-->
      <!--                            </div>-->
      <!--                            <div ng-show="$select.open"-->
      <!--                                class="ui-select-choices ui-select-dropdown selectize-dropdown single ng-hide"-->
      <!--                                ng-class="{'single': !$select.multiple, 'multi': $select.multiple}"-->
      <!--                                repeat="item in getItems() | filter: $select.search" refresh="refreshResults($select)"-->
      <!--                                refresh-delay="0" style="opacity: 0;">-->
      <!--                                <div class="ui-select-choices-content selectize-dropdown-content">-->
      <!--                                    <div class="ui-select-choices-group optgroup">-->
      <!--                                        <div ng-show="$select.isGrouped"-->
      <!--                                            class="ui-select-choices-group-label optgroup-header ng-binding ng-hide"-->
      <!--                                            ng-bind="$group.name"></div>-->
      <!--                                    </div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                            <div class="ui-select-no-choice"></div><input-->
      <!--                                ng-disabled="$select.disabled" class="ui-select-focusser ui-select-offscreen ng-scope"-->
      <!--                                type="text" id="focusser-18" aria-label="Select box focus" aria-haspopup="true"-->
      <!--                                role="button">-->
      <!--                        </div>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--                <div>-->
      <!--                    <label>Sắp xếp theo tên</label>-->
      <!--                    <select class="form-control mb-3 ng-pristine ng-valid ng-touched" ng-change="onDisplayData()"-->
      <!--                        ng-model="filterModel.SortTypeId">-->
      <!--                        <option value="0">Không sắp xếp</option>-->
      <!--                        <option value="1">Xuôi</option>-->
      <!--                        <option value="2">Ngược</option>-->
      <!--                    </select>-->
      <!--                </div>-->
      <!--                <div ng-show="filterModel.DrugStoreId == '0012'">-->
      <!--                    <label>Lọc thuốc có ảnh</label>-->
      <!--                    <select class="form-control mb-3 ng-pristine ng-untouched ng-valid" ng-change="onDisplayData()"-->
      <!--                        ng-model="filterModel.HasImageId">-->
      <!--                        <option value="0">&#45;&#45;Tất cả&#45;&#45;</option>-->
      <!--                        <option value="1">Có</option>-->
      <!--                        <option value="2">Không có</option>-->
      <!--                    </select>-->
      <!--                </div>-->
      <!--                <div ng-show="filterModel.DrugStoreId == '0012'">-->
      <!--                    <label>Loại người dùng</label>-->
      <!--                    <select class="form-control mb-3 ng-pristine ng-untouched ng-valid"-->
      <!--                        ng-change="onUserTypeSelectChanged(userType)" ng-model="userType">-->
      <!--                        <option value="0">Người dùng hệ thống</option>-->
      <!--                        <option value="1">Nhân viên nhà thuốc</option>-->
      <!--                    </select>-->
      <!--                </div>-->
      <!--                <div ng-show="filterModel.DrugStoreId == '0012'" class="mb-3 ng-hide">-->
      <!--                    <label>Người thêm ảnh</label>-->
      <!--                    <div class="selectize-control single ng-valid" ng-class="{'open': $select.open}"-->
      <!--                        ng-model="selectedItem" theme="selectize" ng-show="singleMode"-->
      <!--                        ng-disabled="disabledMode">-->
      <!--                        <div class="selectize-input"-->
      <!--                            ng-class="{'focus': $select.open, 'disabled': $select.disabled, 'selectize-focus' : $select.focus}"-->
      <!--                            ng-click="$select.open &amp;&amp; !$select.searchEnabled ? $select.toggle($event) : $select.activate()">-->
      <!--                            <div ng-hide="$select.searchEnabled &amp;&amp; ($select.open || $select.isEmpty())"-->
      <!--                                class="ui-select-match" placeholder="Chọn hoặc gõ vào để tìm..."><span-->
      <!--                                    ng-show="!$select.searchEnabled &amp;&amp; ($select.isEmpty() || $select.open)"-->
      <!--                                    class="ui-select-placeholder text-muted ng-binding ng-hide">Chọn hoặc gõ vào để-->
      <!--                                    tìm...</span> <span ng-hide="$select.isEmpty() || $select.open" ng-transclude=""-->
      <!--                                    class=""><span class="ng-binding ng-scope">&#45;&#45;Tất cả&#45;&#45;</span></span></div>-->
      <!--                        </div>-->
      <!--                        <div ng-show="$select.open"-->
      <!--                            class="ui-select-choices ui-select-dropdown selectize-dropdown single ng-hide"-->
      <!--                            ng-class="{'single': !$select.multiple, 'multi': $select.multiple}"-->
      <!--                            repeat="item in getItems() | filter: $select.search" refresh="refreshResults($select)"-->
      <!--                            refresh-delay="0">-->
      <!--                            <div class="ui-select-choices-content selectize-dropdown-content">-->
      <!--                                <div class="ui-select-choices-group optgroup">-->
      <!--                                    <div ng-show="$select.isGrouped"-->
      <!--                                        class="ui-select-choices-group-label optgroup-header ng-binding ng-hide"-->
      <!--                                        ng-bind="$group.name"></div>-->
      <!--                                </div>-->
      <!--                            </div>-->
      <!--                        </div>-->
      <!--                        <div class="ui-select-no-choice"></div><input-->
      <!--                            ng-disabled="$select.disabled" class="ui-select-focusser ui-select-offscreen ng-scope"-->
      <!--                            type="text" id="focusser-26" aria-label="Select box focus" aria-haspopup="true"-->
      <!--                            role="button">-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--                <div ng-show="filterModel.DrugStoreId == '0012'" class="baocao-filter">-->
      <!--                    <label><b>Thời gian thêm ảnh</b></label>-->
      <!--                    <div>-->
      <!--                        <div class="radio">-->
      <!--                            <div><input type="radio" id="rdFilterAll" ng-model="filterType" value="0" checked="checked"-->
      <!--                                    ng-change="onFilterTypeAddImgChange()" class="ng-pristine ng-untouched ng-valid"-->
      <!--                                    name="34"> <label for="rdFilterAll">Tất cả</label></div>-->
      <!--                            <div>-->
      <!--                                <input type="radio" id="rdFilterByRange" ng-model="filterType" value="1"-->
      <!--                                    ng-change="onFilterTypeAddImgChange()" class="ng-pristine ng-untouched ng-valid"-->
      <!--                                    name="35"> <label for="rdFilterByRange">Theo ngày</label>-->
      <!--                            </div>-->
      <!--                        </div>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--            </fieldset>-->
      <fieldset class="baocao-filter">
        <div class="d-flex justify-content-between gap-10">
          <input type="button" value="Xem" (click)="searchPage()" class="btn btn-primary w-50">
          <a ng-show="typeItem ==0" href="javascript:void(0)" (click)="drugID = 0" data-toggle="modal"
             data-target="#drug-add-edit-body-dialog" class="btn btn-primary w-50"
             ng-disabled="!permittedFields.Drug_Create">
            Thêm
          </a>
        </div>
        <hr style="margin-top:10px"/>
      </fieldset>
      <fieldset ng-if="deviceType==0" class="ng-scope">
        <label>Nhập/Xuất dữ liệu từ Excel</label>
        <form action="/Supplyer/Upload" class="upload-form ng-pristine ng-valid" enctype="multipart/form-data"
              method="post">
          <div class="mb-3 d-flex align-items-center gap-10 btn-group-flex">
            <div style="display: none"><input id="uploadFile" name="uploadFile" type="file"><br></div>
            <input type="button" value="Tải File" title="Tải file"
                   ng-click="openFileDialog(); $event.preventDefault(); $event.stopPropagation();"
                   class="btn btn-default btn-outline" accept="Excel/*.xlsx">
            <a class="btn btn-default btn-outline" href="/Supplyer/ExportToExcel">Xuất File</a>
          </div>
        </form>
      </fieldset>
    </div>
  </div>

  <div class="col-md-9">
    <div class="baocao-container box-group-white">
      <div class="d-flex baocao-header">
        <h2 style="margin-bottom: 0px;">
          <b ng-if="typeItem == 0 || typeItem == null" class="ng-scope">
            <span class="text-uppercase">{{title}} </span>
            <span class="form-inline" style="font-size: 14px" ng-show="filterModel.DrugStoreId == '0012'">
                            <i class="fas fa-sign-out-alt" style="color: green"></i> Đi tới trang
                            <input type="number" class="form-control mb-0" value="1" style="width: 75px" min="1" max="totalPages"
                                   (keyup.enter)=goToPage($event)>
                        </span>
          </b>
        </h2>
        <div class="baocao-actions">
          <button *ngIf="this.formData.value.dataDelete == false" (click)="deleteMulti()"
                  class="btn btn-sm btn-danger pull-right ng-scope"
                  ng-if="isSuperUser">Xóa
          </button>
          <button *ngIf="this.formData.value.dataDelete" (click)="deleteMultiDatabase()"
                  class="btn btn-sm btn-danger pull-right ng-scope"
                  ng-if="isSuperUser">Xóa vĩnh viễn
          </button><!-- end ngIf: isSuperUser -->
          <button *ngIf="this.formData.value.dataDelete" (click)="restoreMulti()"
                  class="btn btn-sm btn-warning pull-right ng-scope"
                  ng-if="isSuperUser">Khôi phục
          </button><!-- end ngIf: isSuperUser -->
        </div>
      </div>
      <table class="table table-striped tabble-responsive table-bordered table-hover tr-ng-grid">
        <thead>
        <tr>
          <th class="ng-scope">
            <label class="ng-scope">
              <input type="checkbox" [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" title="select row"
                     class="ng-pristine ng-untouched ng-valid">
            </label>
          </th>
          <th display-name="#">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> #</div>
              </div>
            </div>
          </th>
          <th display-name="Upload">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> Upload</div>
              </div>
            </div>
          </th>
          <th display-name="Mặt hàng[Mã-Tên]">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> Mặt hàng[Mã-Tên]
                </div>
              </div>
            </div>
          </th>
          <th display-name="Nhóm hàng">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> Nhóm hàng
                </div>
              </div>
            </div>
          </th>
          <th display-name="Đơn vị">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> Đơn vị
                </div>
              </div>
            </div>
          </th>
          <th display-name="Giá nhập lẻ">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> Giá nhập lẻ
                </div>
              </div>
            </div>
          </th>
          <th display-name="Giá bán lẻ">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> Giá bán lẻ
                </div>
              </div>
            </div>
          </th>
          <th display-name="C.K(%)">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> C.K(%)
                </div>
              </div>
            </div>
          </th>
          <th display-name="Giá bán sỉ">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> Giá bán sỉ
                </div>
              </div>
            </div>
          </th>
          <th display-name="SL cảnh báo">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> SL cảnh báo
                </div>
              </div>
            </div>
          </th>
          <th display-name="Tồn">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> Tồn
                </div>
              </div>
            </div>
          </th>
          <th display-name="Vị trí tủ/kho">
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title"> Vị trí tủ/kho
                </div>
              </div>
            </div>
          </th>
          <th>
            <div class="tr-ng-column-header tr-ng-cell">
              <div>
                <div class="tr-ng-title">
                </div>
              </div>
            </div>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let data of dataTable; index as i;">
          <td>
            <label class="ng-scope">
              <input type="checkbox" [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"
                     title="select row" class="ng-pristine ng-untouched ng-valid">
            </label>
          </td>
          <td>{{ (page - 1) * pageSize + i + 1 }}</td>
          <td>
            <div class="tr-ng-cell text-left">
              <div ng-switch-when="true" class="ng-scope">
                <div ng-transclude="">
                  <div class="text-center ng-scope">
                    <!--                              <a ng-show="displayImage &amp;&amp; gridItem.ImageThumbUrl"-->
                    <!--                                 data-fancybox="10693846"-->
                    <!--                                 href="https://s.webnhathuoc.com/Uploads/0279/Images/Products/7031845/1_12132021071645_preview.png"-->
                    <!--                                 data-caption="Ảnh sản phẩm">-->
                    <!--                                <img ng-src="s.webnhathuoc.com\Uploads\0279\Images\Products\7031845\1_12132021071645_thumb.png"-->
                    <!--                                     alt="" style="width: 50px; height:50px;"-->
                    <!--                                     src="https://s.webnhathuoc.com\Uploads\0279\Images\Products\7031845\1_12132021071645_thumb.png">-->
                    <!--                              </a>-->
                  </div>
                  <div class="d-flex gap-5 mt-3 ng-scope">
                    <div onclick="event.preventDefault();" class="flex-grow-1">
                      <button
                        class="btn btn-primary btn-sm "
                        ng-click="onUploadImageDialog(gridItem); $event.preventDefault(); $event.stopPropagation();"><i
                        class="fa-regular fa-folder-arrow-up"></i></button>
                    </div>
                    <div class="flex-grow-1" onclick="event.preventDefault();" title="">
                      <button class="btn btn-primary btn-sm "
                              ng-click="onDrugSaleInfos(gridItem,2); $event.preventDefault(); $event.stopPropagation();">
                        <i class="glyphicon glyphicon-star"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div ng-switch="isCustomized"
                 tr-ng-grid-body-cell-template="" class="tr-ng-cell text-left">
              <div ng-switch-when="true" class="ng-scope">
                <div ng-transclude="">
                  <div class="input-group ng-scope">
                                            <span>
                                                <span ng-if="deviceType==0" class="ng-scope">
                                                    <a href="javascript:void(0)" (click)="drugID = 1"
                                                       data-toggle="modal" data-target="#drug-detail-dialog"
                                                       ng-click="onDrugInfoDetails(gridItem.Id); $event.preventDefault(); $event.stopPropagation();">
                                                        <span style="color:seagreen" class="ng-binding">
                                                            {{ data.maThuoc }}-
                                                        </span><span ng-mouseover="onShowTitle(gridItem)"
                                                                     class="tooltip-content-drug ng-binding">
                                                             {{ data.tenThuoc }}
                                                      <span class="show-tooltip-content-drug ng-binding"
                                                            style="width: 150px"
                                                            ng-bind-html="gridItem.TitleDrug"><b>Ưu điểm:</b>
                                                                <br><b>Đối tượng sử dụng:</b> <br><b>Hàng thay
                                                                    thế:</b><br><b>Hàng bán kèm:</b><br></span>
                                                        </span>
                                                    </a>
                                                </span>
                                            </span>
                  </div>
                  <div ng-if="typeItem == 0" class="ng-scope">
                    <p class="btn-link tooltip-content-drug"
                       style="color: seagreen; font-style: italic; padding-left: 10px; cursor: pointer"
                       ng-click="onSearchPriceInOut(gridItem)" title="Tra cứu giá thị trường">
                      <i class="fa fa-line-chart" style="color: #FD7A42"></i> Check giá nhé!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>{{ data.tenNhomThuoc }}</td>
          <td>{{ data.tenDonViTinhXuatLe }}</td>
          <td>{{ data.giaNhap }}</td>
          <td>{{ data.giaBanLe }}</td>
          <td>{{ data.discount }}</td>
          <td>{{ data.giaBanBuon }}</td>
          <td>{{ data.gioiHan }}</td>
          <td></td>
          <td>{{ data.tenViTri }}</td>
          <td>
            <div ng-if="!ownerPricesSettingActivated">
              <div *ngIf="data.recordStatusId == 0" class="baocao-actions baocao-actions-row">
                <div class="baocao-actions-item">
                            <span title="sửa" ng-if="permittedFields.Drug_Write">
                                <a (click)="drugID = 1" data-toggle="modal" data-target="#drug-add-edit-body-dialog"
                                   class="btn btn-primary btn-sm">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                            </span>
                  <span ng-if="permittedFields.Drug_Write && !filterModel.IsSlaveDs">
                                <a
                                  (click)="delete('Bạn có chắc chắn muốn xóa thuốc '+data.maThuoc + '-' + data.tenThuoc + ' ?',data)"
                                  class="btn btn-danger btn-sm">
                                    <i class="fa-regular fa-trash"></i>
                                </a>
                            </span>
                </div>
                <div class="baocao-actions-item">
                  <a title="lịch sử giao dịch"
                     href="/Report/DrugTransHistories?drugId="
                     class="btn btn-primary btn-sm">
                    LS
                  </a>
                </div>
              </div>

              <div *ngIf="data.recordStatusId == 2" class="baocao-actions baocao-actions-row">
                <div class="baocao-actions-item">
                              <span ng-if="permittedFields.Drug_Write && !filterModel.IsSlaveDs"
                                    class="btn btn-warning btn-sm"
                                    (click)="restore('',data)">
                                  Khôi phục
                              </span>
                </div>
                <div class="baocao-actions-item">
                              <span ng-if="permittedFields.Drug_Write && !filterModel.IsSlaveDs">
                                  <a title="xóa"
                                     (click)="deleteDatabase('Bạn có muốn xóa vĩnh viễn thuốc có mã ' + '\'' + data.maThuoc  + '\''  ,data)"
                                     class="btn btn-danger btn-sm">
                                      <i class="fa-regular fa-trash"></i>
                                  </a>
                              </span>
                  <a title="lịch sử giao dịch"
                     href="/Report/DrugTransHistories?drugId="
                     class="btn btn-primary btn-sm">
                    LS
                  </a>
                </div>
              </div>
            </div>
            <div ng-if="ownerPricesSettingActivated" class="ng-hide">
              <div ng-if="gridItem.RecordStatusId == 0" class="baocao-actions">
                <a title="sửa" class="btn btn-primary btn-sm" href="#"
                   ng-click="onQuickUpdateDrugInfos(gridItem); $event.preventDefault(); $event.stopPropagation();"><i
                  class="fa-regular fa-pen-to-square"></i></a>
                <a title="lịch sử giao dịch"
                   href="/Report/DrugTransHistories?drugId="
                   class="btn btn-primary btn-sm">
                  LS
                </a>
              </div>
              <div ng-if="gridItem.RecordStatusId == 2" class="baocao-actions">
                                    <span ng-if="filterModel.IsSlaveDs">
                                        <a title="xem" href="/Thuocs/Details/"
                                           class="btn btn-primary btn-sm">
                                            <i class="fa-regular fa-eye"></i>
                                        </a>
                                    </span>
                <a title="lịch sử giao dịch"
                   href="/Report/DrugTransHistories?drugId="
                   class="btn btn-primary btn-sm">
                  LS
                </a>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr id="footerId">
          <td colspan="100">
            <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
                            (pageChange)="changePageIndex($event)"
                            (pageSizeChange)="changePageSize($event)"></app-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<drug-add-edit-dialog [drugID]="drugID"></drug-add-edit-dialog>
<drug-detail-dialog [drugID]="drugID"></drug-detail-dialog>
