<div class="card-bg ng-scope" ng-controller="ReceiptNoteController">
    <h2 class="card-title text-center"><b>KHÁCH TRẢ LẠI HÀNG</b></h2>

    <div class="text-center card-desc">
        <div class="card-code">
            Mã số: <strong>{{formData.value.soPhieuNhap}}</strong>
        </div>
        <span style="width: 10%">Ngày: <strong>{{formData.value.ngayNhap}}</strong></span>
    </div>
    <table class="table borderless table-condensed">
        <tbody>
            <tr>
                <td style="text-align: left">
                    <label class="control-label">Khách hàng:</label>
                    <label class="control-label" style="font-weight: normal">Mai1111</label>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table-condensed table-responsive display table-bordered" id="tblCt" style="width: 100%">
        <thead>
            <tr>
                <th style="width: 10px">STT</th>
                <th style="width: 70px">Mã</th>
                <th style="width: 100px">Hình ảnh</th>
                <th>Tên hàng</th>
                <th style="width: 100px;">Đơn vị</th>
                <th style="width: 100px; text-align: right">SL</th>
                <th style="width: 150px; text-align: right">Giá nhập</th>
                <th style="width: 80px; text-align: right">C.K</th>
                <th style="width: 150px; text-align: right">Thành tiền</th>
            </tr>
        </thead>
      <tbody class="ng-scope">
      <tr *ngFor="let data of dataTable; index as i;" style="border-bottom: 1px solid #ccc; font-size: 14px">
        <!--Actions-->
        <!--STT-->
        <td class="ng-scope">
          <a ng-click="onDrugInfoDetails(gridItem.DrugId);">
            {{i + 1}}
          </a>
        </td>
        <!--Hình ảnh-->
        <td class="ng-scope">

        </td>
        <td>
          <div class="ng-scope">
                <span class="ng-scope">
                      <span style="color:seagreen; padding:0;" class="btn-link">
                          <span class="btn-link ng-binding"
                                style="background:lightgreen"
                          >{{data.maThuoc}}</span>
                      </span>
                      <span>-</span>
                      <span class="btn-link tooltip-content-drug ng-binding" style="background:lightgreen"
                            title="Tra cứu giá thị trường">
                          {{data.tenThuoc}}
                      </span>
                <p class="btn-link tooltip-content-drug"
                   style="color: seagreen; font-style: italic; padding-left: 10px; cursor: pointer"
                   ng-click="onSearchPriceInOut(gridItem)" title="Tra cứu giá thị trường">
                  <i class="fa fa-line-chart" style="color: #FD7A42"></i> Check giá nhé!
                </p>
                </span>
          </div>
        </td>
        <!--Đơn Vị-->
        <td>
          <div>
            <div class="ng-scope">
<!--              <ng-select [(ngModel)]="data.donViTinhMaDonViTinh">-->
<!--                <ng-option *ngFor="let item of data.listDonViTinhs" [value]="item.id">{{item.tenDonViTinh}}</ng-option>-->
<!--              </ng-select>-->
            </div>
          </div>
        </td>
        <!--Số Lượng-->
        <td>
          <div class="ng-scope">
<!--            <input type="text" [(ngModel)]="data.soLuong" (ngModelChange)="onChangeSoLuong(data)"-->
<!--                   class="form-control mb-0  mousetrap row-item-quantiy"-->
<!--                   style="width: 100%; text-align:right; font-size:14px;">-->
          </div>
        </td>

        <!--Giá Bán Lẻ-->

        <td class="ng-scope">
          <div class="input-group mb-3 ">
<!--            <input type="text" [(ngModel)]="data.giaBanLe" (ngModelChange)="onChangeSoLuong(data)"-->
<!--                   class="form-control mb-0 mousetrap inline ng-pristine ng-untouched ng-valid ng-isolate-scope">-->
<!--            <input type="text" [(ngModel)]="data.rateRevenue"-->
<!--                   class="form-control ng-pristine ng-untouched ng-valid ng-scope" style="width: 66%;">-->
          </div>
        </td>
        <td class="ng-scope">
<!--          <input id="tbxDiscountId1" type="text"-->
<!--                 class="form-control mb-0 mousetrap ng-pristine ng-untouched ng-valid ng-isolate-scope"-->
<!--                 style="width: 100%; text-align:right;" [(ngModel)]="data.chietKhau" (ngModelChange)="onChangeSoLuong(data)">-->
        </td>
        <!--Thành Tiền-->
        <td>
          <div class="number-value"><strong  class="ng-binding ng-scope">{{data.tongTien}}</strong>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <br>

    <div class="row">
        <div class="col-md-3">
            <b>Tổng số tiền : &nbsp;<span id="spanSumAll"></span></b>350,000
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <table style="padding: 5px">
                <tbody>
                    <tr>
                        <td>
                            <strong>Đã trả:</strong> 350,000
                            <br>
                            <span><strong>Hình thức thanh toán:</strong> Tiền mặt</span>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span id="spDebt" class="text-danger">
                                <strong>Trả Lại:</strong> 0
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <table class="table borderless table-condensed">
        <tbody>
            <tr>
                <td class="text-left">
                    <span><strong>Diễn giải: </strong></span><strong>
                        <span></span>
                    </strong>
                </td>

                <td class="text-right">
                    <span>[<strong>Người lập:</strong> </span>
                    <span>Đỗ Thanh Mai]</span>
                </td>
                <td class="text-right">
                    <span>[<strong>Ngày lập:</strong> </span>
                    <span>16/03/2024]</span>
                </td>
            </tr>
        </tbody>
    </table>
    <input value="False" data-val="true" data-val-required="The Đã Xóa field is required." id="Xoa" name="Xoa"
        type="hidden">
    <div class="card-footer">
        <div class="d-flex justify-content-center align-items-center gap-10">
            <input type="button" value="Quay lại" class="btn btn-default" onclick=" javascript:window.history.go(-1); ">

            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    In <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="printPreview('3')">Phiếu khách lẻ - 80mm</a></li>
                    <li><a (click)="printPreview('1')">Phiếu khách quen - A4</a></li>
                    <li><a (click)="printPreview('2')">Phiếu khách lẻ - A5</a></li>
                </ul>

            </div>
            <a class="btn btn-primary" href="/ReceiptNote/EditReceiptNoteScreen?taskMode=2&amp;noteId=3621741">Sửa</a>
            <span ng-show="model.LinkFile !=''">
                <span class="btn btn-default zalo-share-button" style="width:105px;height:35px"
                    data-href="https://s.webnhathuoc.com/Uploads/WNT_FOLDER/null" data-oaid="1356962617348157464"
                    data-layout="2" data-color="blue" data-customize="true">Chia sẻ Zalo</span>
            </span>
            <a class="btn btn-danger" href="/PhieuNhaps/delete/3621741">Xóa</a><a class="btn btn-default"
                href="/ReceiptNote/ConnReceiptNoteScreen?noteId=3621741&amp;isConnectivity=1">LT</a><a
                class="btn btn-default"
                href="/ReceiptNote/ManagementReceiptNoteScreen?noteId=3621741&amp;isManagement=1">QL</a>
        </div>
    </div>
</div>
