<div class="card">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="closeModal()" aria-label="Đóng"><span>&times;</span></button>
            <h4 class="modal-title">Thông tin mặt hàng
            </h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-userpicker">
                <tbody>
                    <tr class="">
                        <td><b>Mã thuốc:</b></td>
                        <td>{{formData.get('maThuoc')?.value}}</td>
                    </tr>
                    <tr>
                        <td><b>Tên thuốc:</b> </td>
                        <td>
                            {{formData.get('tenThuoc')?.value}}
                        </td>
                    </tr>
                    <tr ng-show=" viewModel.WarehouseLocationName != null">
                        <td><b>Vị trí tủ/ kho:</b></td>
                        <td>
                            {{formData.get('tenViTri')?.value}}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Mã vạch:</b></td>
                        <td>{{formData.get('barCode')?.value}}</td>
                    </tr>
                    <tr ng-if="!viewModel.IsSlaveInGenaralPharmacyChain">
                        <td><b>Hàng tư vấn:</b></td>
                        <td *ngIf="formData.get('hangTuVan')?.value"><i class="fa-regular fa-check text-success"></i>
                        </td>
                        <td *ngIf="!formData.get('hangTuVan')?.value"><i class="fa-regular fa-xmark text-danger"></i>
                        </td>
                    <tr ng-if="viewModel.IsTranningStaff">
                        <td><b>Ưu điểm:</b></td>
                        <td>{{formData.get('advantages')?.value}}</td>
                    </tr>
                    <tr ng-if="viewModel.IsTranningStaff">
                        <td><b>Đối tượng sử dụng:</b></td>
                        <td>{{formData.get('userObject')?.value}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr>
                        <td><b>Đơn vị xuất lẻ:</b></td>
                        <td>{{formData.get('tenDonViTinhXuatLe')?.value}}</td>
                    </tr>
                    <tr>
                        <td><b>Quy cách:</b></td>
                        <td>{{formData.get('tenDonViTinhThuNguyen')?.value != ''
                            ? formData.get('tenDonViTinhThuNguyen')?.value + ' ' + formData.get('heSo')?.value + ' ' +
                            formData.get('tenDonViTinhXuatLe')?.value
                            : formData.get('tenDonViTinhXuatLe')?.value}}</td>
                    </tr>

                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr ng-if="!viewModel.IsSlaveInGenaralPharmacyChain">
                        <td><b>Giá nhập lẻ:</b></td>
                        <td ng-if="viewModel.ViewInPricePermission">
                            {{formData.get('giaNhap')?.value | number}}/{{formData.get('tenDonViTinhXuatLe')?.value}}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Giá bán lẻ:</b></td>
                        <td style="text-align:left">
                            {{formData.get('giaBanLe')?.value | number}}/{{formData.get('tenDonViTinhXuatLe')?.value}}
                        </td>
                    </tr>
                    <tr class="" style="display: none">
                        <td><b>Ngày cập nhật:</b></td>
                        <td style="text-align:left"></td>
                    </tr>
                    <tr ng-if="!viewModel.IsSlaveInGenaralPharmacyChain ">
                        <td><b>Giá bán sỉ:</b></td>
                        <td>{{formData.get('giaBanBuon')?.value | number}}/{{formData.get('donViThuNguyenMaDonViTinh')?.value > 0 ? formData.get('tenDonViTinhThuNguyen')?.value : formData.get('tenDonViTinhXuatLe')?.value}}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr ng-if="viewModel.ViewInventoryPermission ">
                        <td><b>Tồn đầu kỳ:</b></td>
                        <td style="text-align:left">{{formData.get('soDuDauKy')?.value | number}} {{formData.get('tenDonViTinhXuatLe')?.value}}</td>
                    </tr>
                    <tr ng-if="!viewModel.IsSlaveInGenaralPharmacyChain ">
                        <td><b>Giới hạn tồn:</b></td>
                        <td style="text-align:left">{{formData.get('gioiHan')?.value | number}} {{formData.get('tenDonViTinhXuatLe')?.value}}</td>
                    </tr>
                    <tr ng-if="viewModel.ViewInventoryPermission &amp;&amp; !viewModel.IsSlaveInGenaralPharmacyChain ">
                        <td><b>Tồn kho hiện tại:</b></td>
                        <td style="text-align:left">0 {{formData.get('tenDonViTinhXuatLe')?.value}}</td>
                    </tr>
                    <tr ng-if=" viewModel.IsTranningStaff">
                        <td><b>Hàng thay thế:</b></td>
                        <td style="text-align:left">
                        </td>
                    </tr>
                    <tr ng-if=" viewModel.IsTranningStaff">
                        <td><b>Hàng bán kèm:</b></td>
                        <td style="text-align:left">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
        </div>
    </div>
</div>