<div class="row">
    <div class="col-md-3">
        <div class="sidebar-bg">
            <form class="mb-3" [formGroup]="formData">
                <label>Tìm theo</label>
                <input class="form-control" type="text" id="searchTen" name="searchTen"
                    placeholder="Tìm dịch vụ theo tên..." />

                <div class="control-group d-flex gap-5 align-items-center">
                    <input type="checkbox" formControlName="dataDelete" (ngModelChange)="searchPage()"
                        class="form-checkbox mb-0 mt-0">
                    <label class="mb-0">Dịch vụ bị xóa</label>
                </div>
                <label>Nhóm dịch vụ</label>
                <ng-select appendTo="body" formControlName="nhomThuocMaNhomThuoc" (ngModelChange)="searchPage()">
                    <ng-option *ngFor="let item of listNhomDichVu" [value]="item.id">{{item.tenNhomThuoc}}</ng-option>
                </ng-select>
            </form>
            <fieldset class="baocao-filter">
                <div class="d-flex justify-content-between gap-10">
                    <input type="button" value="Xem" (click)="searchPage()" class="btn btn-primary w-50">
                    <button class="btn btn-primary w-50" (click)="openAddEditDialog(null)">Thêm</button>
                </div>
                <hr style="margin-top:10px" />
            </fieldset>
            <fieldset ng-if="deviceType==0" class="ng-scope">
                <label>Nhập/Xuất dữ liệu từ Excel</label>
                <form action="/Supplyer/Upload" class="upload-form ng-pristine ng-valid" enctype="multipart/form-data"
                    method="post">
                    <div class="mb-3 d-flex align-items-center gap-10 btn-group-flex">
                        <div style="display: none"> <input id="uploadFile" name="uploadFile" type="file"><br></div>
                        <input type="button" value="Tải File" title="Tải file"
                            ng-click="openFileDialog(); $event.preventDefault(); $event.stopPropagation();"
                            class="btn btn-default btn-outline" accept="Excel/*.xlsx">
                        <a class="btn btn-default btn-outline" href="/Supplyer/ExportToExcel">Xuất File</a>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>

    <div class="col-md-9">
        <div class="baocao-container box-group-white">
            <div class="d-flex baocao-header">
                <h2 style="margin-bottom: 0px;">
                    <b ng-if="typeItem == 0 || typeItem == null" class="ng-scope">
                        <span class="text-uppercase">{{title}} </span>
                    </b>
                </h2>
                <div class="baocao-actions">
                    <button ng-click="deleteAllSelectedItems()" class="btn btn-sm btn-danger pull-right ng-scope"
                        ng-if="isSuperUser">Xóa</button><!-- end ngIf: isSuperUser -->
                    <button ng-click="restoreAllSelectedItems()" class="btn btn-sm btn-warning pull-right ng-scope"
                        ng-if="isSuperUser">Khôi phục</button><!-- end ngIf: isSuperUser -->
                </div>
            </div>
            <table mat-table class="table table-striped table-bordered table-hover tr-ng-grid"
                [dataSource]="getDataSource()" matSort>

                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef> <input type="checkbox" [(ngModel)]="allChecked"
                            (ngModelChange)="updateAllChecked()" title="select row">
                    </th>
                    <td mat-cell *matCellDef="let data; index as i;">
                        <input type="checkbox" [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"
                            title="select row">
                    </td>
                </ng-container>

                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> #</th>
                    <td mat-cell *matCellDef="let data; index as i;">
                        <a (click)="openDetailDialog(data.id)">
                            {{ (page - 1) * pageSize + i + 1 }}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="tenThuoc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mặt hàng[Mã-Tên]</th>
                    <td mat-cell *matCellDef="let data">
                        <div ng-switch="isCustomized" tr-ng-grid-body-cell-template="" class="tr-ng-cell text-left">
                            <div ng-switch-when="true" class="ng-scope">
                                <div ng-transclude="">
                                    <div class="input-group ng-scope">
                                        <span>
                                            <span class="ng-scope">
                                                <a href="javascript:void(0)" (click)="openDetailDialog(data.id)">
                                                    <span style="color:seagreen">
                                                        {{ data.maThuoc }}-
                                                    </span><span class="tooltip-content-drug">
                                                        {{ data.tenThuoc }}
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="tenNhomThuoc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nhóm dịch vụ</th>
                    <td mat-cell *matCellDef="let data"> {{ data.tenNhomThuoc }}</td>
                </ng-container>

                <ng-container matColumnDef="giaNhap">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá nhập</th>
                    <td mat-cell *matCellDef="let data">{{ data.giaBanLe | number }}</td>
                </ng-container>

                <ng-container matColumnDef="giaBanLe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Giá bán</th>
                    <td mat-cell *matCellDef="let data"> {{ data.giaBanLe | number }}</td>
                </ng-container>

                <ng-container matColumnDef="discount">
                    <th mat-header-cell *matHeaderCellDef> C.K(%)</th>
                    <td mat-cell *matCellDef="let data"> {{ data.discount }}</td>
                </ng-container>

                <ng-container matColumnDef="scorable">
                    <th mat-header-cell *matHeaderCellDef> Tích điểm</th>
                    <td style="text-align: center;" mat-cell *matCellDef="let data">
                        <i *ngIf="data.scorable" class="fa-regular fa-check text-success"></i>
                        <i *ngIf="!data.scorable" class="fa-regular fa-xmark text-danger"></i>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let data">
                        <div ng-if="!ownerPricesSettingActivated">
                            <div *ngIf="data.recordStatusId == 0" class="baocao-actions baocao-actions-row">
                                <div class="baocao-actions-item">
                                    <span title="sửa" ng-if="permittedFields.Drug_Write">
                                        <a (click)="openAddEditDialog(data.id)" class="btn btn-primary btn-sm">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                    </span>
                                    <span ng-if="permittedFields.Drug_Write && !filterModel.IsSlaveDs">
                                        <a (click)="delete('Bạn có chắc chắn muốn xóa dịch vụ '+data.maThuoc + '-' + data.tenThuoc + ' ?',data)"
                                            class="btn btn-danger btn-sm">
                                            <i class="fa-regular fa-trash"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div *ngIf="data.recordStatusId == 2" class="baocao-actions baocao-actions-row">
                                <div class="baocao-actions-item">
                                    <span ng-if="permittedFields.Drug_Write && !filterModel.IsSlaveDs"
                                        class="btn btn-warning btn-sm" (click)="restore('',data)">
                                        Khôi phục
                                    </span>
                                </div>
                                <div class="baocao-actions-item">
                                    <span ng-if="permittedFields.Drug_Write && !filterModel.IsSlaveDs">
                                        <a title="xóa"
                                            (click)="deleteDatabase('Bạn có muốn xóa vĩnh viễn dịch vụ có mã ' + '\'' + data.maThuoc  + '\''  ,data)"
                                            class="btn btn-danger btn-sm">
                                            <i class="fa-regular fa-trash"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="footer">
                    <td mat-footer-cell *matFooterCellDef colspan="100">
                        <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
                            (pageChange)="changePageIndex($event)"
                            (pageSizeChange)="changePageSize($event)"></app-pagination>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="['footer']"></tr>

            </table>
        </div>
    </div>
</div>