<div class="row">
    <div class="col-md-3">
        <div class="sidebar-bg">
            <div class="mb-3">
                <label>Khách hàng</label>
                <div item-search-filter="" select-changed-callback="onSupplyerSelectChanged"
                    clear-after-selected="false" only-single-item="true" show-cam-barcode-scanner="false"
                    handle-broadcast="true" search-type="4" class="flex-grow-1 ip-position mb-3 ng-isolate-scope">
                    <div ng-if="!showCamBarcodeScanner" class="">
                        <div class="w-100">
                            <div class="ui-select-container ui-select-multiple ui-select-bootstrap dropdown form-control ng-valid ng-touched ng-dirty open"
                                theme="bootstrap" id="itemSearchId" reset-search-input="clearAfterSelected"
                                forward-enter-key="forwardEnterKey">
                                <div>
                                    <span class="text-truncate-line ui-select-match ui-select-match"
                                        placeholder="Nhập mã, mã vạch hoặc tên..." id="itemSearchUISelectID">
                                        <span>
                                            <span class="ui-select-match-item btn btn-default btn-xs" tabindex="-1"
                                                type="button" ui-select-sort="$select.selected">
                                                <span class="close ui-select-match-close" ng-hide="$select.disabled"
                                                    ng-click="$selectMultiple.removeChoice($index)">&nbsp;×
                                                </span>
                                                <span uis-transclude-append="">
                                                    <span class="ng-binding ng-scope">
                                                        Ban bảo vệ chăm sóc sức khỏe cán bộ tỉnh Thái Bình
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                    <input type="search" autocomplete="off" autocorrect="off" autocapitalize="off"
                                        spellcheck="false"
                                        class="ui-select-search input-xs ng-valid ng-dirty ng-touched" placeholder=""
                                        ng-disabled="$select.disabled" ng-click="$select.activate()"
                                        ng-model="$select.search" role="combobox" aria-expanded="true"
                                        aria-label="Select box" ng-class="{'spinner': $select.refreshing}"
                                        ondrop="return false;" style="width: 107px;">
                                </div>
                                <div class="ui-select-no-choice"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input type="checkbox" ng-model="filterModel.IsDeleted" class="form-control form-check-input"
                        ng-change="onDeletedSelectChanged()">
                    <label class="form-check-label">Khách hàng bị xóa</label>
                </div>
            </div>
            <div class="mb-3">
                <label>Nhóm khách</label>
                <div class="control-group">
                    <select class="form-control mb-0" ng-model="filterModel.CusType"
                        ng-change="filterCustomers(); $event.preventDefault(); $event.stopPropagation();">
                        <option value="" selected>--Tất cả--</option>
                        <option value="0">Cá nhân</option>
                        <option value="1">Tổ chức</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label>Loại khách hàng</label>
                <div class="control-group">
                    <select class="form-control mb-0" ng-model="filterModel.CusType"
                        ng-change="filterCustomers(); $event.preventDefault(); $event.stopPropagation();">
                        <option value="" selected>--Tất cả--</option>
                        <option value="0">Cá nhân</option>
                        <option value="1">Tổ chức</option>
                    </select>
                </div>
            </div>
            <div class="control-group d-flex justify-content-between gap-10 btn-group-flex">
                <button class="btn btn-primary w-50"
                    ng-click="filterCustomers(); $event.preventDefault(); $event.stopPropagation();">Xem</button>
                <button class="btn btn-primary w-50" (click)="customerID = 0" data-toggle="modal"
                    data-target="#customer-add-edit-dialog">Thêm</button>
            </div>
            <div class="control-group btn-fullwidth flex-grow-1">
                <button class="btn btn-primary" data-toggle="modal" data-target="#customer-print-barcode-dialog">In mã
                    vạch</button>
            </div>
            <div class="mb-3" ng-show="showZalo">
                <label>Zalo OA</label>
                <div class="control-group d-flex justify-content-between gap-10 btn-group-flex">
                    <div class="w-80">
                        <select class="form-control mb-0" ng-model="zaloUpdateType">
                            <option value="0" selected>Thêm người quan tâm mới</option>
                            <option value="1">Cập nhật thông tin người quan tâm</option>
                            <option value="2">Xóa người bỏ quan tâm</option>
                        </select>
                    </div>
                    <button class="btn btn-primary w-20" ng-click="updateFollowerNew()"><i
                            class="fa-solid fa-rotate"></i></button>
                </div>
            </div>
            <hr style="margin-top:0px" />
            <div>
                <label>Nhập/Xuất dữ liệu từ Excel</label>
                <form action="/Supplyer/Upload" class="upload-form ng-pristine ng-valid" enctype="multipart/form-data"
                    method="post">
                    <div class="mb-3 d-flex align-items-center gap-10 btn-group-flex">
                        <div style="display: none"> <input id="uploadFile" name="uploadFile" type="file"><br></div>
                        <input type="button" value="Tải File" title="Tải file"
                            ng-click="openFileDialog(); $event.preventDefault(); $event.stopPropagation();"
                            class="btn btn-default btn-outline" accept="Excel/*.xlsx">
                        <a class="btn btn-default btn-outline" href="/Supplyer/ExportToExcel">Xuất File</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="baocao-container box-group-white">
            <h2 class="d-block text-center"><b>{{title}}</b></h2>
            <table tr-ng-grid="" items="CustomerModel" locale="en" display-total-items-count="true"
                class="table table-striped table-bordered table-hover tr-ng-grid" selection-mode="None"
                current-page="setCurrentPage" enable-filtering="false" enable-sorting="false"
                page-items="model.pageSize" total-items="CustomerModel.length">
                <thead>
                    <tr>
                        <th display-name="#">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> # </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Mã">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Mã
                                        <div class="tr-ng-sort" title="Sort">
                                            <div
                                                class="tr-ng-sort-inactive text-muted glyphicon glyphicon-chevron-down">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Khách hàng">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Khách hàng
                                        <div class="tr-ng-sort" title="Sort">
                                            <div
                                                class="tr-ng-sort-inactive text-muted glyphicon glyphicon-chevron-down">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Mã số thuế" ng-if="showTaxCode">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Mã số thuế</div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Nhóm">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Nhóm
                                        <div class="tr-ng-sort" title="Sort">
                                            <div
                                                class="tr-ng-sort-inactive text-muted glyphicon glyphicon-chevron-down">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Số ĐT">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Số ĐT</div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Ngày sinh">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Ngày sinh</div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Mã vạch">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Mã vạch</div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Điểm/Tiền" class="hidden">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Điểm/Tiền</div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Ngày tạo">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Ngày tạo</div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Nhà thuốc" ng-if="showCusToStoreMapping" style="width:250px;">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Nhà thuốc</div>
                                </div>
                            </div>
                        </th>
                        <th display-name="Zalo khách hàng" ng-if="showZalo" style="width:250px;">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title"> Zalo khách hàng</div>
                                </div>
                            </div>
                        </th>
                        <th style="width: 80px;">
                            <div class="tr-ng-column-header tr-ng-cell">
                                <div>
                                    <div class="tr-ng-title">
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div>
                                <a href="javascript:void(0)"
                                data-toggle="modal"
                                data-target="#regional-details-dialog">
                                    1
                                </a>
                            </div>
                        </td>

                        <td field-name="MaKhachHang">
                            <div>
                                KH1
                            </div>
                        </td>

                        <td field-name="TenKhachHang">
                            <div>
                                CÔNG TY TNHH MỘT THÀNH VIÊN MINH ĐẠO
                            </div>
                        </td>

                        <td ng-if="showTaxCode">
                            <div>
                                49384389
                            </div>
                        </td>

                        <td field-name="NhomKhachHang">
                            <div>
                                Mặc định
                            </div>
                        </td>

                        <td>
                            <div>
                                0493883498
                            </div>
                        </td>
                        <td>
                            <div>
                                01/01/1996
                            </div>
                        </td>
                        <td>
                            <div style="text-align:right">
                                001025772500
                            </div>
                        </td>

                        <td class="hidden">
                            <div>
                                0/0
                            </div>
                        </td>

                        <td>
                            <div>
                                04/03/2024
                            </div>
                        </td>

                        <td ng-if="showCusToStoreMapping">
                            <div class="tr-ng-cell text-left">
                                <div>
                                    <div>
                                        <div>
                                            <div class="ui-select-container select2 select2-container ng-valid ng-touched"
                                                style="width:100%;">
                                                <a class="select2-choice ui-select-match" aria-label="Select box select"
                                                    placeholder="Chọn hoặc gõ vào để tìm..."><span
                                                        class="select2-chosen ng-hide">Chọn hoặc gõ vào để
                                                        tìm...</span> <span class="select2-chosen"><span>--Mặc
                                                            định--</span></span><span
                                                        class="select2-arrow ui-select-toggle"><b></b></span></a>
                                                <div class="ui-select-dropdown select2-drop select2-with-searchbox select2-drop-active select2-display-none"
                                                    style="opacity: 0;">
                                                    <div class="search-container select2-search">
                                                        <input type="search" autocomplete="off" autocorrect="off"
                                                            autocapitalize="off" spellcheck="false" role="combobox"
                                                            aria-expanded="true" aria-owns="ui-select-choices-38"
                                                            aria-label="Select box"
                                                            class="ui-select-search select2-input ng-pristine ng-valid ng-touched"
                                                            style="width: 135px;">
                                                    </div>
                                                    <ul tabindex="-1"
                                                        class="ui-select-choices ui-select-choices-content select2-results"
                                                        repeat="item.IdAsInt as item in mappingStores | propsFilter: {Name: $select.search}">
                                                        <li class="ui-select-choices-group">
                                                            <div
                                                                class="ui-select-choices-group-label select2-result-label ng-binding ng-hide">
                                                            </div>
                                                            <ul id="ui-select-choices-38" class="select2-result-single">
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                    <div class="ui-select-no-choice"></div>
                                                </div><input class="ui-select-focusser ui-select-offscreen ng-scope"
                                                    type="text" id="focusser-38" aria-label="Select box focus"
                                                    aria-haspopup="true" role="button">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td ng-if="showZalo">
                            <div>
                                <div class="tr-ng-cell text-left">
                                    <div>
                                        <div>
                                            <div>
                                                <div class="ui-select-container select2 select2-container ng-valid ng-touched ng-dirty ng-valid-parse"
                                                    style="width:100%;"><a class="select2-choice ui-select-match"
                                                        aria-label="Select box select"
                                                        placeholder="Chọn hoặc gõ vào để tìm..."><span
                                                            ng-show="$select.isEmpty()"
                                                            class="select2-chosen ng-binding ng-hide">Chọn hoặc gõ vào
                                                            để tìm...</span> <span ng-hide="$select.isEmpty()"
                                                            class="select2-chosen" ng-transclude=""><span
                                                                class="ng-binding ng-scope">Anchi</span></span>
                                                        <!-- ngIf: $select.allowClear && !$select.isEmpty() --> <span
                                                            class="select2-arrow ui-select-toggle"><b></b></span></a>
                                                    <div class="ui-select-dropdown select2-drop select2-with-searchbox select2-drop-active select2-display-none"
                                                        style="opacity: 0;">
                                                        <div class="search-container select2-search">
                                                            <input type="search" autocomplete="off" autocorrect="off"
                                                                autocapitalize="off" spellcheck="false" role="combobox"
                                                                aria-expanded="true" aria-owns="ui-select-choices-41"
                                                                aria-label="Select box"
                                                                class="ui-select-search select2-input ng-pristine ng-valid ng-touched"
                                                                style="width: 206px;">
                                                        </div>
                                                        <ul tabindex="-1"
                                                            class="ui-select-choices ui-select-choices-content select2-results"
                                                            repeat="item.UserID as item in mappingFollowers | propsFilter: {Name: $select.search}">
                                                            <li class="ui-select-choices-group">
                                                                <div ng-show="$select.choiceGrouped($group)"
                                                                    class="ui-select-choices-group-label select2-result-label ng-binding ng-hide"
                                                                    ng-bind="$group.name"></div>
                                                                <ul id="ui-select-choices-41"
                                                                    class="select2-result-single">
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                        <div class="ui-select-no-choice"></div>
                                                    </div><input ng-disabled="$select.disabled"
                                                        class="ui-select-focusser ui-select-offscreen ng-scope"
                                                        type="text" id="focusser-41" aria-label="Select box focus"
                                                        aria-haspopup="true" role="button">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <!-- action-->
                        <td>
                            <!-- KH active RecordStatusID == 0-->
                            <div style="text-align:right" class="baocao-actions">
                                <button (click)="customerID = 1" data-toggle="modal"
                                    data-target="#customer-add-edit-dialog" class="btn btn-sm btn-primary"><i
                                        class="fa-regular fa-pen-to-square"></i></button>
                                <a href="#"
                                    ng-click="deleteCustomer(gridItem); $event.preventDefault(); $event.stopPropagation();"
                                    class="btn btn-sm btn-danger"><i class="fa-regular fa-trash"></i></a>
                                <a ng-show="gridItem.RecordStatusID == 2" href="#"
                                    ng-click="recoverDeletedCustomer(gridItem); $event.preventDefault(); $event.stopPropagation();"
                                    class="btn btn-sm btn-primary"><i class="fa-regular fa-arrow-rotate-left"></i></a>
                            </div>

                            <!-- KH bị đánh dấu xóa RecordStatusID == 2-->
                            <div class="baocao-actions ng-hide">
                                <a href="#" ng-click="$event.preventDefault();recoverDeletedCustomer(gridItem)"
                                    class="btn btn-sm btn-primary"><i class="fa-regular fa-arrow-rotate-left"></i></a>
                                <a href="#" ng-click="$event.preventDefault();deleteForever(gridItem)"
                                    class="btn btn-sm btn-danger"><i class="fa-regular fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr id="footerId">
                        <td align="center" is-customized="true" colspan="12">
                            <div class="tr-ng-grid-footer form-inline">
                                <div>
                                    <div>
                                        <span class="form-group pull-left page-size">
                                            <select id="ddlPageSize" class="form-control">
                                                <option label="10" value="number:10" selected="selected">10</option>
                                                <option label="20" value="number:20">20</option>
                                                <option label="50" value="number:50">50</option>
                                                <option label="100" value="number:100">100</option>
                                                <option label="--All--" value="number:9000">--All--</option>
                                            </select>
                                            <span class="page-size-label">&nbsp;&nbsp;Dòng / Trang</span>
                                        </span>
                                        <span class="pull-right form-group" style="height:40px">
                                            <ul class="pagination">
                                                <li class="disabled">
                                                    <a href="javascript:void(0);" title="Trang đầu"> <span>«</span> </a>
                                                </li>
                                                <li class="disabled">
                                                    <a href="javascript:void(0);" title="Trang trước"> <span>‹</span>
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a href="javascript:void(0);" title="Trang">1</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">2</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">3</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">4</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">5</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">6</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">7</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">8</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">9</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang">10</a>
                                                <li class="disabled"><span>...</span>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang tiếp"> <span>›</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" title="Trang cuối"> <span>»</span>
                                                    </a>
                                                </li>
                                                <li class="disabled" style="white-space: nowrap;">
                                                    <span class="ng-hide">Không có dữ liệu</span>
                                                    <span> Tổng: 3182 bản ghi </span>
                                                </li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>

            </table>

            <div ng-show="model.length <= 0">
                <p class="text-danger text-center mt-3">Không tìm thấy khách hàng nào</p>
            </div>
        </div>
    </div>
</div>
<customer-add-edit-dialog [customerID]="customerID"></customer-add-edit-dialog>
<customer-print-barcode-dialog></customer-print-barcode-dialog>