<div class="card">
  <form [formGroup]="formData">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
        <h4 class="modal-title text-capitalize text-center mt-0 mb-0">
          <b>Phiếu chi trả lại khách hàng</b>
          <span *ngIf="isDesktop()" style="padding-bottom: 12px; padding-left: 8px" class="btn tooltip-content-drug">
          <span><i style="font-size:20px; color: black" class="fa fa-info-circle" aria-hidden="true"></i></span>
          <span style="font-size:14px; text-transform:none" class="show-tooltip-content-drug">
              <b>F1:</b> Thêm mới phiếu trong tab mới<br/>
              <b>F9:</b> Ghi phiếu<br/>
              <b>F11:</b> Toàn màn hình<br/>
          </span>
        </span>
        </h4>
        <div class="card-desc">
          <div class="card-code">
            Mã số: <strong>{{ formData.value?.soPhieu }}</strong>
          </div>
          Ngày:
          <div class="clickable-text daterange-picker font-weight-bold">
            <input formControlName="pickerNgayTao" type="text" class="form-control" [matDatepicker]="pickerNgayTao"
                   (click)="pickerNgayTao.open()">
            <mat-datepicker #pickerNgayTao="matDatepicker" disabled="false"></mat-datepicker>
            <span class="text-link" (click)="pickerNgayTao.open()">{{ formData.value?.pickerNgayTao | appDate }}</span>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Khách hàng</label>
            <div class="col-sm-8">
              <div class="control-group" *ngIf="isCreateView()">
                <ng-select
                  [items]="listKhachHang$ | async"
                  [typeahead]="searchKhachHangTerm$"
                  [minTermLength]="2"
                  formControlName="customerId"
                  appendTo="body"
                  appearance="outline"
                  bindLabel="tenKhachHang"
                  bindValue="id"
                  placeholder="Nhập mã, mã vạch hoặc tên..."
                  notFoundText="Không tìm thấy mục nào"
                  typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                  class="mb-1"
                  (change)="onCustomerSelectedChange($event)">
                  <ng-template ng-label-tmp let-item="item">
                    <span *ngIf="item.tenKhachHang">{{item.tenKhachHang}}</span>
                    <span *ngIf="!item.tenKhachHang">{{formData.value?.customer.tenKhachHang}}</span>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenKhachHang }}</span>
                  </ng-template>
                </ng-select>
                <a (click)="openAddEditInComingCustomerNoteAddEditDialog()" style="text-decoration: none">
                  <i class="fas fa-angle-double-right text-success"></i>&nbsp;<b>Phiếu thu nợ khách hàng</b>
                </a>
              </div>
              <div *ngIf="isUpdateView()">
                {{ formData.value?.customerText }}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Phiếu nhập lại từ khách hàng</label>
            <div class="col-sm-8">
              <div class="control-group" *ngIf="isCreateView()">
                <ng-select appendTo="body"
                           appearance="outline"
                           formControlName="receiverNoteId"
                           [items]="formData.value?.debtNotes"
                           bindLabel="noteInfo"
                           bindValue="id"
                           placeholder="Chọn hoặc gõ vào để tìm..."
                           notFoundText="Không tìm thấy phiếu nào"
                           (change)="onNoteSelectedChange($event)">
                  <ng-template ng-option-tmp let-item="item" let-index="index"
                               let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item?.noteInfo }}</span>
                  </ng-template>
                </ng-select>
              </div>
              <div *ngIf="isUpdateView()" [innerHTML]="getChiTiets() | sanitizeHtml">
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isCreateView()">
          <div class="row">
            <label class="col-sm-4 control-label">Tiền nợ</label>
            <div class="col-sm-8">
              {{ formData.value?.debtAmount | number }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Số tiền</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input type="text" formControlName="amount" class="form-control mb-0" mask="separator">
                <span class="input-group-btn" (click)="onPayFull()">
                  <button class="btn btn-primary" title="Trả hết">F</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Diễn giải</label>
            <div class="col-sm-8">
              <textarea formControlName="dienGiai" class="w-100 mb-0 form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Hình thức thanh toán</label>
            <div class="col-sm-8">
              <div class="form-check">
                <mat-radio-group class="tp-radio-group" formControlName="paymentTypeId">
                  <mat-radio-button class="tp-radio-button"
                                    *ngFor="let item of listPaymentType" [value]="item.id">
                    {{ item.displayName }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isUpdateView()">
          <div class="row">
            <label class="col-sm-4 control-label">Người lập</label>
            <div class="col-sm-8">
              {{ formData.value?.createdByUserText }}
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isUpdateView()">
          <div class="row">
            <label class="col-sm-4 control-label">Ngày lập</label>
            <div class="col-sm-8">
              {{ formData.value?.created | appDate }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" (click)="closeModal()">Đóng</button>
        <button *ngIf="havePermissions(['PTC_THEM'])" class="btn btn-primary" (click)="saveEdit()">Ghi phiếu</button>
        <button *ngIf="isUpdateView() && havePermissions(['PTC_IN'])" class="btn btn-primary" [matMenuTriggerFor]="printMenu">
          <i class="fas fa-print"></i>
        </button>
        <mat-menu #printMenu="matMenu">
          <button mat-menu-item (click)="onPrint('printType')">In 1 liên - A5</button>
          <button mat-menu-item (click)="onPrint('printType')">In 2 liên - A4</button>
        </mat-menu>
        <button *ngIf="isUpdateView() && havePermissions(['PTC_XOA'])" class="btn btn-danger"
                (click)="delete()">
          <i class="fa-regular fa-trash"></i>
        </button>
      </div>
    </div>
  </form>
</div>
