<div class="modal fade" id="customer-add-edit-dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng"><span>&times;</span></button>
                <h4 class="modal-title">{{customerID > 0 ? 'Cập nhật khách hàng' : 'Thêm mới khách hàng'}}
                </h4>
            </div>
            <div class="modal-body">
                <div *ngIf="isMinimized">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Tên khách hàng<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Nhóm khách hàng</label>
                                        <div class="col-sm-8">
                                            <select class="form-control mb-0 ng-pristine ng-valid ng-touched"
                                                name="SupplyerGroupCode" id="SupplyerGroupCode">
                                                <option label="khách lẻ" value="7617">khách lẻ</option>
                                                <option label="Mặc định" value="4">Mặc định</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Kiểu khách hàng</label>
                                        <div class="col-sm-8">
                                            <select class="form-control mb-0 ng-pristine ng-valid ng-touched"
                                                ng-model="CustomerModel.CusType">
                                                <option value="? undefined:undefined ?"></option>
                                                <option selected="" value="0">Cá nhân</option>
                                                <option value="1">Tổ chức</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Giới tính</label>
                                        <div class="col-sm-8">
                                            <select class="form-control mb-0 ng-pristine ng-untouched ng-valid"
                                                ng-model="CustomerModel.SexId">
                                                <option value="">--Chọn giới tính--</option>
                                                <option selected="" value="0">Nam</option>
                                                <option value="1">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tổ chức -->
                                <div class="col-md-6 form-group ng-hide">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Mã số thuế</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Ngày sinh</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Tuổi</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Số điện thoại</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Địa chỉ</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Mã vạch</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input class="form-control mb-0" style="text-align:left" type="text"
                                                    ng-model="SupplyerModel.BarCode" />
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary" title="Sinh mã vạch tự động"
                                                        ng-click="genBarCode(); $event.preventDefault(); $event.stopPropagation();"><i
                                                            class="fa-regular fa-barcode-read"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Email</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Nghề nghiệp</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Khả năng chi trả</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Thêm <span style="cursor: pointer" (click)="expandForm()">{{expandLabel}}</span></p>
                    <div class="row" *ngIf="showMoreForm">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Tên người liên hệ</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">SĐT người liên hệ</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Quan hệ</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!isMinimized">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Mã khách</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Tên khách<span
                                                class="text-danger">*</span></label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Giới tính</label>
                                        <div class="col-sm-8">
                                            <select class="form-control mb-0 ng-pristine ng-untouched ng-valid"
                                                ng-model="CustomerModel.SexId">
                                                <option value="">--Chọn giới tính--</option>
                                                <option selected="" value="0">Nam</option>
                                                <option value="1">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Địa chỉ</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Số điện thoại</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Nợ đầu kỳ</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Mã vạch</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <input class="form-control mb-0" style="text-align:left" type="text"
                                                    ng-model="SupplyerModel.BarCode" />
                                                <div class="input-group-btn">
                                                    <button class="btn btn-primary" title="Sinh mã vạch tự động"
                                                        ng-click="genBarCode(); $event.preventDefault(); $event.stopPropagation();"><i
                                                            class="fa-regular fa-barcode-read"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Tên nhóm</label>
                                        <div class="col-sm-8">
                                            <select class="form-control mb-0 ng-pristine ng-valid ng-touched"
                                                name="SupplyerGroupCode" id="SupplyerGroupCode">
                                                <option label="khách lẻ" value="7617">khách lẻ</option>
                                                <option label="Mặc định" value="4">Mặc định</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p>Thêm <span style="cursor: pointer" (click)="expandForm()">{{expandLabel}}</span></p>
                    <div class="row" *ngIf="showMoreForm">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Ngày sinh</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="date" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Email</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Đơn vị công tác</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Kiểu khách hàng</label>
                                        <div class="col-sm-8">
                                            <select class="form-control mb-0 ng-pristine ng-valid ng-touched"
                                                ng-model="CustomerModel.CusType">
                                                <option value="? undefined:undefined ?"></option>
                                                <option selected="" value="0">Cá nhân</option>
                                                <option value="1">Tổ chức</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Mã số thuế</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Tên người liên hệ</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">SĐT người liên hệ</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Mối quan hệ</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Ghi chú</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Mã LT QG</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Mã định danh y tế</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Căn cước công dân</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Mã số bảo hiểm y tế</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Nghề nghiệp</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Khả năng chi trả</label>
                                        <div class="col-sm-8">
                                            <input class="form-control mb-0 text-left" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">{{customerID > 0 ? 'Cập nhật' : 'Thêm mới'}}</button>
            </div>
        </div>
    </div>
</div>