.tab-check-color {
    background-color: #35a6ca!important;
    color: #fff!important;
}

.tab-uncheck-color {
    color: #337ab7!important;
}

.ng-select .ng-select-container {
    min-height: 34px !important;
}