.pt-2 {
    padding-bottom: 2px;
}

.w-100 {
    width: 200px;
}

.p-0 {
    padding: 0;
}

.btn-add-note {
    margin-left: 60px;
    margin-top: -51px;
}

.modal-width {
    width: 700px;
    margin-left: -80px;
}

.border-bottom-header {
    border-bottom: none;
}

.pd-5 {
    margin-bottom: 5px;
}

.modal-footer-width {
    margin-bottom: -16px;
    border: 0;
}