<div>
    <div class="box-group-white">
        <div class="box-group-title">
            <h2 class="text-center">
                <span>Phiếu thu tiền</span>
            </h2>
            <div class="text-center card-desc mb-0">
                <div class="card-code">
                    Mã số: <strong>{{data.noteNumber}}</strong>
                </div>
                Ngày: {{data.noteDate | appDate}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4">
                <h4>Thông tin bệnh nhân</h4>
                <div class="">
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3">Bệnh nhân</label>
                        <div class="col-md-9">
                            <input class="form-control mb-0" disabled [(ngModel)]="customer.tenKhachHang"
                                placeholder="Tên bệnh nhân..">
                        </div>
                    </div>
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3">Điện thoại</label>
                        <div class="col-md-9">
                            <input class="form-control mb-0" disabled [(ngModel)]="customer.soDienThoai"
                                placeholder="Điện thoại..">
                        </div>
                    </div>
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3">Địa chỉ</label>
                        <div class="col-md-9">
                            <input class="form-control mb-0" disabled [(ngModel)]="customer.diaChi"
                                placeholder="Địa chỉ..">
                        </div>
                    </div>
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3">Tuổi</label>
                        <div class="col-md-9">
                            <input class="form-control mb-0" disabled [(ngModel)]="customer.age" placeholder="Tuổi..">
                        </div>
                    </div>
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3">Giới tính</label>
                        <div class="col-md-9">
                            <input class="form-control mb-0" disabled [(ngModel)]="customer.sexText"
                                placeholder="Giới tính..">
                        </div>
                    </div>
                    <hr>
                    <h4>Thông tin thanh toán</h4>
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3">Số tiền</label>
                        <div class="col-md-9">
                            <table style="width:100%">
                                <tr>
                                    <td style="width: calc(100% - 100px);">
                                        <input type="text" class="form-control mb-0" [(ngModel)]="data.debtAmount"
                                            disabled mask="separator">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3">
                            <span>Chiết khấu (VNĐ)</span>
                        </label>
                        <div class="col-md-9">
                            <table style="width:100%">
                                <tr>
                                    <td style="width: calc(100% - 100px);">
                                        <input type="text" class="form-control" [(ngModel)]="data.discount" disabled
                                            mask="separator">
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3">
                            <span>Chiết khấu (%)</span>
                        </label>
                        <div class="col-md-9">
                            <table style="width:100%">
                                <tr>
                                    <td style="width: calc(100% - 100px);">
                                        <input type="text" class="form-control" [(ngModel)]="data.discountPercent"
                                            disabled ng-change="onDiscountChange('percent')" mask="separator">
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3"><span>Đã thanh toán</span></label>
                        <div class="col-md-9">
                            <table style="width:100%">
                                <tr>
                                    <td style="width: calc(100% - 100px);">
                                        <input type="text" class="form-control mb-0" [(ngModel)]="data.totalMoney"
                                            disabled mask="separator">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Phiếu đã thanh toán</label>
                        <div class="col-md-9">
                            <ul>
                                <li *ngFor="let i of data.chiTiets">
                                    <a (click)="onDetailNote(i)">
                                        <span *ngIf="i.typeNote === LOAI_PHIEU.PHIEU_KHAM_BENH">
                                            phiếu khám
                                        </span>
                                        <span *ngIf="i.typeNote === LOAI_PHIEU.PHIEU_DICH_VU">
                                            phiếu dịch vụ
                                        </span>
                                        số {{ i.noteNumber }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group-flex mb-3">
                        <label class="control-label col-md-3">Diễn giải</label>
                        <div class="col-md-9">
                            <textarea disabled class="form-control mb-0" [(ngModel)]="data.descriptNotePay"
                                style="width:100%;"></textarea>
                        </div>
                    </div>
                    <div class="form-group-flex mb-3">
                        <label class="msg_payment_header msg_payment_expanded control-label col-md-3">Hình thức thanh
                            toán <span style="cursor: pointer" (click)="expandForm()">{{expandLabel}}</span></label>
                        <div class="col-md-3">
                            <div id="paymentSlide" *ngIf="showMoreForm" class="form-check">
                                <mat-radio-group class="tp-radio-group" [(ngModel)]="data.typePayment">
                                    <mat-radio-button class="tp-radio-button" disabled
                                        *ngFor="let item of listPaymentType" [value]="item.id">
                                        {{item.displayName}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div *ngIf="data.typePayment == 1 && enablePaymentQR" class="col-md-6">
                            <!-- <ui-select ng-model="bankAccountFilter.selected" theme="selectize" style="width: 100%;">
                                <ui-select-match placeholder="Chọn tài khoản ngân hàng">{{getBankCode($select.selected)}} - {{$select.selected.AccountNo}} - {{$select.selected.AccountName}}</ui-select-match>
                                <ui-select-choices repeat="b in listBankAccount | propsFilter: {AccountNo: $select.search, AccountName: $select.search}">
                                    <image image-error-directive="" ng-src="{{getBankLogo(b)}}" height="50px" />
                                    <span ng-bind-html="(getBankCode(b) + ' - ' + b.AccountNo + ' - ' + b.AccountName) | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <button class="btn btn-primary" ng-if="bankAccountFilter.selected" ng-click="displayPaymentQR()">Hiện mã QR</button>
                            <button class="btn btn-primary" ng-if="isSuperUser || isAdminUser" ng-click="updateBankAccount(); $event.preventDefault(); $event.stopPropagation();">Thêm tài khoản</button> -->
                        </div>
                    </div>
                    <hr class="mt-0">
                    <div class="d-flex justify-content-center align-items-center gap-10">
                        <a href="/management/receipt-medical-fee/list" class="btn btn-default"
                            *ngIf="data.recordStatusId != RECORD_STATUS.DELETED">Quay lại</a>
                        <a href="/management/note-management/deleted-list?noteTypeId=14" class="btn btn-default"
                            *ngIf="data.recordStatusId == RECORD_STATUS.DELETED">Quay lại</a>
                        <a class="btn btn-primary" *ngIf="data.recordStatusId != RECORD_STATUS.DELETED"
                            href="/management/receipt-medical-fee/add">Tiếp tục</a>
                        <a class="btn btn-primary" *ngIf="data.recordStatusId != RECORD_STATUS.DELETED && havePermissions(['PTT_SUA'])"
                            href="/management/receipt-medical-fee/edit/{{data.id}}">Sửa</a>
                        <div class="btn-group" *ngIf="data.recordStatusId != RECORD_STATUS.DELETED && havePermissions(['PTT_IN'])">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                In <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a (click)="printPreview('1')">Phiếu In - A4</a></li>
                                <li><a (click)="printPreview('2')">Phiếu In - A5</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-danger" *ngIf="data.recordStatusId != RECORD_STATUS.DELETED && havePermissions(['PTT_XOA'])"
                            (click)="deleteInView('Bạn thực sự muốn xóa phiếu này?', data, '/management/receipt-medical-fee/list')">Xóa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
