<nav class="navbar navbar-default header-main">
  <div class="nav-header-bottom nav-wnt-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div style="padding-left: 0" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-wnt">
              <li>
                <a href="/management/home">
                  <strong style="color:#fff">WEB </strong>
                  <strong id="middle-name" style="color:orange">NHÀ </strong>
                  <strong id="last-name" style="color:#28CC28">THUỐC </strong>
                </a>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/login" id="loginLink">Đăng Nhập</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="container body-content" style="width: 95%">
  tiep-nhan
</div>

<footer id="footerId">
  <div style="margin:0 auto">
    <p style="margin : 0; padding: 1px 1px 0">Được phát triển bởi ©<a
      href="https://facebook.com/webnhathuoc" target="_blank">
      <strong style="color:#35A6CA">WEB </strong>
      <strong style="color:orange">NHÀ </strong>
      <strong style="color:#28CC28">THUỐC </strong></a></p>
  </div>
</footer>
