.text-truncate-line .ng-binding {
    display: inline-block;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

#loader-div {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}