<form [formGroup]="formData">
    <div class="box-group-white">
        <div class="box-group-title">
            <h2 class="text-center">{{title}}</h2>
            <div class="text-center">
                Ngày: <div class="clickable-text daterange-picker font-weight-bold"><input [hidden]="1==1"
                        formControlName="ngayTao" type="text" class="form-control"
                        (dateChange)="onDateChange($event.value)" [matDatepicker]="pickerNoteDate"
                        (click)="pickerNoteDate.open()">
                    <mat-datepicker #pickerNoteDate="matDatepicker" disabled="false"></mat-datepicker><span
                        class="text-link" (click)="pickerNoteDate.open()">{{formData.value.noteDate | appDate}}</span>
                </div>
            </div>
        </div>
        <!-- Desktop -->
        <div *ngIf="isDesktop()">
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="d-flex gap-10 flex-wrap justify-content-center">
                        <a class="btn btn-primary" *ngIf="formData.value?.id > 0"
                            href="/management/medical-note/add">Tiếp tục</a>
                        <button class="btn btn-primary"
                            [disabled]="formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM || formData.value?.statusNote"
                            ng-click="onSpecifyService(noteModel.Id)"
                            ng-show="permittedFields.NoteService_Create_And_Write">Chỉ định dịch vụ</button>
                        <button class="btn btn-primary" ng-click="onListServiced(noteModel.Id)"
                            ng-show="permittedFields.NoteService_Read">Dịch vụ đã kê</button>
                        <button class="btn btn-primary" ng-click="onSampleNote(noteModel.Id)">Đơn thuốc</button>
                        <a class="btn btn-primary"
                            href="/management/medical-note/history-list?customerId={{formData.value?.idPatient}}"
                            target="_blank">LS khám
                            chữa bệnh</a>
                        <button class="btn btn-primary" ng-click="onHistorySampleNote(noteModel.Customer.CusId)">LS kê
                            đơn</button>
                        <button class="btn btn-danger"
                            [disabled]="formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM || formData.value?.statusNote.locked"
                            ng-click="onEndExam(noteModel.Id,true)">Kết thúc khám</button>
                        <button class="btn btn-default"
                            [disabled]="formData.value?.statusNote != TRANG_THAI_PHIEU_KHAM.DA_KHAM || formData.value?.statusNote.locked"
                            ng-click="onEndExam(noteModel.Id,false)">Hủy kết thúc</button>
                        <button class="btn btn-primary"
                            [disabled]="formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM || formData.value?.statusNote.locked"
                            ng-hide="action == 'view'" (click)="createUpdate()">Ghi phiếu</button>
                        <button class="btn btn-primary"
                            [disabled]="formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM || formData.value?.statusNote.locked"
                            *ngIf="action == 'view'">Sửa</button>
                        <button class="btn btn-default" ng-show="noteModel.Id > 0 && permittedFields.NoteMedical_Print"
                            ng-click="onPrint(noteModel.Id)">In</button>
                        <a class="btn btn-primary" [attr.disabled]="action != 'view' || !formData.value?.isDeb"
                            ng-click="onPaymetNote(noteModel)">Thanh toán</a>
                        <a *ngIf="formData.value?.id > 0" ng-click="onLockNote()" title="Mở/Khóa phiếu"><i></i></a>
                        <button class="btn btn-default">Quay lại</button>
                    </div>
                </div>
                <hr />
                <div class="col-md-12">
                    <div class="form-flex-wrap">
                        <h4>Thông tin bệnh nhân</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Bệnh nhân<span class="text-danger">(*)</span></label>
                                    <div class="flex-grow-1">
                                        <div class="input-group"
                                            *ngIf="formData.value?.statusNote != TRANG_THAI_PHIEU_KHAM.DA_KHAM && action != 'view'">
                                            <div class="flex-grow-1">
                                                <ng-select [items]="listKhachHang$ | async"
                                                    [typeahead]="searchKhachHangTerm$" [minTermLength]="2"
                                                    [trackByFn]="trackByFn" formControlName="idPatient" appendTo="body"
                                                    appearance="outline" bindLabel="tenKhachHang" bindValue="id"
                                                    placeholder="Nhập mã, mã vạch hoặc tên..."
                                                    notFoundText="Không tìm thấy mục nào"
                                                    typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                                                    (change)="searchKhachHangTerm$.next(''); getPatientDetail($event)">
                                                    <ng-template ng-option-tmp let-item="item" let-index="index"
                                                        let-search="searchTerm">
                                                        <span [ngOptionHighlight]="search">{{ item.tenKhachHang
                                                            }}</span>
                                                    </ng-template>
                                                </ng-select>
                                            </div>
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary" (click)="openCustomerAddEditDialog()"
                                                    title="Thêm khách hàng mới nếu chưa có">
                                                    <i class="fa-regular fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div *ngIf="formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM || action == 'view'"
                                            formGroupName="customer">
                                            <input type="text" class="form-control mb-0" formControlName="tenKhachHang"
                                                [attr.disabled]="true" />
                                        </div>
                                    </div>
                                </div>
                                <div formGroupName="customer" class="form-inline-flex">
                                    <label class="col-md-4">Địa chỉ</label>
                                    <input class="form-control mb-0 flex-grow-1" type="text"
                                        [attr.disabled]="action == 'view'" formControlName="diaChi" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Ngày sinh</label>
                                    <div class="input-group">
                                        <input class="input-datetime form-control mb-0 text-box single-line"
                                            id="birthDate" ng-change="birthDateChange()"
                                            ng-disabled="!receiverSelectedItem || action == 'view'"
                                            placeholder="dd/mm/yyyy" style="text-align:left" type="text"
                                            formControlName="receiverSelectedItem.BirthDate" />
                                        <span class="input-group-addon flex-grow-width-25"
                                            ng-click="onBirthDateClick(); $event.preventDefault(); $event.stopPropagation();"><i
                                                class="fa-regular fa-calendar-days"></i></span>
                                    </div>
                                </div>
                                <div formGroupName="customer" class="form-inline-flex">
                                    <label class="col-md-4">Tuổi</label>
                                    <input class="form-control mb-0 flex-grow-1" formControlName="age" [disabled]="true"
                                        type="text" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div formGroupName="customer" class="form-inline-flex mb-3">
                                    <label class="col-md-4">Giới tính</label>
                                    <select class="form-control mb-0" [attr.disabled]="action == 'view'"
                                        formControlName="sexId">
                                        <option value="" selected>--Mặc định--</option>
                                        <option value="0">Nam</option>
                                        <option value="1">Nữ</option>
                                    </select>
                                </div>
                                <div formGroupName="customer" class="form-inline-flex">
                                    <label class="col-md-4">SĐT</label>
                                    <input class="form-control mb-0" [attr.disabled]="action == 'view'"
                                        formControlName="soDienThoai" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-flex-wrap mb-3">
                        <h4>Thông tin khám</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Số phiếu</label>
                                    <input class="form-control mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="noteNumber" type="text" />
                                </div>
                                <div class="form-inline-flex">
                                    <label class="col-md-4">Tình trạng</label>
                                    <select class="form-control mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="sickCondition">
                                        <option value="0" selected>Bình thường</option>
                                        <option value="1">Không khỏe</option>
                                        <option value="2">Cấp cứu</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Tiền khám</label>
                                    <input class="form-control text-right mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="totalMoney" type="text" mask="separator" />
                                </div>
                                <div class="form-inline-flex">
                                    <label class="col-md-4">Loại khám</label>
                                    <div class="flex-grow-1">
                                        <ng-select appendTo="body" formControlName="idServiceExam">
                                            <ng-option [value]="0">-Mặc định-</ng-option>
                                            <ng-option *ngFor="let item of listLoaiKham"
                                                [value]="item.id">{{item.tenThuoc}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">B.Sỹ<span class="text-danger">(*)</span></label>
                                    <div class="input-group flex-grow-1">
                                        <div class="flex-grow-1">
                                            <ng-select appendTo="body" formControlName="idDoctor"
                                                [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM">
                                                <ng-option [value]="0">-Mặc định-</ng-option>
                                                <ng-option *ngFor="let item of listBacSies"
                                                    [value]="item.id">{{item.tenBacSy}}
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary"
                                                [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                                (click)="openDoctorAddEditDialog()" title="Thêm bác sỹ mới nếu chưa có">
                                                <i class="fa-regular fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-inline-flex">
                                    <label class="col-md-4">Phòng khám</label>
                                    <div class="flex-grow-1">
                                        <ng-select appendTo="body" formControlName="clinicCode">
                                            <ng-option [value]="0">-Mặc định-</ng-option>
                                            <ng-option *ngFor="let item of listPhongKham"
                                                [value]="item.id">{{item.tenPhongKham}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-flex-wrap">
                        <h4>Khám lâm sàng</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Lý do khám</label>
                                    <textarea class="form-control mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="reasonExamination"></textarea>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Khám lâm sàng</label>
                                    <textarea class="form-control mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="clinicalExamination"></textarea>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Bệnh kèm theo</label>
                                    <textarea class="form-control mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="includingDiseases"></textarea>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Chẩn đoán bệnh</label>
                                    <div class="flex-grow-1">
                                        <ng-select [items]="listDiagnose$ | async" [multiple]="true"
                                            [typeahead]="searchDiagnoseTerm$" [minTermLength]="2"
                                            formControlName="chanDoanIds" appendTo="body" appearance="outline"
                                            bindLabel="tenChanDoan" bindValue="id"
                                            placeholder="Nhập mã, mã vạch hoặc tên..."
                                            notFoundText="Không tìm thấy mục nào"
                                            typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                                            (change)="searchDiagnoseTerm$.next('')">
                                            <ng-template ng-label-tmp let-clear="clear" let-item="item">
                                                <span>{{item.maChanDoan}}_{{item.tenChanDoan}}</span>
                                                <span class="ng-value-icon right" (click)="clear(item)">×</span>
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-index="index"
                                                let-search="searchTerm">
                                                <span
                                                    [ngOptionHighlight]="search">{{item.maChanDoan}}_{{item.tenChanDoan}}</span>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Chẩn đoán khác</label>
                                    <textarea class="form-control mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="diagnosticOther"></textarea>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">KL & HĐT</label>
                                    <textarea class="form-control mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="conclude"></textarea>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <div class="col-md-4">
                                        <div class="form-check align-items-center">
                                            <label class="form-check-label">Tái khám</label>
                                            <input class="form-check mb-0 mt-0" [attr.disabled]="action == 'view'"
                                                placeholder="dd/mm/yyyy" formControlName="check" type="checkbox">
                                        </div>
                                    </div>
                                    <input *ngIf="formData.value?.check" ng-change="onReexaminationDateNumChanged()"
                                        type="text" min="0" awnum="app-decimal-number" class="form-control mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        style="text-align:left" formControlName="noteModel.ReexaminationDateNum"
                                        placeholder="Nhập số ngày hẹn tái khám" />
                                </div>
                                <div class="form-inline-flex" *ngIf="formData.value?.check">
                                    <label class="col-md-4">Ngày tái khám</label>
                                    <input class="input-datetime form-control mb-0 text-box single-line"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        style="text-align:left" type="text" placeholder="dd/mm/yyyy"
                                        formControlName="noteModel.ReexaminationDate"
                                        ng-change="onReexaminationDateChanged()" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Nhịp tim</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="heartbeat">
                                        <span class="input-group-addon flex-grow-width-30">nhịp/phút</span>
                                    </div>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Cân nặng</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control mb-0"
                                            [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="weight">
                                        <span class="input-group-addon flex-grow-width-25">Kg</span>
                                    </div>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Nhịp thở</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="breathing">
                                        <span class="input-group-addon flex-grow-width-30">nhịp/phút</span>
                                    </div>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Nhiệt độ</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control mb-0"
                                            [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="temperature">
                                        <span class="input-group-addon flex-grow-width-25">&#176C;</span>
                                    </div>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Huyết áp</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control mb-0"
                                            [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="bloodPressure">
                                        <span class="input-group-addon flex-grow-width-25">mmHg</span>
                                    </div>
                                </div>
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Chiều cao</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control mb-0"
                                            [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="height">
                                        <span class="input-group-addon flex-grow-width-25">cm</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-inline-flex mb-3">
                                    <label class="col-md-4">Dị ứng thuốc</label>
                                    <textarea class="form-control mb-0"
                                        [attr.disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="drugAllergy"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile -->
        <div *ngIf="isMobile()">
            <b class="msg_view_function_header">Chọn tính năng <span>[+]</span></b>
            <div id="functionSlide" class="form-check">
                <ul>
                    <li><button class="btn btn-link"
                            [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                            ng-click="onSpecifyService(noteModel.Id)">Chỉ định dịch vụ</button></li>
                    <li><span class="btn btn-link" ng-click="onListServiced(noteModel.Id)">Dịch vụ đã kê</span></li>
                    <li><span class="btn btn-link" ng-click="onSampleNote(noteModel.Id)">Đơn thuốc</span></li>
                    <li><span class="btn btn-link" ng-click="onHistoryCusMedical(noteModel.Customer.CusId)">Lịch sử khám
                            chữa bệnh</span></li>
                    <li><button class="btn btn-link"
                            [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                            ng-click="onEndExam(noteModel.Id,true)">Kết thúc khám</button></li>
                    <li><span class="btn btn-link" ng-disabled="noteModel.StatusExam !=@((int)StatusExa.Examined)"
                            ng-click="onEndExam(noteModel.Id,false)">Hủy kết thúc</span></li>
                </ul>
            </div>
            <div class="col-md-10 border-right">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <td colspan="12"><label class="control-label">Thông tin bệnh nhân</label></td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Bệnh nhân<span
                                            class="text-danger">(*)</span></label></td>
                                <td colspan="10">
                                    <div class="input-group"
                                        ng-hide="noteModel.StatusExam ==@((int)StatusExa.Examined)">
                                        <input type="text" class="form-control">
                                        <span class="input-group-addon"
                                            ng-click="addCustomer();$event.preventDefault();"><i class="fa fa-plus"
                                                aria-hidden="true"></i></span>
                                    </div>
                                    <input type="text" class="form-control" [disabled]="true"
                                        formControlName="receiverSelectedItem.Name"
                                        ng-show="noteModel.StatusExam ==@((int)StatusExa.Examined)" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Địa chỉ</label></td>
                                <td colspan="10"><input class="form-control" type="text" [disabled]="true"
                                        formControlName="receiverSelectedItem.Addresses" /></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="control-label">Ngày sinh</label>
                                </td>
                                <td colspan="4">
                                    <div class="input-group">
                                        <input class="input-datetime form-control text-box single-line" id="birthDate"
                                            [disabled]="true" placeholder="dd/mm/yyyy" style="text-align:left"
                                            type="text" formControlName="receiverSelectedItem.BirthDate" />
                                        <span class="input-group-addon"
                                            ng-click="onBirthDateClick(); $event.preventDefault(); $event.stopPropagation();"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </td>
                                <td colspan="1">
                                    <label class="control-label">Tuổi</label>
                                </td>
                                <td colspan="5">
                                    <input class="form-control" [disabled]="true"
                                        formControlName="receiverSelectedItem.OldNumber" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="control-label">Giới tính</label>
                                </td>
                                <td colspan="4">
                                    <select class="form-control" [disabled]="true"
                                        formControlName="receiverSelectedItem.SexId">
                                        <option value="" selected>--Mặc định--</option>
                                        <option value="0">Nam</option>
                                        <option value="1">Nữ</option>
                                    </select>
                                </td>
                                <td colspan="1">
                                    <label class="control-label">SĐT</label>
                                </td>
                                <td colspan="4">
                                    <input class="form-control" [disabled]="true"
                                        formControlName="receiverSelectedItem.Phones" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12"><label class="control-label">Thông tin khám</label></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="control-label">Số phiếu khám</label>
                                </td>
                                <td colspan="10">
                                    <input class="form-control"
                                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="noteModel.NoteNumber" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="control-label">Tình trạng bệnh</label>
                                </td>
                                <td colspan="10">
                                    <select class="form-control"
                                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="noteModel.SickCondition">
                                        <option value="0" selected>Bình thường</option>
                                        <option value="1">Không khỏe</option>
                                        <option value="2">Cấp cứu</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="control-label">Phòng khám</label>
                                </td>
                                <td colspan="10">
                                    <select class="form-control mb-0">
                                        <option value="0" selected>--Mặc định--</option>
                                        <option value="1">Phòng 1</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="control-label">Bác sỹ khám <span
                                            class="text-danger">(*)</span></label>
                                </td>
                                <td colspan="10">
                                    <div class="input-group">
                                        <select class="form-control mb-0">
                                            <option value="0" selected>--Mặc định--</option>
                                            <option value="1">Tỉnh đz</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-default"
                                                [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                                ng-click="onAddDoctor(); $event.preventDefault(); $event.stopPropagation();"
                                                style="top:-2px;" title="Thêm bác sỹ mới nếu chưa có">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <label class="control-label">Tiền khám <span class="text-danger">(*)</span></label>
                                </td>
                                <td colspan="5">
                                    <input class="form-control text-right"
                                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="noteModel.TotalMoney" type="text" awnum="app-decimal-number" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="12"><label class="control-label">Khám lâm sàng</label></td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Lý do khám</label></td>
                                <td colspan="10"><textarea class="form-control"
                                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="noteModel.ReasonExamination"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Khám lâm sàng</label></td>
                                <td colspan="10"><textarea class="form-control"
                                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="noteModel.ClinicalExamination"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Bệnh kèm theo</label></td>
                                <td colspan="10"><textarea class="form-control"
                                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="noteModel.IncludingDiseases"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Dị ứng với thuốc</label></td>
                                <td colspan="10"><textarea class="form-control"
                                        ng-disabled="action == 'view' ||noteModel.StatusExam ==@((int)StatusExa.Examined)"
                                        formControlName="noteModel.DrugAllergy"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Nhịp tim </label></td>
                                <td colspan="4">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="noteModel.Heartbeat"><span
                                            class="input-group-addon">nhịp/phút</span>
                                    </div>
                                </td>
                                <td colspan="2"><label class="control-label">Nhiệt độ</label></td>
                                <td colspan="4">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="noteModel.Temperature"><span
                                            class="input-group-addon">&#176C;</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Cân nặng </label></td>
                                <td colspan="4">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="noteModel.Weight"><span class="input-group-addon">Kg</span>
                                    </div>
                                </td>
                                <td colspan="2"><label class="control-label">Huyết áp</label></td>
                                <td colspan="4">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="noteModel.BloodPressure"><span
                                            class="input-group-addon">mmHg</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Nhịp thở </label></td>
                                <td colspan="4">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="noteModel.Breathing"><span
                                            class="input-group-addon">nhịp/phút</span>
                                    </div>
                                </td>
                                <td colspan="2"><label class="control-label">Chiều Cao</label></td>
                                <td colspan="4">
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                            [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                            formControlName="noteModel.Height"><span class="input-group-addon">Cm</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Chẩn đoán bệnh </label></td>
                                <td colspan="10"><textarea class="form-control"
                                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="noteModel.Diagnostic"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2"><label class="control-label">Kết luận và hướng điều trị </label></td>
                                <td colspan="10"><textarea class="form-control"
                                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                        formControlName="noteModel.Conclude"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-check mb-2 mr-sm-2">
                                        <label class="form-check-label">
                                            Hẹn tái khám <input class="form-check-input"
                                                [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                                                style="transform:scale(1.5)" placeholder="dd/mm/yyyy"
                                                formControlName="noteModel.Check" type="checkbox">
                                        </label>
                                    </div>
                                </td>
                                <td colspan="10">
                                    <div ng-show="noteModel.Check == true">
                                        <input ng-change="onReexaminationDateNumChanged()" type="number"
                                            class="form-control"
                                            ng-disabled="action == 'view' ||noteModel.StatusExam ==@((int)StatusExa.Examined) "
                                            style="text-align:left" formControlName="noteModel.ReexaminationDateNum"
                                            placeholder="Nhập số ngày hẹn tái khám" />
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="noteModel.Check == true">
                                <td colspan="2">
                                    <div class="form-check mb-2 mr-sm-2">
                                        <label class="form-check-label">
                                            Ngày tái khám
                                        </label>
                                    </div>
                                </td>
                                <td colspan="10">
                                    <div class="input-group">
                                        <input ng-change="onReexaminationDateChanged()" readonly="readonly"
                                            class="form-control"
                                            ng-disabled="action == 'view' ||noteModel.StatusExam ==@((int)StatusExa.Examined) "
                                            id="reexaminationDate" style="text-align:left" placeholder="dd/mm/yyyy"
                                            type="text" formControlName="noteModel.ReexaminationDate" />
                                        <span class="input-group-addon"
                                            ng-click="onDateCheckClick(); $event.preventDefault(); $event.stopPropagation();"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="align-center">
                    <button class="btn btn-primary" ng-show="noteModel.Id > 0"
                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                        href="/NoteMedical/Create">Tạo
                        mới</button>
                    <button class="btn btn-primary"
                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                        ng-hide="action == 'view'" ng-click="SaveData()">Ghi phiếu</button>
                    <button class="btn btn-primary"
                        [disabled]="action == 'view' || formData.value?.statusNote == TRANG_THAI_PHIEU_KHAM.DA_KHAM"
                        ng-hide="action != 'view'" href="">Sửa</button>
                    <button class="btn btn-primary" ng-show="noteModel.Id > 0"
                        ng-click="onPrint(noteModel.Id)">In</button>
                    <button class="btn btn-default">Quay lại</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="model-payment" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-header">
                    <div class="modal-title">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="control-label">Thanh toán phiếu khám số : </h4>
                    </div>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th width="40%">Tiền cần thanh toán(VNĐ)</th>
                        <th>Tiền CK(VNĐ)</th>
                        <th>Tiền thực thu(VNĐ)</th>
                    </tr>
                    <tr>
                        <td class="text-right"></td>
                        <td><input class="form-control text-right border-input" type="text"
                                ng-change="onDiscountChange()" formControlName="modelPayment.Discount"
                                awnum="app-decimal-number" /></td>
                        <td><input class="form-control text-right border-input" type="text"
                                formControlName="modelPayment.TotalAmount" awnum="app-decimal-number" /></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-disabled="noteFeeId > 0" ng-click="onPayment()">Thanh
                        toán</button>
                    <div class="btn-group" ng-show="action == 'view' || model.Id > 0">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            In <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="onPrintNotePayment(1)">Phiếu In - A4</a></li>
                            <li><a href="#" ng-click="onPrintNotePayment(2)">Phiếu In - A5</a></li>
                        </ul>
                    </div>
                    <button class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div> -->
    <!-- lịch sử khám bệnh gần nhất -->
    <div id="model-diagnostic" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header border-bottom-header">
                    <div class="modal-title">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="control-label">Lịch sử chẩn đoán bệnh của bệnh nhân </h4>
                        <i class="text-danger">
                            Bệnh nhân này trước đây đã đến khám bạn có muốn đọc chẩn đoán bệnh ở phiếu khám cũ áp dụng
                            sang phiếu khám hiện tại không.
                        </i>
                    </div>
                </div>
                <table class="table table-bordered">
                    <tr>
                        <th>Ngày khám</th>
                        <th>Chẩn đoán bệnh</th>
                        <th>#</th>
                    </tr>
                    <tr ng-repeat="i in historyDiagnostics">
                        <td></td>
                        <td>
                            <p ng-repeat="ii in i.DiagnosticModel"></p>
                        </td>
                        <td><input class="btn btn-default" type="button" value="Chọn"
                                ng-click="onMapDiagnostic(i.DiagnosticModel)" /></td>
                    </tr>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

</form>