<div class="card">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
      <h4 class="modal-title text-capitalize text-center mt-0 mb-0">
        <b>Phiếu thu nợ khách hàng</b>
      </h4>
      <div class="card-desc">
        <div class="card-code">
          Mã số: <strong>{{noteDetail?.soPhieu}}</strong>
        </div>
        Ngày: <strong>{{noteDetail?.ngayTao | appDate}}</strong>
      </div>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-userpicker">
        <tbody>
        <tr>
          <td><b>Khách hàng</b></td>
          <td>
            {{noteDetail?.customerText}}
          </td>
        </tr>
        <tr>
          <td><b>Phiếu xuất</b></td>
          <td [innerHTML]="getChiTiets() | sanitizeHtml">
          </td>
        </tr>
        <tr>
          <td><b>Số tiền</b></td>
          <td>{{noteDetail?.amount | number}}</td>
        </tr>
        <tr>
          <td><b>Diễn giải</b></td>
          <td>{{noteDetail?.dienGiai}}</td>
        </tr>
        <tr>
          <td><b>Hình thức thanh toán</b></td>
          <td>{{ noteDetail?.paymentTypeId == 0 ? 'Tiền mặt' : 'Chuyển khoản' }}</td>
        </tr>
        <tr>
          <td><b>Người lập</b></td>
          <td>{{noteDetail?.createdByUserText}}</td>
        </tr>
        <tr>
          <td><b>Ngày lập</b></td>
          <td>{{noteDetail?.created | appDate}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button *ngIf="havePermissions(['PTC_THEM']) && data.isContinue" class="btn btn-primary"
              (click)="openAddEditDialog(null)">Tiếp tục
      </button>
      <button class="btn btn-default" (click)="closeModal()">Đóng</button>
      <button *ngIf="havePermissions(['PTC_IN'])" class="btn btn-primary" [matMenuTriggerFor]="printMenu"><i
        class="fas fa-print"></i></button>
      <mat-menu #printMenu="matMenu">
        <button mat-menu-item (click)="printPreview('2', data.id)">In 1 liên - A5</button>
        <button mat-menu-item (click)="printPreview('1', data.id)">In 2 liên - A4</button>
      </mat-menu>
      <button *ngIf="havePermissions(['PTC_THEM', 'PTC_SUA'])" (click)="openAddEditDialog(noteDetail?.id)" class="btn btn-primary"><i
        class="fa-regular fa-pen-to-square"></i></button>
      <button *ngIf="havePermissions(['PTC_XOA'])" class="btn btn-danger"
              (click)="delete()">
        <i class="fa-regular fa-trash"></i>
      </button>
    </div>
  </div>
</div>
