<div class="card-bg row">
    <h2 class="text-center mt-0 mb-0">
        <b>PHIẾU BÁN HÀNG</b>
        <span ng-if="deviceType==0" style="padding-bottom: 12px; padding-left: 8px"
            class="btn tooltip-content-drug ng-scope" ng-mouseover="onShowTitle(gridItem)">
            <span ng-click="">
                <i style="font-size:20px; color: black" class="fa fa-info-circle" aria-hidden="true"></i>
            </span>
            <span style="font-size:14px; text-transform:none" class="show-tooltip-content-drug">
                <b>F1:</b> Thêm mới phiếu trong tab mới<br>
                <b>F2:</b> Tìm khách hàng/nhà cung cấp<br>
                <b>F4:</b> Tính liều<br>
                <b>F8:</b> Thay đổi tổng tiền<br>
                <b>F9:</b> Ghi phiếu<br>
                <b>F11:</b> Toàn màn hình<br>
                <b>↑ và ↓:</b> Đi từ trên xuống<br>
            </span>
        </span>
    </h2>
    <form [formGroup]="formData">
        <div class="text-center card-desc">
            <div class="card-code">
                Mã số: <strong class="ng-binding">{{formData.value?.soPhieuXuat}}</strong>
            </div>
            Ngày: <div class="clickable-text daterange-picker font-weight-bold"><input [hidden]="1==1"
                    formControlName="noteDate" type="text" class="form-control"
                    (dateChange)="onDateChange($event.value)" [matDatepicker]="pickerNgayXuat"
                    (click)="pickerNgayXuat.open()">
                <mat-datepicker #pickerNgayXuat="matDatepicker" [disabled]="action =='view'"></mat-datepicker><span
                    class="text-link" (click)="pickerNgayXuat.open()">{{formData.value.id == 0 ?
                    (formData.value.ngayXuat | appDate) :formData.value.ngayXuat | appDateTime}}</span>
            </div>
        </div></form>
        <div>
            <form [formGroup]="formData">
                <div id="content">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <label class="control-label">Thông tin cơ sở khám</label>
                            <table>
                                <tr>
                                    <td>Mã đơn </td>
                                    <td><input type="text" id="txtSearch" style="width: 50%;" [disabled]="action =='view'"
                                        class="form-control" formControlName="eSampleNoteCode"
                                        (change)="getThongTinDOnDienTu()" placeholder="Mã đơn thuốc điện tử"></td>
                                </tr>
                                <tr>
                                    <td>Cơ sở kê đơn: </td>
                                    <td><strong class="ng-binding" >{{formData.value?.thongTinDon.tenCoSoKhamChuaBenh}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ: </td>
                                    <td><strong class="ng-binding" style="padding-left: 5px;">{{formData.value?.thongTinDon.diaChi}}</strong></td>
                                </tr>
                                <tr>
                                    <td style="width: 20%;">Bác sỹ kê đơn: </td>
                                    <td><strong class="ng-binding" style="padding-left: 5px;">{{formData.value?.thongTinDon.tenBacSi}}</strong></td>
                                </tr>
                                <tr>
                                    <td>Chuẩn đoán: </td>
                                    <td><span *ngFor="let item of formData.value?.thongTinDon.chanDoan;"
                                        class="ng-binding ng-scope">{{item.maChanDoan}} - {{item.tenChanDoan}}</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6 text-left">
                            <label class="control-label">Thông tin bệnh nhân</label>
                            <p class="ng-binding">Khách hàng: {{formData.value?.thongTinDon.hoTenBenhNhan}}  
                                <span class="ng-binding">Tuổi :{{formData.value?.thongTinDon.age}}</span></p>
                            <p class="ng-binding">Địa chỉ: {{formData.value?.thongTinDon.diaChi}}</p>
                            <div class="ng-binding">Giới tính: {{formData.value?.thongTinDon.gioiTinh == 2 ? 'Nữ' : 'Nam'}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Thuốc theo đơn</label>
                    <table class="table table-striped table-responsive table-hover">
                        <thead>
                            <tr>
                                <th>Mã thuốc</th>
                                <th>Hoạt chất</th>
                                <th>Tên thuốc</th>
                                <th>ĐVT</th>
                                <th>SL</th>
                                <th>Cách dùng</th>
                                <th>Đã bán</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr *ngFor="let item of formData.value?.thongTinDon.thongTinDonThuoc;" class="ng-scope">
                                <td class="ng-binding">{{item.maThuoc}}</td>
                                <td class="ng-binding">{{item.bietDuoc}}</td>
                                <td class="ng-binding">{{item.tenThuoc}}</td>
                                <td class="ng-binding">{{item.donViTinh}}</td>
                                <td class="ng-binding">{{item.soLuong}}</td>
                                <td class="ng-binding">{{item.cachDung}}</td>
                                <td class="ng-binding">{{item.soLuongBan}}</td>
                            </tr>
                        </tbody>
        
                    </table>
                </div>
            </form>
            
            <div class="col-md-8">
                <label class="control-label">Thực bán</label>
                <table mat-table class="table table-striped table-hover tr-ng-grid" [dataSource]="getDataSource()">
                    <ng-container matColumnDef="#">
                        <th mat-header-cell *matHeaderCellDef style="width:3%"> #</th>
                        <td mat-cell *matCellDef="let data; index as i;" class="text-center">
                            <button *ngIf="data.isEditingItem" [disabled]="action =='view'" class="btn btn-primary" title="Thêm mới" (click)="onAddNew(data)"><i
                                    class="fa-regular fa-plus"></i></button>
                            <button *ngIf="!data.isEditingItem" [disabled]="action =='view'" class="btn btn-danger" title="Xóa" (click)="onDelete(data)"><i
                                    class="fa-regular fa-trash"></i></button>
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="maThuoc">
                        <th mat-header-cell *matHeaderCellDef style="width:15%"> Mã thuốc theo đơn </th>
                        <td mat-cell *matCellDef="let data" class="text-right">
                             <select *ngIf="!data.isEditingItem" class="form-control" [(ngModel)]="data.refConnectivityCode" (change)="onMaThuocDonChange(data)">
                                <option selected>Chọn mã thuốc</option>
                                <option *ngFor="let item of maThuocDons;" value="{{item}}">{{item}}</option>
                             </select>
                        </td>
                    </ng-container>
        
                    <ng-container matColumnDef="matHang">
                        <th mat-header-cell *matHeaderCellDef style="width:25%">Mặt Hàng [Mã-Tên]</th>
                        <td mat-cell *matCellDef="let data">
                            <div *ngIf="data.isEditingItem">
                                <div>
                                    <div class="w-100">
                                        <div class="input-group">
                                            <ng-select #selectDrug 
                                                class="w-100"
                                                appendTo="body" 
                                                [(ngModel)]="data.thuocThuocId"
                                                appearance="outline" 
                                                [items]="listThuoc$ | async" 
                                                [typeahead]="searchThuocTerm$"
                                                bindLabel="tenThuoc"
                                                bindValue="id" 
                                                [minTermLength]="2"
                                                appendTo="body" 
                                                appearance="outline"
                                                placeholder="Tra cứu theo tên, mã, mã vạch..."
                                                notFoundText="Không tìm thấy mục nào" (change)="searchThuocTerm$.next(''); onDrugChange($event)"
                                                [disabled]="action =='view'">
                                                <ng-template ng-label-tmp let-item="item">
                                                    <span *ngIf="item.maThuoc">{{item.maThuoc}}-{{item.tenThuoc}}</span>
                                                </ng-template>
                                                <ng-template ng-option-tmp let-item="item" let-index="index"
                                                    let-search="searchTerm">
                                                    <span [ngOptionHighlight]="search">{{item.maThuoc}}-{{item.tenThuoc}}-
                                                        {{item.tenDonViTinhXuatLe}} - Gián bán : {{item.giaBanLe
                                                        |number}}</span>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span *ngIf="!data.isEditingItem">{{data.maThuocText}} - {{data.tenThuocText}}</span>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="donVi">
                        <th mat-header-cell *matHeaderCellDef style="width: 15%;"> Đơn vị</th>
                        <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                            <select class="form-control" [disabled]="action =='view'" [(ngModel)]="data.donViTinhMaDonViTinh" (change)="onChangeUnit(data)">
                                <option *ngFor="let i of data.donViTinhs" value="{{i.id}}">
                                    {{i.tenDonViTinh}}
                                </option>
                            </select>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="soLuong">
                        <th mat-header-cell *matHeaderCellDef style="width:10%"> Số lượng</th>
                        <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                            <input type="text" [disabled]="action =='view'" #inputSoLuong [(ngModel)]="data.soLuong" (change)="getItemAmount(data)"
                                (keyup.enter)="onAddNew(data)" class="form-control text-right">
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="donGia">
                        <th mat-header-cell *matHeaderCellDef style="width:15%">Đơn giá</th>
                        <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                            <input type="text" [disabled]="action =='view'" [(ngModel)]="data.giaXuat" (change)="getItemAmount(data)"
                                class="form-control text-right" />
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="loHan" style="width:15%">
                        <th mat-header-cell *matHeaderCellDef>Lô/Hạn</th>
                        <td mat-cell *matCellDef="let data">
                            <div class="input-group d-flex gap-10" style="z-index:0">
                                <span class="text-left">
                                    <button class="btn {{getBatchExpiryCss(data)}}" (click)="openUpdateBatchDialog(data)">
                                        <span><i class="fa-regular fa-calendar-days"></i></span>
                                    </button>
                                </span>
                                <span>{{getBatchNumberAndExpDate(data)}}</span>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="thanhTien">
                        <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                        <td mat-cell *matCellDef="let data" class="text-center" style="vertical-align: middle;">
                            {{ data.tongTien | number}}
                        </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
                </table>
            </div>
        </div>
        <form [formGroup]="formData">
            <div class="col-md-12">
                <div class="col-md-6">
                    <table class="table borderless table-condensed">
                        <tbody>
                            <tr>
                                <td class="w-10">Diễn giải</td>
                                <td><textarea class="form-control ng-pristine ng-valid ng-touched"
                                        formControlName="dienGiai" placeholder="Diễn giải khác"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="borderless table-condensed">
                        <tbody>
                            <tr>
                                <td class="w-50">
                                    <div class="d-flex gap-10 align-items-center justify-content-between">
                                        <div class="form-inline-flex flex-grow-1">
                                            <label>Tổng tiền:</label>
                                            <div class="flex-grow-1">
                                                <label class="control-label ng-binding"
                                                    *ngIf="!allowChangeTotalAmountInDeliveryNote">{{formData.value?.tongTien |
                                                    number}}</label>
                                                <input type="text"
                                                    class="form-control mb-0 ng-pristine ng-untouched ng-valid ng-isolate-scope"
                                                    style="width: 100%" formControlName="tongTien" awnum="app-int-number"
                                                    *ngIf="allowChangeTotalAmountInDeliveryNote.activated"
                                                    ng-keypress="onTotalAmountChanged($event)">
                                            </div>
                                        </div>
                                        <div class="form-inline-flex flex-grow-1" *ngIf="deliveryNoteDiscountTotalByValue.activated">
                                            <label>C.K.Đơn</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control mb-0" formControlName="discount"
                                                    (change)="onDiscountChange()">
                                                <span style="padding: 5px 5px 5px 5px"
                                                    class="input-group-addon flex-grow-width-auto">VNĐ</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="w-50">
                                    <div class="d-flex gap-10 align-items-center justify-content-between">
                                        <div class="form-inline-flex flex-grow-1 ng-scope" ng-if="viewModel.NoteTypeId==2">
                                            <label>Trả điểm: </label>
                                            <input type="text"
                                                class="number-input form-control mb-0 ng-untouched ng-isolate-scope ng-valid-min ng-valid-max ng-valid-step ng-valid-external ng-dirty ng-valid ng-valid-number"
                                                style="width:90px;" formControlName="paymentScore" awnum="app-decimal-number"
                                                refresh-delay="500" (change)="onPaymentScoreChange()" placeholder="Điểm trả"
                                                id="paymentScore">
                                        </div>
                                        <div ng-if="viewModel.NoteTypeId==2 || viewModel.NoteTypeId == 4"
                                            class="form-inline-flex flex-grow-1 ng-scope">
                                            <label>Trả: </label>
                                            <div class="input-group">
                                                <input type="text"
                                                    class="form-control mb-0 mousetrap ng-pristine ng-untouched ng-valid ng-isolate-scope"
                                                    style="width: 100%" formControlName="daTra">
                                                <input type="button" value="F" class="btn btn-primary"
                                                    title="Ấn vào đây để trả đủ số tiền" (click)="onPaymentFull()">
                                            </div>
                                        </div>
                                    </div>
        
                                </td>
                            </tr>
                            <tr class="ng-scope">
                                <td class="w-50"></td>
                                <td>
                                    <div class="d-flex gap-10">
                                        <div>
                                            <div class="msg_payment_header msg_payment_expanded">Hình thức thanh toán
                                                <span style="cursor: pointer;" (click)="expandForm()">{{expandLabel}}</span>
                                            </div>
                                            <div id="paymentSlide" *ngIf="showMoreForm" class="form-check">
                                                <mat-radio-group class="tp-radio-group" formControlName="paymentTypeId">
                                                    <mat-radio-button class="tp-radio-button"
                                                        *ngFor="let item of listPaymentType" [value]="item.id">
                                                        {{item.displayName}}
                                                    </mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
        
                                    </div>
                                </td>
                            </tr><!-- end ngIf: viewModel.NoteTypeId==2 || viewModel.NoteTypeId == 4 -->
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
   
    <div class="col-md-12 d-flex justify-content-center align-items-center gap-10">
        <input type="button" value="Quay lại" class="btn btn-default"
            (click)="onReturnListing();">
        <input type="button" *ngIf="action != 'view'" value="F9-Ghi phiếu"
            id="save-note-btn-id" title="F9-Ghi phiếu" class="btn btn-primary" (click)="onSave()">
        <input type="button" *ngIf="action == 'view' && isUpdateView()"
            value="Sửa" id="save-note-btn-id" title="Sửa" class="btn btn-primary" (click)="editDeliveryNote()">
    </div>
</div>