<div  *ngIf="notificationService.notification$ | async" class="alert alert-danger" style="margin-top: 100px;">
  <button aria-hidden="true" class="close  close-noti" type="button" (click)="closeNotification()">×</button>
  {{(notificationService.notificationInfo$ | async).message}}
</div>
<div *ngIf="(modalService.confirm$ | async)" [className]="(modalService.confirm$ | async) ? 'modal fade in open' : 'modal fade'" tabindex="-1" role="dialog">
  <div class="card">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()"
                aria-label="Đóng"><span>&times;</span></button>
        <h4 class="modal-title">{{(this.modalService.confirmData$ | async).title }}
        </h4>
      </div>
      <div class="modal-body">
        {{(this.modalService.confirmData$ | async).content}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="saveEdit()">Đồng ý</button>
      </div>
    </div>
  </div>
</div>
<div>
  <app-header></app-header>
  <div class="container body-content" style="width:95%;">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
