<div class="box-group-white">
  <h2 class="text-center"><b>Thay đổi mật khẩu người dùng</b></h2>
  <p class="text-success"></p>
  <p>Bạn đang đăng nhập với tài khoản: <strong>{{getUserName()}}</strong></p>
  <div class="row">
    <div class="col-md-12">
      <form action="/Account/Manage" class="form-horizontal ng-pristine ng-valid" method="post" role="form"
            novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden"
                                           value="n8kuK_dZBBN0QII8btFWxuEEqcOVZWFKRiHdTqe5sazieGj_JbeT4PJ7112Ma747qWz0NtupgT-m3LfEUMQ9Jpa6hTg0kKKL0guWJVDEDh6jlGUvQKlXOxo-Qstk4Yvj0">
        <div class="form-group-flex">
          <label class="col-md-2 col-xs-12" for="oldPassword">Mật khẩu hiện tại</label>
          <div class="col-md-10 col-xs-12">
            <input class="form-control" data-val="true" data-val-required="The Mật khẩu hiện tại field is required."
                   id="oldPassword" name="oldPassword" type="password">
          </div>
        </div>
        <div class="form-group-flex">
          <label class="col-md-2 col-xs-12" for="newPassword">Mật khẩu mới</label>
          <div class="col-md-10 col-xs-12">
            <input class="form-control" data-val="true"
                   data-val-regex="Mật khẩu phải từ 8 đến 15 ký tự và bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt. VD: 123456aA&#64;"
                   data-val-regex-pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).\S{7,14}$"
                   data-val-required="Chưa nhập mật khẩu mới" id="newPassword" name="newPassword" type="password">
            <span class="field-validation-valid text-danger" data-valmsg-for="newPassword"
                  data-valmsg-replace="true"></span>
          </div>
        </div>
        <div class="form-group-flex">
          <label class="col-md-2 col-xs-12" for="confirmPassword">Xác nhận mật khẩu</label>
          <div class="col-md-10 col-xs-12">
            <input class="form-control" data-val="true" data-val-equalto="Mật khẩu mới và xác nhận không trùng."
                   data-val-equalto-other="*.newPassword"
                   data-val-regex="Mật khẩu phải từ 8 đến 15 ký tự và bao gồm chữ hoa, chữ thường, số và ký tự đặc biệt. VD: 123456aA&#64;"
                   data-val-regex-pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).\S{7,14}$"
                   id="confirmPassword" name="confirmPassword" type="password">
          </div>
        </div>
        <div class="text-center">
          <input type="submit" value="Đổi mật khẩu" class="btn btn-primary" (click)="changePassword()">
        </div>
      </form>

    </div>
  </div>
</div>
