<div class="card-bg">
    <h2 class="card-title text-center mt-0"><b>PHIẾU BÁN HÀNG</b></h2>
    <div class="text-center card-desc">
        <div class="card-code">
            Mã số: <strong>{{formData.value?.soPhieuXuat}}</strong>
        </div>
        <span id="" style="width: 10%">Ngày: <strong>{{formData.value?.ngayXuat | appDateTime}}</strong></span>
    </div>

    <input value="25/03/2024 15:44" data-val="true" data-val-date="The field NoteDate must be a date."
        data-val-required="The NoteDate field is required." id="NoteDate" name="NoteDate" type="hidden">


    <input value="0" data-val="true" data-val-number="The field NoteId must be a number."
        data-val-required="The NoteId field is required." id="NoteId" name="NoteId" type="hidden">

    <input value="2" data-val="true" data-val-number="The field NoteTypeId must be a number."
        data-val-required="The NoteTypeId field is required." id="NoteTypeId" name="NoteTypeId" type="hidden">
    <table class="table borderless table-condensed">
        <tbody>
            <tr>
                <td style="text-align: left" class="w-50">
                    <span class="control-label"><b>Khách hàng:</b> {{formData.value?.khachHangMaKhachHangText}}</span>
                    <span class="field-validation-valid text-danger" data-valmsg-for="Customer"
                        data-valmsg-replace="true"></span>
                    <span ng-show="model.IsZaloOA">
                        <span class="btn btn-link" ng-click="onSendZalo()" title="Gửi tin Zalo">
                            <img src="/Uploads/Common/Images/zalo2.png" width="30">
                        </span>
                    </span>
                </td>
                <td style="text-align: left"><span class="control-label"><b>Bác sỹ:</b>
                        {{formData.value?.bacSyMaBacSyText}}</span></td>
                <td style="text-align: right" ng-show="model.Score > 0"><span class="control-label ng-binding"><b>Tổng
                            điểm tích lũy: </b>{{totalScore | number}}</span></td>
                <td style="text-align: right" ng-show="model.Score > 0"><span class="control-label ng-binding"><b>Tổng
                            nợ: </b>{{totalDebtAmount | number}}</span></td>
                <td style="text-align: right">
                    <span class="control-label"><b>Số hóa đơn:</b>{{formData.value?.invoiceNo}}</span>
                </td>

            </tr>
        </tbody>
    </table>
    <table mat-table class="table-condensed table-responsive display table-bordered" [dataSource]="getDataSource()">
        <ng-container matColumnDef="stt">
            <th mat-header-cell *matHeaderCellDef style="width: 10px"> STT</th>
            <td mat-cell *matCellDef="let data; index as i;" class="text-center" style="vertical-align: middle;">
                <span (click)="openDetailDialog(data.thuocThuocId)" class="btn-link">{{data.itemOrder}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="maHang">
            <th mat-header-cell *matHeaderCellDef style="width: 70px">Mã</th>
            <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                <span>{{data.maThuocText}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="anh">
            <th mat-header-cell *matHeaderCellDef style="width: 100px">Hình ảnh </th>
            <td mat-cell *matCellDef="let data" class="text-right">
<!--            {{formData.value?.imageThumbData}}-->
            </td>
        </ng-container>

        <ng-container matColumnDef="tenHang">
            <th mat-header-cell *matHeaderCellDef style="width: 100px">Tên hàng</th>
            <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                <span>{{data.tenThuocText}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="donVi">
            <th mat-header-cell *matHeaderCellDef style="width: 100px;"> Đơn vị</th>
            <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                <span>{{data.donViTinhMaDonViTinhText}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="soLuong">
            <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: right"> Số lượng</th>
            <td mat-cell *matCellDef="let data" style="vertical-align: middle;text-align: right">
                <span>{{data.soLuong | number}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="donGia">
            <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: right">Đơn giá</th>
            <td mat-cell *matCellDef="let data" style="vertical-align: middle;text-align: right">
                {{data.giaXuat | number}}
            </td>
        </ng-container>
        <ng-container matColumnDef="ck">
            <th mat-header-cell *matHeaderCellDef style="width: 80px; text-align: right"> C.K(%)</th>
            <td mat-cell *matCellDef="let data" style="vertical-align: middle;text-align: right">
                {{data.chietKhau | number}}
                </td>
        </ng-container>
        <ng-container matColumnDef="vat">
            <th mat-header-cell *matHeaderCellDef style="width: 80px; text-align: right"> VAT(%)</th>
            <td mat-cell *matCellDef="let data" style="vertical-align: middle;text-align: right">
                {{data.vat | number}}
                </td>
        </ng-container>
        <ng-container matColumnDef="hanDung">
            <th mat-header-cell *matHeaderCellDef style="width: 80px; text-align: right">
                Hạn dùng
                <p>(Số lô)</p></th>
            <td mat-cell *matCellDef="let data" style="vertical-align: middle;text-align: right">
                {{data.expiredDate ? (data.expiredDate | appDate) : ''}}
                <p>{{data.batchNumber}}</p>
                </td>
        </ng-container>
        <ng-container matColumnDef="thanhTien">
            <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: right">Thành tiền</th>
            <td mat-cell *matCellDef="let data" style="vertical-align: middle;text-align: right">
                {{ data.tongTien | number}}
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
    </table>
    <table class="table borderless table-condensed">
        <tbody>
            <tr>
                <td style="text-align: left" class="w-50">
                    <span class="control-label">
                        <b>Tổng số tiền: &nbsp;<span id="spanSumAll"></span></b><span>{{formData.value?.tongTien |
                            number}}</span>
                    </span>
                </td>
                <td style="text-align: left">
                    <span class="control-label">
                        <b>C.K (VNĐ): &nbsp;</b><span>{{formData.value?.discount | number}}</span>
                    </span>
                </td>
                <td style="text-align: right">
                    <span class="control-label">
                        <b>Điểm trả: &nbsp;</b><span>{{formData.value?.paymentScore | number}}</span>
                    </span>
                </td>
                <td style="text-align: right">
                    <span class="control-label">
                        <b>Đã trả: </b><span>{{formData.value?.daTra | number}}</span>
                    </span>
                    <span class="d-block mt-2 mb-2"><b>Hình thức thanh toán:</b> {{formData.value?.paymentTypeId == 0 ?
                        'Tiền mặt' : 'Chuyển khoản'}}</span>
                    <span id="spDebt" class="text-danger">
                        <strong>Trả lại:</strong> {{formData.value?.backPaymentAmount | number}}
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-condensed table-bordered">
        <tbody>
            <tr>
                <td class="text-left">
                    <span class="control-label"><b>Diễn giải: </b></span>
                    <span class="control-label">{{formData.value?.dienGiai}}</span>
                </td>

                <td class="text-right">
                    <span class="control-label">[<b>Người lập: </b> </span>
                    <span class="control-label ng-binding">{{formData.value?.createdByUserText}}]</span>
                </td>
                <td class="text-right">
                    <span class="control-label">[<b>Ngày lập: </b> </span>
                    <span class="control-label">{{formData.value?.created | appDate}}]</span>
                </td>
            </tr>
        </tbody>
    </table>
    <input value="2" data-val="true" data-val-number="The field RecordStatusId must be a number."
        data-val-required="The RecordStatusId field is required." id="RecordStatusId" name="RecordStatusId"
        type="hidden">
    <div class="form-group mt-3">
        <div class="col-md-12">
            <div class="d-flex justify-content-center align-items-center gap-10">
                <a *ngIf="isContinue || fromBcScanner" type="button"
                   href="{{getUrlContinue()}}" class="btn btn-primary">Tiếp tục</a>
                <input type="button" value="Quay lại" class="btn btn-default"
                    onclick="javascript:window.history.go(-1);">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        In <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a (click)="printPreview('58mm')">Phiếu khách lẻ - 58mm</a></li>
                        <li><a (click)="printPreview('80mm')">Phiếu khách lẻ - 80mm</a></li>
                        <li><a (click)="printPreview('A4')">Phiếu khách quen - A4</a></li>
                        <li><a href="#" ng-click="onPrint(35432435, 2, 2)">Phiếu khách lẻ - A5</a></li>
                        <li><a href="#" ng-click="onPrint(35432435, 2, 5)">In liều dùng</a></li>
                        <li class="divider"></li>
                        <li><a href="javascript:window.open('/Thuocs/InMaVach?MaPhieu=35432435&amp;LoaiPhieu=2')">In mã
                                vạch thuốc</a></li>
                    </ul>
                </div>
                <a class="btn btn-default"
                href="/management/note-management/delivery-note-screen/{{formData.value?.id}}">Sửa</a> <span
                    ng-show="model.LinkFile !='' &amp;&amp; !model.IsZaloOA" class="ng-hide">
                    <span class="btn btn-default zalo-share-button" style="width:105px;height:35px"
                        data-href="https://s.webnhathuoc.com/Uploads/WNT_FOLDER//0010/35432435_2_1/0010_35432435.pdf"
                        data-oaid="1356962617348157464" data-layout="2" data-color="blue" data-customize="true">Chia sẻ
                        Zalo</span>
                </span>
                <a class="btn btn-default" href="/management/note-management/delivery-note-screen?copyId={{formData.value?.id}}"
                    title="Sao chép phiếu">Copy</a> <span
                    ng-show="model.NoteTypeId == 2 &amp;&amp; !model.IsRefSampleNote &amp;&amp; model.DrugStoreId == '9006'"
                    class="ng-hide">
                    <span class="btn btn-default" ng-click="createSampleNote(35432435)" style="height:35px">Tạo đơn liều
                        mẫu</span>
                </span>
                <span class="btn btn-default ng-hide"
                    ng-show="!model.StatusSendZNS &amp;&amp; model.IsSendZNS &amp;&amp; model.TypeSendZNS == 2"
                    ng-click="onSendZNS()" style="width:105px;height:35px">Gửi ZNS</span>
                <a class="btn btn-default"
                    href="/DeliveryNote/ConnDeliveryNoteScreen?noteId=35432435&amp;isConnectivity=1">LT</a><a
                    class="btn btn-default"
                    href="/DeliveryNote/ManagementDeliveryNoteScreen?noteId=35432435&amp;isManagement=1">QL</a>
                    <a class="btn btn-danger" (click)="delete('Bạn có chắc chắn muốn xóa phiếu xuất bán của khách hàng \'' +
                    formData.value?.khachHangMaKhachHangText + '\' có số phiếu \'' + formData.value?.soPhieuXuat + '\' ?', formData.value?.id)">
                    Xóa</a><a class="btn btn-default"
                    href="/ReceiptNote/CustomerReceiptNoteScreen?noteId=35432435&amp;taskMode=1">Trả hàng</a> <input
                    type="button" class="btn btn-default" ng-click="onExport(35432435)" value="Xuất excel">
                <input type="button" ng-disabled="connected" class="btn btn-default" value="Phát hành HĐ"
                    ng-click="createEInvoice(35432435)">
            </div>
        </div>
    </div>
</div>
