<div class="row">
    <div id="divDrugItems" class="col-md-9" style="height:100%;">
        <div class="box-group-white">
            <h2 style="border-bottom:none" class="text-center mb-0">
                <b>PHIẾU BÁN HÀNG</b>
            </h2>
          <form [formGroup]="formData">
            <table class="table borderless" id="barcode-table-id">
              <tbody>
              <tr>
                <td class="w-40">
                  <div class="form-inline-flex">
                    <label>Mã vạch:</label>
                    <input type="text" class="form-control mb-0 mousetrap" id="barcode" style="width: 100%">
                  </div>
                </td>
                <td class="w-40">
                  <div class="form-inline-flex">
                    <label>Mã/Tên:</label>
                    <div class="w-100">
                      <div class="control-group">
                        <ng-select
                          #selectDrug
                          appendTo="body"
                          appearance="outline" [items]="listThuocs" bindLabel="tenThuoc" bindValue="id"
                          placeholder="Tra cứu theo tên, mã, mã vạch..."
                          notFoundText="Không tìm thấy mục nào"
                          (search)="searchPageDrug($event)"
                          (change)="onDrugChange($event)">
                          <ng-template ng-label-tmp let-item="item">
                            <span >{{item.maThuoc}}-{{item.tenThuoc}}</span>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-index="index"
                                       let-search="searchTerm">
                                                <span [ngOptionHighlight]="search">{{item.maThuoc}}-{{item.tenThuoc}}-
                                                  {{item.tenDonViTinhXuatLe}} - Gián bán : {{item.giaBanLe | number}}</span>
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                    </div>
                </td>
                <td class="w-20">
                  <div class="form-inline-flex">
                    <label>Số liều:</label>
                    <div class="input-group">
                      <input type="text"
                             class="number-input form-control mb-0 ng-pristine ng-untouched ng-valid ng-valid-number ng-valid-min ng-valid-max ng-valid-step ng-valid-external"
                             id="doseNumber" style="width:60%" (keyup.enter)="onChangeDoseNumber()" formControlName="doseNumber" min="1" max="1000"
                             step="0.5">
                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary"
                                                ng-click="onDoseCalculation()"><i
                                          class="fa-regular fa-calculator"></i></button>
                                    </span>
                    </div>
                  </div>
                </td>

              </tr>
              </tbody>
            </table>
          </form>
          <table mat-table class="table table-striped table-hover table-bordered tr-ng-grid" [dataSource]="getDataSource()">
            <ng-container matColumnDef="#">
              <th mat-header-cell *matHeaderCellDef style="width:3%"> #</th>
              <td mat-cell *matCellDef="let data; index as i;" class="text-center">
                <a class="btn btn-danger" title="Xóa"
                   (click)="onDelete(data)"><i
                  class="fa-regular fa-trash"></i></a>
              </td>
            </ng-container>
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef style="width:3%"> STT</th>
              <td mat-cell *matCellDef="let data; index as i;" class="text-center" style="vertical-align: middle;">
                <span (click)="openDetailDialog(data.thuocThuocId)" class="btn-link">{{data.itemOrder}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="anh">
              <th mat-header-cell *matHeaderCellDef> Ảnh </th>
              <td mat-cell *matCellDef="let data" class="text-right">

              </td>
            </ng-container>

            <ng-container matColumnDef="maHang">
              <th mat-header-cell *matHeaderCellDef style="width:10%">Mã</th>
              <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                <div ng-switch="isCustomized" tr-ng-grid-body-cell-template="" class="tr-ng-cell text-left">

                  <div ng-switch-when="true" class="ng-scope">
                    <div ng-transclude="">
                      <div class="ng-scope">
                                            <span class="btn-link ng-binding" title="Xem LS giao dịch"
                                                  ng-click="onTransByObjectDetails(4, gridItem.DrugId); $event.preventDefault(); $event.stopPropagation();">{{data.maThuocText}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="tenHang">
              <th mat-header-cell *matHeaderCellDef style="width:30%">Tên Hàng</th>
              <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                <div ng-switch="isCustomized" tr-ng-grid-body-cell-template="" class="tr-ng-cell text-left">

                  <div ng-switch-when="true" class="ng-scope">
                    <div ng-transclude="">
                      <div ng-mouseover="onShowTitle(gridItem)" class="ng-scope">
                                            <span class="btn-link tooltip-content-drug">
                                                <span
                                                  ng-click="onDrugInfoDetails(gridItem.DrugId); $event.preventDefault(); $event.stopPropagation();"
                                                  class="ng-binding">
                                                    {{data.tenThuoc}}
                                                </span>
                                                <span class="show-tooltip-content-drug ng-binding"
                                                      style="width : 150px">
                                                    <b>Vị trí tủ/ kho:</b> <br>
                                                    <b>Ưu điểm:</b> <span style="background-color:white;color:black;"
                                                                          ng-bind-html="gridItem.TitleDrug.Advantages"
                                                                          class="ng-binding"></span><br>
                                                    <b>Đối tượng sử dụng:</b> <br>
                                                    <b>Hàng bán kèm:</b>
                                                    <br>
                                                    <span>

                                                    </span>

                                                    <br>
                                                    <b>Hàng thay thế:</b>
                                                    <br>

                                                    <span span="" style="background-color:white;color:black;"
                                                          ng-bind-html="gridItem.TitleDrug.Description"
                                                          class="ng-binding"></span>
                                                </span>
                                            </span>

                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>
            <ng-container matColumnDef="donVi">
              <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Đơn vị</th>
              <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                <select class="form-control" [(ngModel)]="data.donViTinhMaDonViTinh" (change)="onChangeUnit(data)">
                  <option  *ngFor="let i of data.donViTinhs" value="{{i.id}}">
                    {{i.tenDonViTinh}}
                  </option>
                </select>
              </td>
            </ng-container>
            <ng-container matColumnDef="soLuong">
              <th mat-header-cell *matHeaderCellDef> Số lượng</th>
              <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                <input type="text" #inputSoLuong [(ngModel)]="data.soLuong" (change)="getItemAmount(data)" class="form-control text-right">
              </td>
            </ng-container>
            <ng-container matColumnDef="donGia">
              <th mat-header-cell *matHeaderCellDef width="10%">Đơn giá</th>
              <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                <input type="text"
                       [(ngModel)]="data.giaXuat" (change)="getItemAmount(data)" class="form-control text-right" />
              </td>
            </ng-container>
            <ng-container matColumnDef="ton">
              <th mat-header-cell *matHeaderCellDef>Tồn</th>
              <td mat-cell *matCellDef="let data" class="text-center" style="vertical-align: middle;">
                {{data.tonHT | number}}
              </td>
            </ng-container>
            <ng-container matColumnDef="thanhTien">
              <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
              <td mat-cell *matCellDef="let data" class="text-center" style="vertical-align: middle;">
                {{ data.tongTien | number}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
          </table>
        </div>

    </div>
    <div id="divSummary" class="col-md-3" style="height:100%;">
        <div class="card-bg">
            <span class="mb-3 d-block"><strong>Thông tin phiếu xuất</strong></span>
          <form [formGroup]="formData">
            <table class="w-100">
              <tbody>
              <tr>
                <td style="text-align: left;width:100px"><label>Mã Số:</label></td>
                <td style="text-align: left;">
                  <label class="control-label"><strong class="ng-binding">{{formData.value?.soPhieuXuat}}</strong></label>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;width:100px"><label>Ngày:</label></td>
                <td style="text-align: left" id="dvNgayXuat">
                  <div class="clickable-text daterange-picker font-weight-bold">
                  <input [hidden]="1==1"
                      formControlName="noteDate"
                      type="text" class="form-control" (dateChange)="onDateChange($event.value)" [matDatepicker]="pickerNgayXuat"
                      (click)="pickerNgayXuat.open()">
                  <mat-datepicker #pickerNgayXuat="matDatepicker" disabled="false"></mat-datepicker><span
                    class="text-link" (click)="pickerNgayXuat.open()">{{formData.value.ngayXuat | appDate}}</span></div>
                </td>
              </tr>
              <tr>
                <td>
                  <label>K.Hàng:</label>
                </td>
                <td>
                  <div class="input-group">
                    <div class="flex-grow-1 ip-position ng-isolate-scope">
                      <ng-select appendTo="body" formControlName="khachHangMaKhachHang"
                                 appearance="outline" [items]="listKhachHangs" bindLabel="tenKhachHang"
                                 bindValue="id" placeholder="Tra cứu theo tên..."
                                 notFoundText="Không tìm thấy mục nào"
                                 (search)="searchPageKhachHang($event)">
                        <ng-template ng-label-tmp let-item="item">
                          <span >{{item.tenKhachHang}}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index"
                                     let-search="searchTerm">
                                                    <span
                                                      [ngOptionHighlight]="search">{{item.tenKhachHang}}-{{item.soDienThoai}}-
                                                      {{item.diaChi}}</span>
                        </ng-template>
                      </ng-select>
                    </div>

                     <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            ng-click="onAddDoctor(); $event.preventDefault(); $event.stopPropagation();"
                                            title="Thêm khách hàng mới nếu chưa có">
                                        <i class="fa-regular fa-plus"></i>
                                    </button>
                                </span>
                  </div>

                </td>
              </tr>
              <tr ng-show="selectedCustomer.TypeId != 1" class="ng-hide">
                <td style="text-align: left;width:100px"><label>Tổng nợ:</label></td>
                <td style="text-align: left; color: red">
                  <label class="ng-binding">0</label>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;width:100px"><label>Trả điểm:</label></td>
                <td style="text-align: left">
                  <div class="input-group">
                    <input type="text"
                           class="number-input form-control mb-0 ng-untouched ng-isolate-scope ng-valid-min ng-valid-max ng-valid-step ng-valid-external ng-dirty ng-valid ng-valid-number"
                           style="width:90px;" formControlName="paymentScore" awnum="app-decimal-number"
                           refresh-delay="500" (change)="onPaymentScoreChange()" placeholder="Điểm trả"
                           id="paymentScore">
                    <label class="mb-0 d-flex align-items-center gap-5"><span>&nbsp;/</span><span
                      class="text-danger ng-binding">0.00</span> (điểm)</label>

                  </div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;width:100px"><label>Bác Sỹ:</label></td>
                <td style="text-align: left">

                  <div class="input-group">
                    <div class="flex-grow-1 ip-position ng-isolate-scope">
                      <ng-select appendTo="body" formControlName="bacSyMaBacSy"
                                 appearance="outline" [items]="listBacSys" bindLabel="tenBacSy"
                                 bindValue="id" placeholder="Tra cứu theo tên..."
                                 notFoundText="Không tìm thấy mục nào">
                        <ng-template ng-label-tmp let-item="item">
                          <span >{{item.tenBacSy}}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index"
                                     let-search="searchTerm">
                                                    <span
                                                      [ngOptionHighlight]="search">{{item.tenBacSy}}-{{item.soDienThoai}}
                                                    </span>
                        </ng-template>
                      </ng-select>
                    </div>
                    <span class="input-group-btn">
                                    <button class="btn btn-primary"
                                            ng-click="onAddDoctor(); $event.preventDefault(); $event.stopPropagation();"
                                            title="Thêm bác sỹ mới nếu chưa có">
                                        <i class="fa-regular fa-plus"></i>
                                    </button>
                                </span>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="text-align: left;width:100px"><label>D.Giải:</label></td>
                <td style="text-align: left">
                            <textarea class="form-control mb-0 ng-pristine ng-untouched ng-valid"
                                      ng-model="model.Description" style="width: 100%"></textarea>
                </td>
              </tr>
              </tbody>
            </table>
            <hr style="margin-bottom: 10px; margin-top: 10px">
            <span class="mb-3 d-block"><strong>Thông tin thanh toán</strong></span>
            <table class="w-100">
              <tbody>
              <tr>
                <td style="text-align: left;width:117px"><label>C.K (VNĐ):</label></td>
                <td style="text-align: left;">
                  <input type="text"
                         class="form-control mb-0 ng-pristine ng-untouched ng-valid ng-isolate-scope"
                         style="width: 100%" formControlName="discount"
                         awnum="app-decimal-number"
                         (change)="onPaymentFull()">
                </td>
              </tr>
              <tr>
                <td style="text-align: left;"><label>Tổng tiền:</label></td>
                <td style="text-align: left;">
                  <label class="control-label ng-binding"
                         *ngIf="!allowChangeTotalAmountInDeliveryNote.activate">{{formData.value?.tongTien | number}}</label>
                  <input type="text"
                         class="form-control mb-0 ng-pristine ng-untouched ng-valid ng-isolate-scope"
                         style="width: 100%" formControlName="tongTien"
                         awnum="app-int-number" *ngIf="allowChangeTotalAmountInDeliveryNote.activate"
                         ng-keypress="onTotalAmountChanged($event)">
                </td>
              </tr>
              <tr>
                <td style="text-align: left;">
                  <div class="d-flex align-items-center justify-content-between gap-10">
                    <label class="mb-0">Trả:</label>
                  </div>
                </td>
                <td style="text-align: left;">
                  <div class="input-group">
                    <input type="text"
                           class="form-control mb-0 mousetrap ng-pristine ng-untouched ng-valid ng-isolate-scope"
                           style="width: 100%" formControlName="daTra">
                    <input type="button" value="F" class="btn btn-primary"
                           title="Ấn vào đây để trả đủ số tiền"
                           (click)="onPaymentFull()">
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <b class="msg_payment_header msg_payment_expanded" (click)="expandForm()">HT thanh toán <span>{{expandLabel}}</span></b>
                </td>
                <td>
                  <div class="d-flex gap-10">
                    <div *ngIf="showMoreForm">
                      <mat-radio-group class = "tp-radio-group" formControlName="paymentTypeId">
                        <mat-radio-button class = "tp-radio-button"
                                          *ngFor = "let item of listPaymentType" [value] = "item.id">
                          {{item.displayName}}
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>

                </td>
              </tr>
              <tr>
                <td style="text-align: left;width:100px"><label class="mb-0 ng-binding">{{debtLabel}}:</label></td>
                <td style="text-align: left; color: red">
                  <label class="control-label ng-binding">{{getDebtAmount() | number}}</label>
                </td>
              </tr>
              </tbody>
            </table>
            <hr class="mt-0">
            <div class="d-flex justify-content-end align-items-center gap-10">
              <input type="button" value="Quay lại" class="btn btn-default"
                     onclick="javascript:window.history.go(-1);">
              <input type="submit" value="Ghi Phiếu - F9"
                     (click)="onSave()"
                     class="btn btn-primary" id="save-note-btn-id" ng-disabled="canSaveDeliveryNote()">
            </div>
          </form>


        </div>
    </div>
</div>
