<!-- Wrapper -->
<div id="wrapper" class="divided">

  <!-- Banner -->
  <section
    class="banner style2 orient-left content-align-center content-po image-position-left fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="image">
      <img id="banner-home" alt="" src="/assets/images/home/banner1.jpg">
    </div>
    <div class="content">


    </div>

  </section>

  <!-- Đặt hàng -->
  <section id="div-order-supplier"
           class="spotlight style2 orient-right content-align-left image-position-left onscroll-content-fade-down fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2>Đặt hàng từ Đa nhà cung cấp</h2>
      <p style="font-size:18px">Đặt hàng giá gốc nhanh chóng, thuận tiện, minh bạch thông tin (giá, chương trình,
        chiết khấu) từ Đa nhà cung cấp.</p>
      <ul class="actions stacked">
        <li><a href="/OrderMan/SearchDrugs" class="button">ĐẶT HÀNG NGAY</a></li>
      </ul>
    </div>
    <div class="image image-logo">
      <img src="/assets/images/home/SPOTLIGHT01_copy.jpg" alt="">
    </div>
  </section>

  <!-- Tra cứu giá cả hàng hóa trên thị trường -->
  <section id="div-search-price-home"
           class="spotlight style2 orient-left content-align-left image-position-center onscroll-image-fade-in  fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2>Tra cứu giá cả hàng hóa</h2>
      <p style="font-size:18px">WEB NHÀ THUỐC sẽ luôn cập nhật giá của hàng nghìn mặt hàng thuốc trên thị trường. Bạn
        có thể tra cứu và tham khảo tại đây.</p>
      <ul class="actions stacked">
        <li><a href="/TraCuuGia" class="button">TRA CỨU GIÁ NGAY</a></li>
      </ul>
    </div>
    <div class="image image-logo">
      <img src="/assets/images/home/spotlight02.jpg" alt="">
    </div>
  </section>

  <!-- Phần mềm quản lý nhà thuốc -->
  <section id="div-manage-home"
           class="spotlight style3 orient-right content-align-left image-position-left onscroll-image-fade-in fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2>Phần mềm quản lý nhà thuốc</h2>
      <p style="font-size:18px">Phần mềm của WEB NHÀ THUỐC đã được sử dụng bởi hơn 5.000 cửa hàng thuốc trên cả nước.
        Phần mềm được khách hàng đánh giá là dễ sử dụng, thuận tiện trong quản lý. Phần mềm bao gồm cả tính năng liên
        thông và tính năng quản lý hoạt động kinh doanh. Gọi 0989 199 535 để được tư vấn ngay.</p>
      <ul class="actions stacked">
        <li><a href="tel:0989199535" class="button">Gọi 0989 199 535</a></li>
      </ul>
    </div>
    <div class="image image-logo">
      <img src="/assets/images/home/spotlight03.jpg" alt="">
    </div>
  </section>

  <!-- Kinh nghiệm chia sẻ -->
  <section id="div-shared-experience" class="wrapper style4 align-center">
    <div class="inner">
      <h2>Kinh nghiệm và tài liệu chia sẻ</h2>
      <p style="font-size:18px">Chúng tôi trang bị công cụ quản lý đúng, kỹ năng quản lý đúng giúp chủ nhà thuốc phát
        triển kinh doanh nhà thuốc ngày càng hiệu quả.</p>
    </div>

    <!-- Gallery -->
    <div class="gallery style2 medium lightbox onscroll-fade-in">
      <div class="modal" tabindex="-1">
        <div class="inner"><img src=""></div>
      </div>
      <article class="article">
        <a target="_blank" href="/Content/home/images/gallery/fulls/01Chon_diadiem_kdnt.pdf" class="image">
          <img src="/assets/images/home/gallery/thumbs/01.jpg" alt="">
        </a>
        <div class="caption">
          <h3>CHỌN LỰA ĐỊA ĐIỂM KINH DOANH</h3>
          <p>Tài liệu này giúp bạn lựa chọn đúng địa điểm mở nhà thuốc mà bạn cần kinh doanh dựa trên tiêu chí rõ
            ràng, và là kinh nghiệm đúc rút của nhiều chủ nhà thuốc đã gập phải.</p>
          <ul class="actions fixed">
            <li><span class="button small">Chi tiết</span></li>
          </ul>
        </div>
      </article>
      <article class="article">
        <a target="_blank" href="/Content/home/images/gallery/fulls/02Khoanmuc_chiphi_doanhthu_nt.pdf" class="image">
          <img src="/assets/images/home/gallery/thumbs/02.jpg" alt="">
        </a>
        <div class="caption">
          <h3>KHOẢN MỤC CHI PHÍ VÀ LỘ TRÌNH DOANH THU CỦA NHÀ THUỐC</h3>
          <p>Tài liệu này là một tấm bản đồ chỉ dẫn bạn đi qua các giai đoạn kinh doanh nhà thuốc.</p>
          <ul class="actions fixed">
            <li><span class="button small">Chi tiết</span></li>
          </ul>
        </div>
      </article>
      <article class="article">
        <a target="_blank" href="/Content/home/images/gallery/fulls/03Tisuat_loinhuan_nt.pdf" class="image">
          <img src="/assets/images/home/gallery/thumbs/03.jpg" alt="">
        </a>
        <div class="caption">
          <h3>TỈ SUẤT LỢI NHUẬN CỦA NHÀ THUỐC</h3>
          <p>Tài liệu này giúp bạn trả lời câu hỏi? Tỉ suất lợi nhuận của nhà thuốc bị ảnh hưởng bởi các yếu tố nào và
            tỉ suất này cần đạt là bao nhiêu thì hoạt động kinh doanh là hiệu quả .</p>
          <ul class="actions fixed">
            <li><span class="button small">Chi tiết</span></li>
          </ul>
        </div>
      </article>
      <article class="article">
        <a target="_blank" href="/Content/home/images/gallery/fulls/04Phantich_taichinh_mo_nhathuoc-WNT_2020.xlsx"
           class="image">
          <img src="/assets/images/home/gallery/thumbs/04.jpg" alt="">
        </a>
        <div class="caption">
          <h3>PHÂN TÍCH PHƯƠNG ÁN ĐẦU TƯ TÀI CHÍNH CHO VIỆC MỞ NHÀ THUỐC</h3>
          <p>Phân tích và đánh giá tài chính chi tiết là điều rất quan trọng khi bạn có dự định bắt đầu kinh doanh. Nó
            giúp bạn trải nghiệm các phương án đầu tư khác nhau mà bạn dự định làm. Ngoài ra, nó còn giúp bạn trả lời
            được những câu hỏi hóc búa: mình cần đầu tư bao nhiêu tiền, chi phí/doanh thu được tính toán như thế nào,
            hiệu quả đầu tư và căn cứ chọn lựa phương án đầu tư tốt nhất.</p>
          <ul class="actions fixed">
            <li><span class="button small">Chi tiết</span></li>
          </ul>
        </div>
      </article>
      <article class="article">
        <a target="_blank" href="/Content/home/images/gallery/fulls/05mauddkkd_duoc_nha_thuoc - WNT_2020.pdf"
           class="image">
          <img src="/assets/images/home/gallery/thumbs/05.jpg" alt="">
        </a>
        <div class="caption">
          <h3>BỘ HỒ SƠ GPP MẪU DÀNH CHO NHÀ THUỐC</h3>
          <p>Bạn có thể tham khảo bộ hồ sơ gpp mẫu dành cho nhà thuốc để biết rõ các yêu cầu cũng như giấy tờ cần
            thiết cho việc xin thẩm định GPP cho nhà thuốc.</p>
          <ul class="actions fixed">
            <li><span class="button small">Chi tiết</span></li>
          </ul>
        </div>
      </article>
      <article class="article">
        <a target="_blank" href="/Content/home/images/gallery/fulls/06Trai_Nghiem_Mo_NT-WNT_2020.pdf" class="image">
          <img src="/assets/images/home/gallery/thumbs/06.jpg" alt="">
        </a>
        <div class="caption">
          <h3>TRẢI NGHIỆM MỞ NHÀ THUỐC DÀNH CHO NGƯỜI MỚI BẮT ĐẦU</h3>
          <p>Đây là tài liệu ghi lại trải nghiệm của một chủ nhà thuốc mới bắt đầu kinh doanh, gồm 5 phần: Phần 1 -
            chuẩn bị; Phần 2 - Hoạt động; Phần 3 - Cạnh tranh; Phần 4 - Quản lý; Phần cuối - Sử dụng phần mềm
            online.</p>
          <ul class="actions fixed">
            <li><span class="button small">Chi tiết</span></li>
          </ul>
        </div>
      </article>

    </div>

  </section>

  <!-- Làm giá -->
  <section id="div-price-guide"
           class="spotlight style2 orient-right content-align-left image-position-left onscroll-content-fade-down fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2>Hướng dẫn làm giá hàng hóa</h2>
      <p style="font-size:18px">Nếu bạn là người chưa có kinh nghiệm kinh doanh nhà thuốc, quầy thuốc bạn sẽ rất lúng
        túng trong việc làm giá bán vì bạn không rõ nguyên tắc hay cách nào làm giá cho đúng. Thông thường, bạn chọn
        cách là cào bằng trong làm giá bán. Điều này gây ra một tác hại là có hàng hóa thì bán quá rẻ, còn có hàng hóa
        thì bán quá đắt và đắt hay rẻ cũng bị khách chê.</p>
      <ul class="actions stacked">
        <li><a href="/TienIch/HuongDanLamGia" class="button">Xem Chi Tiết</a></li>
      </ul>
    </div>
    <div class="image image-logo">
      <img src="/assets/images/home/spotlight04.jpg" alt="">
    </div>
  </section>
  <!-- Khách hàng quen -->
  <section id="div-familiar-customer"
           class="spotlight style2 orient-left content-align-left image-position-left onscroll-image-fade-in  fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2>Quản lý khách hàng quen của nhà thuốc</h2>
      <p style="font-size:18px">80% lợi nhuận của nhà thuốc đến từ khách hàng quen. Do đó, bạn cần nhận diện đặc điểm
        của tất cả các khách hàng tới mua hàng. Từ đó, bạn có thể phân loại và lắm rõ nhu cầu để có giải pháp phục vụ
        ngày càng tốt hơn, cũng như là biến khách hàng mua hàng trở thành khách hàng quen và thân thiết với nhà
        thuốc.</p>
      <ul class="actions stacked">
        <li><a href="/TienIch/KhachHangNhaThuoc" class="button">Tìm Hiểu Thêm</a></li>

      </ul>
    </div>
    <div class="image image-logo">
      <img src="/assets/images/home/spotlight05.jpg" alt="">
    </div>
  </section>

  <div id="myMessageMain" class="myModal" [className]="isShowModal('thongBao') ? 'myModal open' : 'myModal'" (click)="closeModal('thongBao')"
       style="opacity: 1 !important; background-color: rgba(0,0,0,0.5) !important;">
    <div>
      <div class="myModal-card">
        <div class="myModal-body">
          <div class="myModal-header"><p style="font-weight : 600; font-size: 1.2vw">THÔNG BÁO: Lịch Nghỉ Tết Nguyên
            Đán 2024 của Webnhathuoc</p></div>
          <div class="myModal-content">
            <div id="removeSizeEditor" class="col-md-6" style="text-align:left; font-size: 1vw;">
              <p style="text-align:justify"><span style="color:#e74c3c"><strong>Thời gian nghỉ</strong></span>:
                <strong>03 ngày 10,11,12/02/2024 tức ngày mùng 1,2,3 Tết</strong><br>
                Trong thời gian này <strong>công ty chỉ tiếp nhận các vấn đề và xử lý những việc thực sự gấp, các vấn
                  đề chưa gấp công ty xin phép xử lý sau nghỉ lễ</strong>.<br>
                Quý khách hàng cần hỗ trợ vui lòng liên hệ:<br>
                <strong>1, Nhân viên kĩ thuật trực trong dịp lễ:</strong><br>
                + 08/02 (29 tết): NV Nhi ( sđt 0867850687)<br>
                + 09/02 (30 tết): NV An ( sđt: 0365418698)<br>
                + 13/02 (mùng 4 tết): NV Việt (sđt: 0347302963)<br>
                + 14/02 (mùng 5 tết): NV Mai (sđt: 0387095836)<br>
                <strong>2, Tổng đài tiếp nhận hỗ trợ trên phần mềm Webnhathuoc</strong> (trực đến hết 30 tết và trực
                trở lại vào mùng 4 tết)<br>
                Nhân dịp Tết Nguyên Đán Giáp Thìn 2024, Công ty WEBNHATHUOC kính chúc tất cả quý khách hàng đón năm
                mới vui vẻ, ấm áp bên Gia đình. Chúc quý khách hàng một năm mới Sức Khỏe - May Mắn - An Khang - Thịnh
                Vượng!!!</p>


            </div>
            <div class="col-md-6">
              <img src="">
            </div>
          </div>
          <div class="myModal-footer">

            <a class="btn btn-default" (click)="closeModal('thongBao')">Đóng</a>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal register-->
  <div class="modal fade" id="order-convenient-shop-dialog" role="dialog">
    <div class="modal-dialog w-70">

      <!-- Modal content-->
      <div class="modal-content" style="font-size: 14px">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Đóng"><span aria-hidden="true"><i
            class="fa-regular fa-xmark"></i></span></button>
          <h4 class="modal-title">
            <strong>Đăng ký sử dụng tiện ích/sản phẩm</strong>
          </h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="baocao-container box-group-white">
                <h4 class=""><b>Thông tin người đăng ký</b></h4>
                <div class="col-md-6">
                  <label>Tên người đăng ký<span class="text-danger">(*)</span></label>
                  <input id="cus-name" class="form-control" type="text" value="Admin1">
                </div>
                <div class="col-md-6">
                  <label>Nhà thuốc</label>
                  <input readonly="readonly" class="form-control" type="text"
                         value="Chi nhánh công ty TNHH Web Nhà Thuốc">
                </div>
                <div class="col-md-6">
                  <label>Số điện thoại<span class="text-danger">(*)</span></label>
                  <input id="cus-phone" class="form-control" type="text" value="0836616920">
                </div>
                <div class="col-md-6">
                  <label>Email</label>
                  <input id="cus-email" class="form-control" type="text" value="test@gmail.com">
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="sidebar-bg">
                <h4 class="d-block"><b>Thông tin tiện ích/sản phẩm</b></h4>
                <table class="w-100 table-register">
                  <tbody>
                  <tr>
                    <td class="title-convenient">Tên tiện ích/sản phẩm</td>
                    <td style="text-align: right;">
                      Khuyến mại mới
                    </td>
                  </tr>
                  <tr>
                    <td class="title-convenient">Giá</td>
                    <td style="text-align: right;">
                      Khuyến mại
                    </td>
                  </tr>
                  </tbody>
                </table>
                <br>
                <table class="w-100 table-register">
                  <tbody>
                  <tr>
                    <td class="title-convenient">Tổng cộng</td>
                    <td style="text-align: right; color: red">
                      Khuyến mại
                    </td>
                  </tr>
                  </tbody>
                </table>
                <button onclick="onRegisterConvenient()" class="form-control btn btn-primary mb-3">Đăng ký</button>
                <div>
                  <h4 class="d-block"><b>Quy trình sau khi đăng ký sử dụng</b></h4>
                  <b>B1: </b> Đăng ký<br>
                  <b>B2: </b> Được liên hệ hộ trợ, tư vấn sử dụng<br>
                  <b>B3: </b> Thanh toán<br>
                  <b>B4: </b> Kích hoạt tiện ích/sản phẩm<br>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <div class="d-flex gap-10 align-items-center justify-content-end">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          </div>

        </div>
      </div><!-- /.modal-content -->

    </div>
  </div>
</div>
