<div id="divMain">
    <div class="row">
        <div id="divInfoSearch" class="col-md-3">
            <div class="sidebar-bg">
                <fieldset>
                    <h5 class="mt-0"><b>Thêm hàng hóa vào danh sách</b></h5>
                    <hr class="mt-0" />
                    <label>Tìm theo</label>
                    <div class="control-group">
                        <select class="form-control" id="sType" ng-model="option_filter.type">
                            <option value="0">Tất cả</option>
                            <option value="1">Theo nhà cung cấp</option>
                            <option value="2">Nhóm thuốc</option>
                            <option value="3">Tên thuốc</option>
                        </select>
                    </div>
                    <div style="display:none" class="option mb-3" id="provider">
                        <label>Chọn nhà cung cấp</label>
                        <div class="control-group">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                    <div style="display:none" class="option mb-3" id="group_drugs">
                        <label>Chọn nhóm thuốc</label>
                        <div class="control-group">
                            <select class="form-control" id="ddlgroup_drug" ng-model="option_filter.group_drug">
                                <option value="">-- Chọn nhóm thuốc --</option>
                                <option ng-repeat="option in group_drug" value="">
                                    <!-- {{option.TenNhomThuoc}} -->
                                </option>
                            </select>
                        </div>
                    </div>
                    <div style="display:none" class="option mb-3" id="name_drugs">
                        <label>Nhập tên thuốc</label>
                        <input type="text" class="form-control"/>
                    </div>
                </fieldset>
                <div class="form-check mb-3">
                    <input type="checkbox" id="chkHangHet" checked="checked" ng-model="option_filter.chi_lay_hang_het" class="form-check-input form-control">
                    <label for="unassigneduser" class="form-check-label">Chỉ lấy hàng hết</label>
                </div>
                <div class="control-group d-flex justify-content-between gap-10 btn-group-flex">
                    <input type="button" value="Thêm" ng-click="fnAddItemReserve(); $event.preventDefault(); $event.stopPropagation();" class="btn btn-primary w-50" />
                    <input type="button" value="Xóa hết" ng-click="fnDeleteAllItem(); $event.preventDefault(); $event.stopPropagation();" class="btn btn-danger w-50" />
                </div>
                <div class="control-group d-flex justify-content-between gap-10 btn-group-flex">
                    <input type="button" value="In" ng-click="fnPrint('pdf'); $event.preventDefault(); $event.stopPropagation();" class="btn btn-default w-50" />
                    <input type="button" value="Xuất Excel" ng-click="fnPrint('excel'); $event.preventDefault(); $event.stopPropagation();" class="btn btn-primary w-50" />
                </div>
                <div class="control-group d-flex justify-content-between gap-10 btn-group-flex">
                    <input type="button" value="Lấy hàng hết" ng-click="onGetDrugOutOfStock(); $event.preventDefault(); $event.stopPropagation();" class="btn btn-primary w-50" />
                    <a style="padding-left: 6px; padding-right: 6px;" href="/NoteManagement/NotesListing##noteTypeId=15" class="btn btn-primary w-50" target="_blank">DS phiếu dự trù</a>
                </div>
                <div class="control-group d-flex btn-group-flex" ng-if="viewModel.NoteId<= 0">
                    <input type="button" value="Lưu phiếu" ng-click="fnSave('no')" class="btn btn-primary w-50" />
                    <input type="button" value="Lưu theo NCC" ng-click="fnSave('yes')" class="btn btn-primary w-50" />
                </div>
                <div class="control-group btn-fullwidth flex-grow-1">
                    <input type="button" value="Lưu phiếu" ng-if="viewModel.NoteId> 0" ng-click="fnSave(); $event.preventDefault(); $event.stopPropagation();" class="btn btn-primary w-100" />
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box-group-white">
                <h2 class="d-block text-center">
                    <b>Danh sách hàng cần dự trù</b>
                    <span ng-if="deviceType==0" style="padding-bottom: 12px; padding-left: 8px" class="btn tooltip-content-drug" ng-mouseover="onShowTitle(gridItem)">
                        <span ng-click="">
                            <i style="font-size:20px; color: black" class="fa fa-info-circle" aria-hidden="true"></i>
                        </span>
                        <span style="font-size:14px; text-transform:none" class="show-tooltip-content-drug">
                            <b>F1:</b> Thêm mới phiếu trong tab mới<br />
                            <b>F9:</b> Ghi phiếu<br />
                            <b>F11:</b> Toàn màn hình<br />
                            <b>↑ và ↓:</b> Đi từ trên xuống<br />
                        </span>
                    </span>
                </h2>

                <div class="d-flex justify-content-end mb-3" ng-if="permittedFields.Drug_ViewInputPrice">
                    <span><b>Tổng tiền:</b> 
                        <!-- {{totalAmount | number}} -->1.000
                    </span>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover tr-ng-grid">
                        <thead>
                            <tr>
                                <th display-name="#">#</th>
                                <th display-name="Mã thuốc">Mã thuốc</th>
                                <th display-name="Tên thuốc">Tên thuốc</th>
                                <th display-name="Tên nhóm">Tên nhóm</th>
                                <th display-name="Nhà cung cấp" ng-if="viewModel.NoteId<= 0" width="20%"><span>Nhà cung cấp</span></th>
                                <th display-name="Đơn vị tồn"><span>Đơn vị tồn</span></th>
                                <th display-name="SL cảnh báo"><span>SL<br/>cảnh báo </span></th>
                                <th display-name="Tồn kho tổng" ng-if="viewModel.EnableViewAllStore"><span>Tồn kho tổng</span></th>
                                <th display-name="Tồn kho"><span>Tồn kho</span></th>
                                <th display-name="Dự trù"><span>Dự trù</span></th>
                                <th display-name="Đơn vị dự trù"><span>Đơn vị <br/> dự trù</span></th>
                                <th display-name="Đơn giá">Đơn giá</th>
                                <th display-name="Thành tiền">Thành tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" ng-bind="gridItem.ThuocId" class="thuocid" />
                                    <div>
                                        <!-- {{gridItem.STT}} -->1
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span class="btn-link" title="Xem chi tiết giao dịch" ng-click="onTransByObjectDetails(gridItem)">
                                            <!-- {{gridItem.MaThuoc}} -->TH01
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <span class="btn-link" title="Tham khảo giá thuốc từ thị trường" ng-click="onSearchPriceInOut(gridItem.TenThuoc)">
                                            <!-- {{gridItem.TenThuoc}} -->Thuốc 1
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <!-- {{gridItem.TenNhomThuoc}} -->Nhóm 1
                                    </div>
                                </td>
                                <td ng-if="viewModel.NoteId<= 0" width="20%" (click)="supplierID=1" 
                                data-toggle="modal" data-target="#supplier-reward-program-dialog"
                                 title="Xem chương trinh trả thưởng nhà cung cấp">
                                    <div>

                                        <span class="">
                                            <!-- {{gridItem.SupplierName}} -->Hàng nhập lẻ
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <!-- {{gridItem.DonViLe}} -->hộp
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <!-- {{gridItem.SoLuongCanhBao}} -->1
                                    </div>
                                </td>
                                <td ng-if="viewModel.EnableViewAllStore" title="Xem chi tiết số tồn" ng-click="onGetDataDetailLastValueWarehouse(gridItem)">
                                    <div style="text-align:right">
                                        <span style="cursor:pointer" class="btn-link">
                                            <!-- {{gridItem.TonKhoTong|number}} -->1
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align:right">
                                        <!-- {{gridItem.TonKho|number}} -->1
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <input id="" type="text" ng-change="onAmountChanged()" ng-model="gridItem.DuTru" value="0" class="mousetrap form-control mb-0 txtdutru valid" onchange="calculate_money(this);"
                                               awnum="app-decimal-number" style="text-align: left;width:70px">
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <!-- {{gridItem.DonViNguyen}} -->Hộp
                                    </div>
                                </td>
                                <td>
                                    <div style="text-align:right" ng-if="permittedFields.Drug_ViewInputPrice">
                                        <!-- {{gridItem.DonGia_view}} -->1.000
                                        <input type="hidden" ng-bind="gridItem.DonGia" class="dongia" />
                                    </div>
                                    <div ng-if="!permittedFields.Drug_ViewInputPrice">**********</div>
                                </td>
                                <td>
                                    <div style="text-align:right" ng-if="permittedFields.Drug_ViewInputPrice">
                                        <span class="thanhtien" ng-bind="gridItem.ThanhTien"></span>
                                    </div>
                                    <div ng-if="!permittedFields.Drug_ViewInputPrice">****</div>
                                </td>
                                <td>
                                    <div>
                                        <a class="delete-line btn btn-sm btn-danger" ng-click="fnRemoveDrug(); $event.preventDefault(); $event.stopPropagation();" title="Xóa"><i class="fa-regular fa-xmark"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-end mt-3" ng-if="permittedFields.Drug_ViewInputPrice">
                    <span><b>Tổng tiền:</b> 
                        <!-- {{totalAmount | number}} -->1.000
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <supplier-reward-program-dialog [supplierID]="supplierID"></supplier-reward-program-dialog> -->
