<div class="card-bg">
    <h2 class="card-title text-center mt-0 mb-0">
        <b class="ng-binding">PHIẾU TRẢ LẠI HÀNG CHO NHÀ CUNG CẤP</b>
        <span ng-if="deviceType==0" style="padding-bottom: 12px; padding-left: 8px"
            class="btn tooltip-content-drug ng-scope">
            <span ng-click="">
                <i style="font-size:20px; color: black" class="fa fa-info-circle" aria-hidden="true"></i>
            </span>
            <span style="font-size:14px; text-transform:none" class="show-tooltip-content-drug">
                <b>F1:</b> Thêm mới phiếu trong tab mới<br>
                <b>F2:</b> Tìm khách hàng/nhà cung cấp<br>
                <b>F4:</b> Tính liều<br>
                <b>F8:</b> Thay đổi tổng tiền<br>
                <b>F9:</b> Ghi phiếu<br>
                <b>F11:</b> Toàn màn hình<br>
                <b>↑ và ↓:</b> Đi từ trên xuống<br>
            </span>
        </span>
    </h2>
    <form [formGroup]="formData">
        <div class="text-center card-desc">
            <div class="card-code">
                Mã số: <strong class="ng-binding">{{formData.value.soPhieuXuat}}</strong>
            </div>
            Ngày: <div class="clickable-text daterange-picker font-weight-bold"><input [hidden]="1==1" 
                formControlName="noteDate"
                type="text" class="form-control" (dateChange)="onDateChange($event.value)" [matDatepicker]="pickerNgayXuat"
                (click)="pickerNgayXuat.open()">
                    <mat-datepicker #pickerNgayXuat="matDatepicker" disabled="false"></mat-datepicker><span
                    class="text-link" (click)="pickerNgayXuat.open()">{{formData.value.id == 0 ?
                     (formData.value.ngayXuat | appDate) :formData.value.ngayXuat | appDateTime}}</span></div>
        </div>
    </form>
        <div class="mt-3">
            <table class="table borderless table-condensed" style="margin-bottom:0px;" ng-show="deviceType!=1">
                <tbody>
                    <tr>
                        <td>
                            <form [formGroup]="formData">
                                <div class="form-inline-flex">
                                    <label style="width: 7%;">
                                        <span>Nhà cung cấp:</span>
                                    </label>
                                    <div class="w-100">
                                        <div class="control-group">
                                            <ng-select appendTo="body" formControlName="nhaCungCapMaNhaCungCap"
                                                appearance="outline" [items]="listNhaCungCaps" bindLabel="tenNhaCungCap"
                                                bindValue="id" placeholder="Tra cứu theo tên..."
                                                notFoundText="Không tìm thấy mục nào" refresh-delay="500"
                                                (search)="searchPageNhaCungCap($event)">
                                                <ng-template ng-option-tmp let-item="item" let-index="index"
                                                    let-search="searchTerm">
                                                    <span
                                                        [ngOptionHighlight]="search">{{item.tenNhaCungCap}}-{{item.soDienThoai}}-
                                                        {{item.diaChi}}</span>
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table mat-table class="table table-striped table-hover tr-ng-grid" [dataSource]="getDataSource()">
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef style="width:3%"> #</th>
                    <td mat-cell *matCellDef="let data; index as i;" class="text-center">
                        <a *ngIf="data.isEditingItem" class="btn btn-primary" title="Thêm mới"
                        (click)="onAddNew()"><i
                            class="fa-regular fa-plus"></i></a>
                            <a *ngIf="!data.isEditingItem" class="btn btn-danger" title="Xóa"
                            (click)="onDelete(data)"><i
                           class="fa-regular fa-trash"></i></a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="stt">
                    <th mat-header-cell *matHeaderCellDef style="width:3%"> STT</th>
                    <td mat-cell *matCellDef="let data; index as i;" class="text-center" style="vertical-align: middle;">
                        <span *ngIf="!data.isEditingItem" (click)="openDetailDialog(data.thuocThuocId)" class="btn-link">{{data.order}}</span>
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="anh">
                    <th mat-header-cell *matHeaderCellDef> Ảnh </th>
                    <td mat-cell *matCellDef="let data" class="text-right">
    
                    </td>
                </ng-container>
    
                <ng-container matColumnDef="matHang">
                    <th mat-header-cell *matHeaderCellDef style="width:30%">Mặt Hàng [Mã-Tên]</th>
                    <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                        <div *ngIf="data.isEditingItem">
                            <div>
                                <div class="w-100">
                                    <div class="control-group">
                                        <ng-select 
                                            #drugSearchBoxId
                                            appendTo="body"
                                            [(ngModel)]="data.thuocThuocId"
                                            appearance="outline" [items]="listThuocs" bindLabel="tenThuoc" bindValue="id"
                                            placeholder="Tra cứu theo tên, mã, mã vạch..."
                                            notFoundText="Không tìm thấy mục nào"
                                            (search)="searchPageDrug($event)"
                                            (change)="onDrugChange($event)">
                                            <ng-template ng-label-tmp let-item="item">
                                                <span >{{item.maThuoc}}-{{item.tenThuoc}}</span>
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-index="index"
                                                let-search="searchTerm">
                                                <span [ngOptionHighlight]="search">{{item.maThuoc}}-{{item.tenThuoc}}-
                                                    {{item.tenDonViTinhXuatLe}} - Gián bán : {{item.giaBanLe
                                                    |number}}</span>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span *ngIf="!data.isEditingItem">{{data.maThuoc}} - {{data.tenThuoc}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="donVi">
                    <th mat-header-cell *matHeaderCellDef style="width: 10%;"> Đơn vị</th>
                    <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                        <select class="form-control" [(ngModel)]="data.donViTinhMaDonViTinh" (change)="onChangeUnit(data)">
                            <option  *ngFor="let i of data.donViTinhs" value="{{i.maDonViTinh}}">
                                  {{i.tenDonViTinh}}
                            </option>
                        </select>
                    </td>
                </ng-container>
                <ng-container matColumnDef="soLuong">
                    <th mat-header-cell *matHeaderCellDef> Số lượng</th>
                    <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                        <input type="text" [(ngModel)]="data.soLuong" (change)="getItemAmount(data)" (keyup.enter)="onAddNew()" class="form-control text-right">
                    </td>
                </ng-container>
                <ng-container matColumnDef="donGia">
                    <th mat-header-cell *matHeaderCellDef width="10%">Đơn giá</th>
                    <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                        <input type="text"
                        [(ngModel)]="data.giaBan" (change)="getItemAmount(data)" class="form-control text-right" />
                    </td>
                </ng-container>
                <ng-container matColumnDef="ck">
                    <th mat-header-cell *matHeaderCellDef> C.K(%)</th>
                    <td mat-cell *matCellDef="let data" style="vertical-align: middle;"> 
                        <input type="text" [(ngModel)]="data.chietKhau" (change)="getItemAmount(data)" class="form-control text-right"/>
                        </td>
                </ng-container>
                <ng-container matColumnDef="vat">
                    <th mat-header-cell *matHeaderCellDef>VAT(%)</th>
                    <td mat-cell *matCellDef="let data" style="vertical-align: middle;">
                        <input type="text" [(ngModel)]="data.vat" (change)="getItemAmount(data)" class="form-control text-right"/>
                    </td>
                </ng-container>
                <ng-container matColumnDef="ton">
                    <th mat-header-cell *matHeaderCellDef>Tồn</th>
                    <td mat-cell *matCellDef="let data" class="text-center" style="vertical-align: middle;"> 
                        {{data.tonHT | number}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="thanhTien">
                    <th mat-header-cell *matHeaderCellDef>Thành tiền</th>
                    <td mat-cell *matCellDef="let data" class="text-center" style="vertical-align: middle;">
                        {{ data.tongTien | number}}
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
            </table>
            <form [formGroup]="formData">
                <table class="borderless table-condensed">
                    <tbody>
                        <tr>
                            <td class="w-50">
                                <div class="d-flex gap-10 align-items-center justify-content-between">
                                    <div class="form-inline-flex flex-grow-1">
                                        <label>Tổng tiền:</label>
                                        <div class="flex-grow-1">
    
                                            <span ng-if="viewModel.NoteTypeId==2 || permittedFields.Drug_ViewInputPrice"
                                                class="ng-scope">
    
                                                <input id="txbTotalAmountId" type="text"
                                                    class="form-control mb-0" formControlName="tongTien"
                                                    ng-keypress="onTotalAmountChanged($event)">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="w-50">
                                <div class="d-flex gap-10 align-items-center justify-content-between">
                                    <div
                                        class="form-inline-flex flex-grow-1 ng-scope">
                                        <label>Trả: </label>
                                        <div class="input-group">
                                            <input ng-if="viewModel.NoteTypeId==2 || permittedFields.Drug_ViewInputPrice"
                                                type="text" id="tbxPaymentAmountTm"
                                                class="form-control mb-0 ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope"
                                                formControlName="daTra" awnum="app-int-number">
                                            <input class="btn btn-primary btn-group" type="button" value="F"
                                                title="Ấn vào đây để trả đủ số tiền" id="btnFullTm"
                                                (click)="onPaymentFull()">
                                        </div>
                                    </div>
                                </div>
    
                            </td>
                        </tr>
    
                        <tr class="ng-scope">
                            <td class="w-50"></td>
                            <td>
                                <div class="d-flex gap-10">
                                    <div>
                                        <div class="msg_payment_header msg_payment_expanded">Hình thức thanh toán
                                            <span style="cursor: pointer;" (click)="expandForm()">{{expandLabel}}</span>
                                        </div>
                                        <div id="paymentSlide" *ngIf="showMoreForm" class="form-check">
                                            <mat-radio-group class = "tp-radio-group" formControlName="paymentTypeId">  
                                                <mat-radio-button class = "tp-radio-button"  
                                                   *ngFor = "let item of listPaymentType" [value] = "item.id">  
                                                   {{item.displayName}}  
                                                </mat-radio-button>
                                             </mat-radio-group>  
                                        </div>
                                    </div>
    
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table borderless table-condensed" style="padding: 5px">
                    <tbody>
                        <tr>
                            <td>
                                <div class="d-flex gap-10 text-left">
                                    <label>Diễn giải:</label>
                                    <textarea formControlName="dienGiai" class="form-control mb-0" style="width: 100%"></textarea>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            
            <table class="table borderless table-condensed">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <div class="d-flex justify-content-center align-items-center gap-10">
                                <input type="button" value="Quay lại" class="btn btn-default"
                                    ng-click="onReturnNotesListing(); $event.preventDefault(); $event.stopPropagation();">
                                <input type="submit" value="Ghi Phiếu - F9" id="save-note-btn-id" title="F9-Ghi phiếu"
                                    class="btn btn-primary" (click)="onSave()">
    
    
                                <a class="btn btn-default ng-scope"
                                    *ngIf="formData.value?.id > 0"
                                    href="#" ng-click="onPrint(0)" target="_blank">
                                    In
                                </a>
    
                                <span *ngIf="formData.value?.id > 0" class="ng-scope">
                                    <span>&nbsp;</span>
                                    <a href="/PhieuXuats/delete/35155501" class="btn btn-danger btn btn-danger">Xóa
                                        phiếu</a>
                                    <span>&nbsp;</span>
                                    <a ng-click="onLockNote(); $event.preventDefault(); $event.stopPropagation();"
                                        title="Mở/Khóa phiếu" class="btn btn-default"><i class="fa fa-unlock fa-lg"></i></a>
                                </span>
                            </div>
                        </td>
                    </tr>
    
                    <tr *ngIf="formData.value?.id > 0" class="ng-scope">
                        <td colspan="2" class="text-center">
                            <div class="d-flex justify-content-center align-items-center gap-10">
                                <span class="ng-binding">[Người lập: Đỗ Thanh Mai] - [Ngày lập: 16/03/2024]</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
</div>