<div class="row">
  <div class="col-md-3">
    <div class="sidebar-bg">
      <label>Nhóm khách hàng</label>
      <input class="form-control" type="text" id="searchTen" name="searchTen"
        placeholder="Tìm nhóm khách hàng theo tên..." />
      <div class="control-group d-flex justify-content-between gap-10 btn-group-flex">
        <button class="btn btn-primary w-50" (click)="searchPage()">Xem</button>
        <button class="btn btn-primary w-50" (click)="openAddEditDialog(null)">Thêm</button>
      </div>
    </div>
  </div>

  <div class="col-md-9">
    <div class="baocao-container box-group-white">
      <h2 class="mb-3 d-block text-center"><b>{{ title }}</b></h2>
      <table class="table table-striped table-bordered table-hover tr-ng-grid">
        <thead>
          <tr>
            <th style="width:8%">
              <div class="tr-ng-column-header tr-ng-cell">
                <div class="tr-ng-title"> #</div>
              </div>
            </th>
            <th style="width:42%">
              <div class="tr-ng-column-header tr-ng-cell">
                <div class="tr-ng-title">
                  Nhóm khách hàng
                  <div class="tr-ng-sort" title="Sort">
                    <div class="tr-ng-sort-inactive text-muted glyphicon glyphicon-chevron-down">
                    </div>
                  </div>
                </div>
              </div>
            </th>
            <th style="width:35%">
              <div class="tr-ng-column-header tr-ng-cell">
                <div class="tr-ng-title"> Ghi chú</div>
              </div>
            </th>
            <th style="width:15%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataTable; index as i;">
            <td>{{ (page - 1) * pageSize + i + 1 }}</td>
            <td>
              <div>{{ data.tenNhomKhachHang }}</div>
            </td>
            <td>
              <div>{{ data.ghiChu }}</div>
            </td>
            <td>
              <div class="baocao-actions">
                <button class="btn btn-sm btn-primary" (click)="openAddEditDialog(data.id)"><i class="fa-regular fa-pen-to-square"></i></button>
                <button class="btn btn-sm btn-danger" (click)="delete('Bạn có muốn xóa nhóm khách hàng?',data)"><i class="fa-regular fa-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr id="footerId">
            <td colspan="100">
              <app-pagination [currentPage]="page" [totalPages]="totalPages" [totalRecord]="totalRecord"
                (pageChange)="changePageIndex($event)" (pageSizeChange)="changePageSize($event)"></app-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
