<div>
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar-bg">
                <div class="mb-3">
                    <label>Thêm cả nhóm thuốc vào phiếu</label>
                    <div class="input-group">
                        <select class="form-control" id="MaNhomThuoc" name="MaNhomThuoc" ng-model="selectedNhomThuoc">
                            <option value="">Chọn nhóm thuốc</option>
                            <option value="0">--Tất cả nhóm thuốc--</option>
                            <option ng-repeat="nt in nhomThuoc" value=""></option>
                        </select>
                        <input type="hidden" id="maThuoc" name="maThuoc" />
                        <span class="input-group-btn">
                            <button id="addDrugGroupBtn" ng-click="AddThuocTheoNhom(); $event.preventDefault(); $event.stopPropagation();" class="btn btn-primary">Thêm</button>
                        </span>
                    </div>
                    <fieldset class="mt-3" *ngIf="noteId > 0">
                        <div class="form-check">
                            <input type="checkbox" id="chkBienDong" class="form-control form-check-input" style="width: 18px;display: inline;height: 18px;vertical-align: bottom;margin-top: 0px;"
                                   ng-change="locThuocBienDong()" ng-model="chkboxBienDong" />
                            <label class="form-check-label">Thuốc có biến động trong ngày</label>
                        </div>
                    </fieldset>
                </div>
                <hr />
                <div class="control-group d-flex justify-content-between gap-10 btn-group-flex">
                    <a class="btn btn-default w-50" href="/Inventory/Index">Quay lại</a>
                    <input type="submit" value="Lưu phiếu" id="btnLuuPhieu" name="action" ng-click="saveInventory(false); $event.preventDefault(); $event.stopPropagation();" class="btn btn-primary w-50" />
                </div>
                <div class="control-group btn-fullwidth flex-grow-1">
                    <input type="submit" value="Cân kho" id="btnCanKho" name="action" ng-click="confirmCankho(); $event.preventDefault(); $event.stopPropagation();" class="btn btn-primary w-100" />
                    <input type="submit" value="Cập nhật tồn" id="btnUpdateInventories" name="action" *ngIf="noteId > 0" ng-click="onUpdateInventories(); $event.preventDefault(); $event.stopPropagation();" class="btn btn-primary w-50" />
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="box-group-white">
                <h2 style="padding: 0px" class="text-center">
                    <b>PHIẾU KIỂM KÊ</b>
                    <span ng-if="deviceType==0" class="btn tooltip-content-drug" ng-mouseover="onShowTitle(gridItem)">
                        <span ng-click="">
                            <i style="font-size: 20px; color: black; margin-bottom: 5px;" class="fa fa-info-circle" aria-hidden="true"></i>
                        </span>
                        <span style="font-size:14px; text-transform:none" class="show-tooltip-content-drug">
                            <b>F1:</b> Thêm mới phiếu trong tab mới<br />
                            <b>F9:</b> Ghi phiếu<br />
                            <b>F11:</b> Toàn màn hình<br />
                            <b>↑ và ↓:</b> Đi từ trên xuống<br />
                        </span>
                    </span>
                </h2>
                <div class="text-center mb-3">
                    Ngày: <strong>
                        <!-- {{reportDate}} -->1/1/2024
                    </strong>
                </div>
                <table style="border: 1px solid #ddd;" class="table-condensed">
                    <thead>
                        <tr ng-show="deviceType!=1">
                            <th style="width:8%; border: none; text-align: left">
                                <label>Mã/Tên:</label>
                            </th>
                            <th style="width:27%; border: none">
                                <div class="control-group">
                                  <input type="text" class="form-control"/>
                                </div>
                            </th>
                            <th style="width:9%; border: none; text-align: left">
                                <label>SL thực:</label>
                            </th>
                            <th style="width:12%; border: none">
                                <div class="input-group">
                                    <input type="text" id="tbxQuantityId" class="number-input form-control mb-0 mousetrap" ng-model="itemWaiting.ThucTe" style="width: 100%">
                                    <span class="input-group-addon flex-grow-width-30">
                                        <!-- {{itemWaiting.TenDonViTinh}} -->hộp
                                    </span>
                                </div>
                            </th>
                            <th ng-if="permittedFields.Drug_ViewInventory" style="width:12%; border: none; text-align: left">
                                <label>SL hệ thống:</label>
                            </th>
                            <th ng-if="permittedFields.Drug_ViewInventory" style="width:12%; border: none;">
                                <div class="input-group">
                                    <input type="text" class="number-input form-control mb-0" ng-model="itemWaiting.TonKho" style="width: 100%" readonly="readonly">
                                    <span class="input-group-addon flex-grow-width-30">
                                        <!-- {{itemWaiting.TenDonViTinh}} -->hộp
                                    </span>
                                </div>
                            </th>
                            <th style="width:11%; border: none; text-align: left">
                                <label>Giá/Lô/Hạn:</label>
                            </th>
                            <th style="width: 5%; text-align: right; border: none;">
                                <div class="d-flex align-items-center gap-10">
                                    <a href="#" id="" class="btn btn-primary btn-sm" ng-if="itemWaiting.ThuocId > 0" ng-click="updateDrug(itemWaiting); $event.preventDefault(); $event.stopPropagation();" title="Cập nhật giá/lô/hạn dùng"><i class="fa-regular fa-calendar-days"></i></a>
                                    <a class="btn btn-primary btn-sm" title="Thêm mới" ng-click="onAddNewItem(itemWaiting); $event.preventDefault(); $event.stopPropagation();"><i class="fa-regular fa-plus"></i></a>
                                    <a class="btn btn-primary btn-sm" ng-if="itemWaiting.IsProdRef" title="Cập nhật thông tin" ng-click="onUpdateCommonDrugInfo($event,itemWaiting); $event.preventDefault(); $event.stopPropagation();"><i class="fa-regular fa-pen"></i></a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
                <div class="baocao-container">
                    <table class="table table-striped table-bordered table-hover tr-ng-grid">
                        <thead>
                            <tr>
                                <th class="header-bg" display-name="STT">STT</th>
                                <th class="header-bg" display-name="Nhóm thuốc"><span>Nhóm thuốc</span></th>
                                <th class="header-bg" display-name="Mã thuốc">Mã thuốc</th>
                                <th class="header-bg" display-name="Tên thuốc">Tên thuốc</th>
                                <th class="header-bg" display-name="Đơn vị">Đơn vị</th>
                                <th class="header-bg" display-name="SL hệ thống">
                                    <span>SL hệ thống</span>
                                </th>
                                <th class="header-bg" style="width:100px;" display-name="SL thực">
                                    <span>SL thực</span>
                                </th>
                                <th class="header-bg" display-name="Chênh lệch">
                                    <span>Chênh lệch</span>
                                </th>
                                <th class="header-bg" display-name="Giá kiểm kê">Giá kiểm kê</th>
                                <th class="header-bg" display-name="Giá/Lô/Hạn dùng">
                                    <span>Giá/Lô/Hạn dùng</span>
                                </th>
                                <th class="header-bg">Xóa</th>
                            </tr>
                        </thead>
                        <tbody id="table-body-id-delivery-note-with-barcode">
                            <tr class="tr-barcode">
                                <!--STT-->
                                <td>
                                    <div ng-show="!InventoryModel.Id">
                                        <!-- {{gridOptions.currentPage * model.pageSize + (InventoryModel.items.length -$index)}} -->1
                                    </div>
                                    <div ng-show="InventoryModel.Id > 0">
                                        <!-- {{gridOptions.currentPage * model.pageSize + $index + 1}} -->1
                                    </div>
                                </td>
                                <!--Tên nhóm thuốc-->
                                <td>
                                    <div>
                                        <!-- {{gridItem.TenNhomThuoc}} -->Nhóm 1
                                    </div>
                                </td>
                                <!--Mã Thuốc-->
                                <td>
                                    <div>
                                        <!-- {{gridItem.MaThuoc}} -->Th1
                                    </div>
                                </td>
                                <!--Tên thuốc-->
                                <td>
                                    <div>
                                        <!-- {{gridItem.TenThuoc}} -->Thuốc 1
                                    </div>
                                </td>
                                <!--Đơn vị-->
                                <td>
                                    <div>
                                        <!-- {{gridItem.TenDonViTinh}} -->hộp
                                    </div>
                                </td>
                                <!--Số Lượng hệ thống-->
                                <td>
                                    <div style="text-align:right">
                                        <!-- {{gridItem.TonKho}} -->1
                                    </div>
                                </td>

                                <!--Số Lượng thực tế-->
                                <td>
                                    <div style="text-align:right">
                                        <input type="text" class="form-control mb-0 row-item-quantiy align-right"
                                               ng-keypress="moveToNextDrug($event)" style="width:100px;"
                                               ng-model="gridItem.ThucTe" awnum="app-decimal-number"
                                               id="" />
                                    </div>
                                </td>
                                <!--Chênh lệch-->
                                <td>
                                    <div style="text-align:right">
                                        <!-- {{gridItem.ThucTe - gridItem.TonKho | DrugQuantityFilter:1}} -->1
                                    </div>
                                </td>
                                <!--Giá kiểm kê-->
                                <td>
                                    <div style="text-align:right" ng-if="permittedFields.Drug_ViewInputPrice">
                                        <!-- {{gridItem.Gia | number: 0}} -->1.000
                                    </div>
                                    <div ng-if="!permittedFields.Drug_ViewInputPrice">***</div>
                                </td>
                                <!--Actions-->
                                <td>
                                    <div style="text-align:center">
                                        <a href="#" id="" class="btn btn-sm btn-primary" (click)="drugId=1" data-toggle="modal" data-target="#inventory-item-update-dialog" 
                                        title="Cập nhật giá/lô/hạn dùng"><i class="fa-regular fa-calendar-days"></i></a>
                                        <a class="btn btn-primary btn-sm" ng-if="gridItem.IsProdRef" title="Cập nhật thông tin"><i class="fa-regular fa-pen"></i></a>
                                    </div>
                                </td>

                                <!--Remove item-->
                                <td>
                                    <div style="text-align:center">
                                        <a class="delete-drug btn btn-sm btn-danger" title="Xóa" ng-click="onDelete(gridItem); $event.preventDefault(); $event.stopPropagation();"><i class="fa-regular fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr id="footerId">
                                <td align="center"
                                    class="ng-scope" colspan="11">
                                    <div class="tr-ng-grid-footer form-inline">
                                        <div ng-switch-when="true" class="ng-scope">
                                            <div ng-transclude=""><span class="form-group pull-left page-size ng-scope">
                                                    <select id="ddlPageSize"
                                                        class="form-control ng-pristine ng-untouched ng-valid"
                                                        ng-model="model.pageSize"
                                                        ng-options="item.pageSizeKey as item.pageSizeValue for item in pageSizeList"
                                                        ng-change="changePageSize()">
                                                        <option label="10" value="number:10" selected="selected">10</option>
                                                        <option label="20" value="number:20">20</option>
                                                        <option label="50" value="number:50">50</option>
                                                        <option label="100" value="number:100">100</option>
                                                        <option label="--All--" value="number:9000">--All--</option>
                                                    </select>
                                                    <span class="page-size-label">&nbsp;&nbsp;Dòng / Trang</span>
                                                </span><span class="pull-right form-group" tr-ng-grid-pager=""
                                                    style="height:40px;">
                                                    <ul class="pagination">
                                                        <li class="ng-scope active">
                                                            <a href="" ng-click="navigateToPage(pageIndex)"
                                                                ng-if="pageIndex!==null"
                                                                class="ng-binding ng-scope" title="Trang">1</a>
                                                            </li>
                                                            <li ng-if="pageSelectionActive" class="ng-scope"><a href=""
                                                                    class="ng-binding ng-scope" title="Trang">2</a> </li>
                                                            <li class="disabled" style="white-space: nowrap;"> <span
                                                                    ng-hide="totalItemsCount || !displayTotalItemsCount"
                                                                    class="ng-binding ng-hide">Không có dữ liệu</span> <span
                                                                    ng-show="totalItemsCount &amp;&amp; displayTotalItemsCount"
                                                                    class=""> <span class="ng-binding">Tổng: 2 bản ghi</span>
                                                                </span> </li>
                                                        </ul>
                                                    </span></div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<inventory-item-update-dialog [drugId]="drugId"></inventory-item-update-dialog>
