<div>
    <div class="row">
        <form [formGroup]="formData">
            <div class="col-md-4">
                <div class="sidebar-bg">
                    <h4 class="mt-0"><b>{{title}}</b></h4>
                    <hr style="margin-top:0px" />
                    <div class="form-inline-flex mb-3">
                        <label class="control-label" for="NoteName">Ngày</label>
                        <div class="flex-grow-1">
                            <div class="clickable-text daterange-picker font-weight-bold"><input [hidden]="1==1"
                                    formControlName="date" type="text" class="form-control"
                                    (dateChange)="onDateChange($event.value)" [matDatepicker]="pickerNoteDate"
                                    (click)="pickerNoteDate.open()">
                                <mat-datepicker #pickerNoteDate="matDatepicker" disabled="false"></mat-datepicker><span
                                    class="text-link" (click)="pickerNoteDate.open()">{{formData.value.noteDate |
                                    appDate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="TypeId">Loại đơn</label>
                        <div *ngIf="getMaNhaThuoc() == '3214'" class="flex-grow-1">
                            <ng-select appendTo="body" formControlName="typeSampleNote">
                                <ng-option *ngFor="let item of listTypeSample3214" [value]="item.id">{{item.label}}
                                </ng-option>
                            </ng-select>
                        </div>
                        <div *ngIf="getMaNhaThuoc() != '3214'" class="flex-grow-1">
                            <ng-select appendTo="body" formControlName="typeId">
                                <ng-option *ngFor="let item of listTypeSample" [value]="item.id">{{item.label}}
                                </ng-option>
                            </ng-select>
                        </div>

                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="FormOfTreatment">HT điều trị</label>
                        <div class="flex-grow-1">
                            <ng-select appendTo="body" formControlName="formOfTreatment">
                                <ng-option *ngFor="let item of listTypeFormOfTreatment" [value]="item.id">{{item.label}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="NoteName">Tên đơn<span class="text-danger">*</span></label>
                        <div class="flex-grow-1">
                            <input formControlName="noteName" class="form-control mb-0" required id="NoteName"
                                name="NoteName" type="text">
                            <span *ngIf="formData.get('noteName')?.invalid && formData.get('noteName')?.touched">
                                <span class="text-danger field-validation-error"
                                    *ngIf="formData.get('noteName')?.errors?.['required']">
                                    Chưa nhập tên đơn!
                                </span>
                                <span class="text-danger field-validation-error"
                                    *ngIf="formData.get('noteName')?.errors?.['maxlength']">
                                    Tên đơn không được vượt quá 255 kí tự!
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Barcode">Mã vạch</label>
                        <div class="flex-grow-1">
                            <div class="input-group">
                                <input class="form-control mb-0" maxlength="100" formControlName="barcode" type="text">
                                <span class="input-group-btn">
                                    <a href="javascript:void(0);" class="btn btn-primary"
                                        ng-click="fnGenbarcode(); $event.preventDefault(); $event.stopPropagation();"><i
                                            class="fa-regular fa-barcode-read"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Doctor">Bác sỹ</label>
                        <div class="flex-grow-1">
                            <div class="input-group">
                                <div class="flex-grow-1">
                                    <ng-select appendTo="body" formControlName="doctorId">
                                        <ng-option [value]="0">-Mặc định-</ng-option>
                                        <ng-option *ngFor="let item of listBacSies" [value]="item.id">{{item.tenBacSy}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" (click)="openDoctorAddEditDialog()"
                                        title="Thêm bác sỹ mới nếu chưa có">
                                        <i class="fa-regular fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3" *ngIf="formData.value?.doctorId > 0">
                        <label class="control-label">Số điện thoại</label>
                        <div class="flex-grow-1"><a
                                (click)="openDoctorDetailDialog(formData.value?.doctorId)">{{getDoctorPhoneNumber(formData.value?.doctorId)}}</a>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Custommer">Bệnh nhân</label>
                        <div class="flex-grow-1">
                            <div class="input-group">
                                <div class="flex-grow-1">
                                    <ng-select [items]="listKhachHang$ | async" [typeahead]="searchKhachHangTerm$"
                                        [minTermLength]="2" [trackByFn]="trackByFn" formControlName="patientId"
                                        appendTo="body" appearance="outline" bindLabel="tenKhachHang" bindValue="id"
                                        placeholder="Nhập mã, mã vạch hoặc tên..." notFoundText="Không tìm thấy mục nào"
                                        typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                                        (change)="searchKhachHangTerm$.next(''); getPatientDetail($event)">
                                        <ng-template ng-option-tmp let-item="item" let-index="index"
                                            let-search="searchTerm">
                                            <span [ngOptionHighlight]="search">{{ item.tenKhachHang }}</span>
                                        </ng-template>
                                    </ng-select>
                                </div>
                                <div class="input-group-btn">
                                    <button class="btn btn-primary" (click)="openCustomerAddEditDialog()"
                                        title="Thêm khách hàng mới nếu chưa có">
                                        <i class="fa-regular fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3" *ngIf="formData.value?.patientId > 0">
                        <label class="control-label">Số điện thoại</label>
                        <div class="flex-grow-1"><a
                                (click)="openCustomerDetailDialog(formData.value?.patientId)">{{formData.value?.patientPhoneNumber}}</a>
                        </div>
                    </div>
                    <div class="form-group mb-3" *ngIf="formData.value?.patientId > 0">
                        <label class="control-label">Địa chỉ</label>
                        <div class="flex-grow-1">{{formData.value?.patientAddress}}</div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label">Chẩn đoán bệnh</label>
                        <div class="flex-grow-1">
                            <ng-select [items]="listDiagnose$ | async" [multiple]="true"
                                [typeahead]="searchDiagnoseTerm$" [minTermLength]="2" formControlName="chanDoanIds"
                                appendTo="body" appearance="outline" bindLabel="tenChanDoan" bindValue="id"
                                placeholder="Nhập mã, mã vạch hoặc tên..." notFoundText="Không tìm thấy mục nào"
                                typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                                (change)="searchDiagnoseTerm$.next('')">
                                <ng-template ng-label-tmp let-clear="clear" let-item="item">
                                    <span>{{item.maChanDoan}}_{{item.tenChanDoan}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)">×</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                    <span [ngOptionHighlight]="search">{{item.maChanDoan}}_{{item.tenChanDoan}}</span>
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Description">Kết luận và HĐT</label>
                        <div class="flex-grow-1">
                            <textarea class="form-control mb-0" formControlName="conclude" maxlength="255"
                                type="text"></textarea>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Description">Lời dặn của B.S</label>
                        <div class="flex-grow-1">
                            <textarea class="form-control mb-0" formControlName="doctorComments" maxlength="255"
                                type="text"></textarea>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label class="control-label" for="Barcode">Tiền bán</label>
                        <div class="flex-grow-1">
                            <div class="input-group">
                                <input class="form-control mb-0" maxlength="100" formControlName="amount" type="text"
                                    mask="separator">
                                <span class="input-group-btn">
                                    <input type="button" value="F" class="btn btn-default"
                                        title="Ấn vào đây để bằng tổng tiền" (click)="onPayFull()" />
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end align-items-center gap-10">
                        <a href="/management/sample-note/list" class="btn btn-default flex-grow-1">Quay
                            lại</a>
                        <input type="button" (click)="createUpdate()"
                            value="{{ formData.value?.id > 0 ? 'Cập nhật' : 'Lưu đơn'}}"
                            class="btn btn-primary flex-grow-1">
                        <input *ngIf="useClinicIntegration.activated && formData.value?.isConnect" type="button"
                            ng-click="fnSave(SampleNoteForm.$valid , 'yes'); $event.preventDefault(); $event.stopPropagation();"
                            value="Lưu đơn và LT" class="btn btn-primary flex-grow-1">
                        <a href="" *ngIf="formData.value?.id > 0" title="Xuất bán"
                            class="btn btn-primary flex-grow-1">Xuất bán</a>
                        <input *ngIf="formData.value?.id > 0" type="button"
                            ng-click="fnOpenForPrint(); $event.preventDefault(); $event.stopPropagation();" value="In"
                            class="btn btn-default flex-grow-1">
                        <div  class="btn-group">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                In <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a (click)="printPreview('4')">In đơn/liều - 58mm</a></li>
                                <li><a (click)="printPreview('3')">In đơn/liều - 80mm</a></li>
                                <li><a (click)="printPreview('2')">In đơn/liều - A5</a></li>
                                <li><a (click)="printPreview('1')">In đơn/liều - A4</a>
                                </li>
                                <!-- <li><a href="javascript:;" ng-click="printNoteDrug(2)">In đơn/liều - A5</a></li>
                                        <li><a href="javascript:;" ng-click="printNoteDrug(1)">In đơn/liều - A4</a></li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-8">
            <div class="box-group-white">
                <h2 class="text-center"><b>Danh sách thuốc</b></h2>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <ng-select [items]="listThuoc$ | async" [typeahead]="searchThuocTerm$" [minTermLength]="2"
                            [trackByFn]="trackByFn" appendTo="body" appearance="outline" bindLabel="tenThuoc"
                            bindValue="id" placeholder="Nhập mã, mã vạch hoặc tên..."
                            notFoundText="Không tìm thấy mục nào"
                            typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                            (change)="searchThuocTerm$.next(''); onChangeThuoc($event)">
                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                <span [ngOptionHighlight]="search">{{ item.tenThuoc }}</span>
                            </ng-template>
                        </ng-select>
                    </div>
                </div>
                <button *ngIf="applyMultipleDosesOfMedication.activated && formData.value?.isConnect"
                    class="btn btn-primary pull-right mb-div-5" (click)="openDrugUpdateInfoUseDialog(null, 'all')">Áp
                    dụng đợt dùng chung</button>
                <table mat-table class="table table-striped table-bordered table-hover tr-ng-grid"
                    [dataSource]="getDataSource()" matSort>

                    <ng-container matColumnDef="checkbox">
                        <th style="width: 5%;" mat-header-cell *matHeaderCellDef> <input type="checkbox"
                                [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()" title="select row">
                        </th>
                        <td mat-cell *matCellDef="let data; index as i;">
                            <input type="checkbox" [(ngModel)]="data.checked" (ngModelChange)="updateSingleChecked()"
                                title="select row">
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="#">
                        <th style="width: 4%;" mat-header-cell *matHeaderCellDef> #</th>
                        <td mat-cell *matCellDef="let data; index as i;">
                            <a (click)="openDetailDialog(data.drugID)">
                                {{ (page - 1) * pageSize + i + 1 }}
                            </a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="maThuoc">
                        <th style="width: 9%;" mat-header-cell *matHeaderCellDef> Mã thuốc</th>
                        <td mat-cell *matCellDef="let data">
                            {{ data.maThuoc }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="tenThuoc">
                        <th style="width: 20%;" mat-header-cell *matHeaderCellDef mat-sort-header> Mặt hàng[Mã-Tên]</th>
                        <td mat-cell *matCellDef="let data">
                            {{ data.tenThuoc }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="donVi">
                        <th style="width: 12%;" mat-header-cell *matHeaderCellDef> Đơn vị</th>
                        <td mat-cell *matCellDef="let data">
                            <ng-select appendTo="body" [(ngModel)]="data.drugUnitID"
                                (ngModelChange)="getItemAmount(data)" [clearable]="false">
                                <ng-option *ngFor="let item of data.listDonViTinhs"
                                    [value]="item.id">{{item.tenDonViTinh}}</ng-option>
                            </ng-select>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="soLuong">
                        <th style="width: 10%;" mat-header-cell *matHeaderCellDef> Số lượng</th>
                        <td mat-cell *matCellDef="let data">
                            <input type="text" mask="separator" [(ngModel)]="data.quantity"
                                (ngModelChange)="getItemAmount(data)"
                                class="form-control mb-0  mousetrap row-item-quantiy" style="text-align:right;">
                        </td>
                    </ng-container>

                    <ng-container *ngIf="useClinicIntegration.activated && !authService.getNhaThuoc().isConnectivity"
                        matColumnDef="ton">
                        <th style="width: 9%;" mat-header-cell *matHeaderCellDef> Tồn kho</th>
                        <td mat-cell *matCellDef="let data">
                            <div style="text-align:right" ng-click="onGetDataDetailLastValueWarehouse(gridItem)">
                                <span class="btn btn-link" title="Xem tồn ở các kho">{{data.tonKho | number}}</span>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container *ngIf="formData.value?.isConnect" matColumnDef="dotDungThuoc">
                        <th style="width: 5%;" mat-header-cell *matHeaderCellDef> Đợt dùng thuốc</th>
                        <td mat-cell *matCellDef="let data">
                            <span (click)="openDrugUpdateInfoUseDialog(data, 'only')"
                                style="{{getBatchDateCss(data)}}"><i class="glyphicon glyphicon-calendar"></i></span>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="ghiChu">
                        <th style="width: 15%;" mat-header-cell *matHeaderCellDef> Ghi chú</th>
                        <td mat-cell *matCellDef="let data">
                            <input type="text" list="suggestions" [(ngModel)]="data.comment" class="form-control mb-0">
                            <datalist id="suggestions">
                                <option *ngFor="let item of browserList" [value]="item"></option>
                            </datalist>
                        </td>
                    </ng-container>

                    <ng-container *ngIf="!formData.value?.isConnect" matColumnDef="giaBan">
                        <th style="width: 9%;" mat-header-cell *matHeaderCellDef> Giá bán</th>
                        <td mat-cell *matCellDef="let data"> {{getItemPrice(data) | number}}</td>
                    </ng-container>

                    <ng-container *ngIf="!formData.value?.isConnect" matColumnDef="tongTien">
                        <th style="width: 9%;" mat-header-cell *matHeaderCellDef> Tổng tiền</th>
                        <td mat-cell *matCellDef="let data"> {{getItemAmount(data) | number}}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th style="width: 4%;" mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let data">
                            <a class="btn btn-danger delete-line" (click)="fnRemoveItem(data)" title="Xóa"><i
                                    class="fa-regular fa-xmark"></i></a>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="text-right mt-3">
                    <span><strong class="text-danger">Tổng tiền: {{getTotalAmount() | number}}</strong> </span>
                </div>
            </div>

        </div>
    </div>
</div>
