<div class="card">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
      <h4 class="modal-title">THÔNG TIN VÙNG MIỀN ĐỊA LÝ
      </h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="formData">
        <div class="form-group-flex mb-3">
          <label class="control-label col-sm-2">Mã:</label>
          <div class="control-label col-sm-10">

          </div>
        </div>
        <div class="form-group-flex mb-3">
          <label class="control-label col-sm-2">Tên:</label>
          <div class="control-label col-sm-10">

          </div>
        </div>
        <div class="form-group-flex mb-3">
          <label class="control-label col-md-2">Địa chỉ:</label>
          <div class="col-md-10">
            <input class="form-control mousetrap" style="text-align:left" type="text" ng-model="viewModel.Addresses"
              ng-disabled="!isEditable" id="cusAddress" />
          </div>
        </div>
        <div class="form-group-flex mb-3">
          <label class="control-label col-md-2">Tỉnh/Thành:</label>
          <div class="col-md-10">
            <div class="control-group">
              <ng-select
                      appendTo="body"
                      appearance="outline"
                      [items]="listTinhThanh"
                      bindLabel="name"
                      bindValue="id"
                      placeholder="Tra cứu theo tên..."
                      notFoundText="Không tìm thấy mục nào"
                    >
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <span [ngOptionHighlight]="search">{{item.name}}</span>
                      </ng-template>
                    </ng-select>
            </div>
          </div>
        </div>
        <div class="form-group-flex mb-3">
          <label class="control-label col-md-2">Quận/Huyện:</label>
          <div class="col-md-10">
            <div class="control-group">
              <!-- <ng-select appendTo="body" appearance="outline"
                 bindLabel="tenNhaThuoc" bindValue="id" placeholder="Tra cứu theo tên..."
                notFoundText="Không tìm thấy mục nào">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  
                </ng-template>
              </ng-select> -->
            </div>
          </div>
        </div>
        <div class="form-group-flex mb-3">
          <label class="control-label col-md-2">Phường/Xã:</label>
          <div class="col-md-10">
            <div class="control-group">
              <!-- <ng-select appendTo="body" appearance="outline"
                bindLabel="tenNhaThuoc" bindValue="id" placeholder="Tra cứu theo tên..."
                notFoundText="Không tìm thấy mục nào">
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  
                </ng-template>
              </ng-select> -->
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
      <button type="button" class="btn btn-primary">Cập nhật</button>
    </div>
  </div>
</div>