<div class="card">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
            <h4 class="modal-title">{{doctorID > 0 ? 'Cập nhật bác sỹ' : 'Thêm mới bác sỹ'}}
            </h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="formData">
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-4 control-label">Tên bác sỹ<span
                                class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <input formControlName="tenBacSy" class="form-control mb-0 text-left" type="text" />
                            <span class="text-danger field-validation-error"
                            *ngIf="formData.get('tenBacSy')?.invalid && formData.get('tenBacSy')?.touched">
                            Chưa nhập tên bác sỹ!
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-4 control-label">Số điện thoại</label>
                        <div class="col-sm-8">
                            <input formControlName="dienThoai" class="form-control mb-0 text-left" type="text" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label class="col-sm-4 control-label">Nhóm bác sỹ</label>
                        <div class="col-sm-8">
                            <div class="flex-grow-1">
                                <ng-select formControlName="maNhomBacSy">
                                  <ng-option *ngFor="let item of listNhomBacSy"
                                             [value]="item.id">{{item.tenNhomBacSy}}</ng-option>
                                </ng-select>
                              </div>
                          </div>
                    </div>
                </div>
                <p>Thêm <span style="cursor: pointer" (click)="expandForm()">{{expandLabel}}</span></p>
                <div *ngIf="showMoreForm">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label">Địa chỉ</label>
                            <div class="col-sm-8">
                                <input formControlName="diaChi" class="form-control mb-0 text-left" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label">Email</label>
                            <div class="col-sm-8">
                                <input formControlName="email" class="form-control mb-0 text-left" type="text" />
                            </div>
                        </div>
                    </div>
                    <!-- Clinic -->
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label">Mã LT</label>
                            <div class="col-sm-8">
                                <input formControlName="connectCode" class="form-control mb-0 text-left" type="text" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label">Mật khẩu LT</label>
                            <div class="col-sm-8">
                                <input formControlName="connectPassword" class="form-control mb-0 text-left" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
            <button type="button" class="btn btn-primary" (click)="saveEdit()"
            [disabled]="formData.invalid">{{doctorID > 0 ? 'Cập nhật' : 'Thêm mới'}}</button>
        </div>
    </div>
</div>