<div id="wait-note-add-edit-dialog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Đóng"><span>&times;</span></button>
                <h4 class="modal-title">Phiếu yêu cầu khám bệnh
                </h4>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-center gap-10 mb-3"><strong>Thông tin tiếp đón</strong><strong class="ng-binding">Số phiếu: 1</strong></div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Bệnh nhân <span class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <div class="input-group w-100">
                            <input class="form-control mb-0 text-left" type="text" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" (click)="customerID = 0" data-toggle="modal"
                                data-target="#customer-add-edit-dialog"><i class="fa-regular fa-plus"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Ngày sinh</label>
                    <div class="col-md-9">
                        <input disabled="" type="text" ng-model="viewModel.Customer.BirthDate" placeholder="dd/mm/yyyy" class="form-control mb-0 ng-pristine ng-untouched ng-valid">
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Tuổi</label>
                    <div class="col-md-9">
                        <input type="text" ng-model="viewModel.Customer.OldNumber" class="form-control mb-0 ng-pristine ng-untouched ng-valid" disabled="">
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Giới tính</label>
                    <div class="col-md-9">
                        <select class="form-control mb-0 ng-pristine ng-untouched ng-valid" ng-model="viewModel.Customer.SexId" disabled="">
                            <option value="" selected="">--Mặc định--</option>
                            <option value="0">Nam</option>
                            <option value="1">Nữ</option>
                        </select>
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Địa chỉ</label>
                    <div class="col-md-9">
                        <input disabled="" type="text" ng-model="viewModel.Customer.Addresses" placeholder="Địa chỉ..." class="form-control mb-0 ng-pristine ng-untouched ng-valid">
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Nghề nghiệp</label>
                    <div class="col-md-9">
                        <input disabled="" type="text" ng-model="viewModel.Customer.Job" placeholder="Nghề nghiệp..." class="form-control mb-0 ng-pristine ng-untouched ng-valid">
                    </div>
                </div>

                <strong class="d-block mt-3 mb-3">Thông tin khám</strong>

                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Lý do khám</label>
                    <div class="col-md-9">
                        <textarea ng-model="viewModel.ReasonExamination" placeholder="Lý do khám ..." class="form-control mb-0 ng-pristine ng-untouched ng-valid"></textarea>
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Nhịp tim</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control mb-0 ng-pristine ng-untouched ng-valid" ng-model="viewModel.Heartbeat">
                            <span class="input-group-addon flex-grow-width-25 ">nhịp/phút</span>
                        </div>
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Nhiệt độ</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control ng-pristine ng-untouched ng-valid" ng-model="viewModel.Temperature">
                            <span class="input-group-addon flex-grow-width-25 ">°C</span>
                        </div>
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Cân nặng</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control ng-pristine ng-untouched ng-valid" ng-model="viewModel.Weight">
                            <span class="input-group-addon flex-grow-width-25 ">Kg</span>
                        </div>
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Huyết áp</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control ng-pristine ng-untouched ng-valid" ng-model="viewModel.BloodPressure">
                            <span class="input-group-addon flex-grow-width-25 ">mmHg</span>
                        </div>
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Nhịp thở</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control ng-pristine ng-untouched ng-valid" ng-model="viewModel.Breathing">
                            <span class="input-group-addon flex-grow-width-25 ">nhịp/phút</span>
                        </div>
                    </div>
                </div>
                <div class="form-inline-flex mb-3">
                    <label class="col-md-3">Chiều cao</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control ng-pristine ng-untouched ng-valid" ng-model="viewModel.Height">
                            <span class="input-group-addon flex-grow-width-25 ">Cm</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Ghi phiếu</button>
            </div>
        </div>
    </div>
</div>
<customer-add-edit-dialog [customerID]="customerID"></customer-add-edit-dialog>