.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-weight: 600;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
   background-color: initial;
  color: white;
}
