<div class="card">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="closeModal()" aria-label="Đóng"><span>&times;</span></button>
            <h4 class="modal-title">Thông tin dịch vụ
            </h4>
        </div>
        <div class="modal-body">
            <table class="table table-bordered table-userpicker">
                <tbody>
                    <tr>
                        <td><b>Nhóm dịch vụ:</b></td>
                        <td>{{formData.get('tenNhomThuoc')?.value}}</td>
                    </tr>
                    <tr>
                        <td><b>Mã dịch vụ:</b></td>
                        <td>{{formData.get('maThuoc')?.value}}</td>
                    </tr>
                    <tr>
                        <td><b>Tên dịch vụ :</b></td>
                        <td>
                            {{formData.get('tenThuoc')?.value}}
                        </td>
                    </tr>
                    <tr>
                        <td><b>Phòng thực hiện:</b></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Liệu trình:</b></td>
                        <td>
                            <span *ngIf="formData.get('idTypeService')?.value == 1">
                                <i class="fa fa-check"></i>
                            </span>
                        </td>
                    </tr>
                    <tr *ngIf="formData.get('idTypeService')?.value == 1">
                        <td><b>Số buổi thực hiện:</b></td>
                        <td>{{formData.get('countNumbers')?.value}}</td>
                    </tr>                   
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                    <tr ng-if="!viewModel.IsSlaveInGenaralPharmacyChain">
                        <td><b>Giá nhập:</b></td>
                        <td>{{formData.get('giaNhap')?.value}}</td>
                    </tr>
                    <tr>
                        <td><b>Giá bán:</b></td>
                        <td>{{formData.get('giaBanLe')?.value}}</td>
                    </tr>
                    <tr>
                        <td><b>Chiết khấu(%):</b></td>
                        <td style="text-align:left">{{formData.get('discount')?.value}}</td>
                    </tr>
                    <tr>
                        <td><b>Tích điểm:</b></td>
                        <td>
                            <i *ngIf="formData.get('scorable')?.value" class="fa-regular fa-check text-success"></i>
                            <i *ngIf="!formData.get('scorable')?.value" class="fa-regular fa-xmark text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="closeModal()">Đóng</button>
        </div>
    </div>
</div>