<div class="card">
  <form [formGroup]="formData">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()"><span>&times;</span></button>
        <h4 class="modal-title text-capitalize text-center mt-0 mb-0">
          <b>{{ getTitle() }}</b>
          <span *ngIf="isDesktop()" style="padding-bottom: 12px; padding-left: 8px" class="btn tooltip-content-drug">
          <span><i style="font-size:20px; color: black" class="fa fa-info-circle" aria-hidden="true"></i></span>
          <span style="font-size:14px; text-transform:none" class="show-tooltip-content-drug">
              <b>F1:</b> Thêm mới phiếu trong tab mới<br/>
              <b>F9:</b> Ghi phiếu<br/>
              <b>F11:</b> Toàn màn hình<br/>
          </span>
        </span>
        </h4>
        <div class="card-desc">
          <div class="card-code">
            Mã số: <strong>{{ formData.value?.soPhieu }}</strong>
          </div>
          Ngày:
          <div class="clickable-text daterange-picker font-weight-bold">
            <input formControlName="pickerNgayTao" type="text" class="form-control" [matDatepicker]="pickerNgayTao"
                   (click)="pickerNgayTao.open()">
            <mat-datepicker #pickerNgayTao="matDatepicker" disabled="false"></mat-datepicker>
            <span class="text-link" (click)="pickerNgayTao.open()">{{ formData.value?.pickerNgayTao | appDate }}</span>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Loại phiếu</label>
            <div class="col-sm-8">
              <div *ngIf="isCreateView()">
                <ng-select
                  class="flex-grow-1"
                  appendTo="body"
                  appearance="outline"
                  [items]="listLoaiPhieu"
                  formControlName="loaiPhieu"
                  bindLabel="name"
                  bindValue="id"
                  placeholder="Chọn loại phiếu"
                  notFoundText="Không tìm thấy mục nào"
                  [clearable]="false"
                  (change)="getSoPhieuThuChi()"
                >
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.name }}</span>
                  </ng-template>
                </ng-select>
              </div>
              <div *ngIf="isUpdateView()">
                <span>{{ getTitle() }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="is9274()">
          <div class="row">
            <label class="col-sm-4 control-label">Cơ sở</label>
            <div class="col-sm-8">
              <ng-select
                appendTo="body"
                appearance="outline"
                [items]="listNhaThuoc"
                formControlName="maCoSo"
                bindLabel="tenNhaThuoc"
                bindValue="maNhaThuoc"
                placeholder="Chọn hoặc gõ vào để tìm..."
                notFoundText="Không tìm thấy mục nào"
                [clearable]="false"
                (change)="clearNhanVienId()"
              >
                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                  <span [ngOptionHighlight]="search">{{ item.tenNhaThuoc }}</span>
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">
              {{ formData.value?.loaiPhieu == LOAI_THU_CHI.THU_KHAC ? 'Người nộp' : 'Người nhận' }}
            </label>
            <div class="col-sm-8">
              <div *ngIf="is9274()">
                <ng-select
                  [items]="listNhanVien$ | async"
                  [typeahead]="searchNhanVienTerm$"
                  [minTermLength]="2"
                  formControlName="nhanVienId"
                  appendTo="body"
                  appearance="outline"
                  bindLabel="tenDayDu"
                  bindValue="id"
                  placeholder="Chọn hoặc gõ vào để tìm..."
                  notFoundText="Không tìm thấy mục nào"
                  typeToSearchText="Nhập 2 hoặc nhiều kí tự hơn để tìm kiếm"
                  (change)="searchNhanVienTerm$.next('')"
                >
                  <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{ item.tenDayDu }}</span>
                  </ng-template>
                </ng-select>
              </div>
              <input *ngIf="!is9274()" type="text" formControlName="nguoiNhan" class="form-control mb-0">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Địa chỉ</label>
            <div class="col-sm-8">
              <input type="text" formControlName="diaChi" class="form-control mb-0">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Số tiền</label>
            <div class="col-sm-8">
              <input type="text" formControlName="amount" class="form-control mb-0" mask="separator">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Diễn giải</label>
            <div class="col-sm-8">
              <textarea formControlName="dienGiai" class="w-100 mb-0 form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="col-sm-4 control-label">Hình thức thanh toán</label>
            <div class="col-sm-8">
              <div class="form-check">
                <mat-radio-group class="tp-radio-group" formControlName="paymentTypeId">
                  <mat-radio-button class="tp-radio-button"
                                    *ngFor="let item of listPaymentType" [value]="item.id">
                    {{ item.displayName }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="formData.value?.loaiPhieu == LOAI_THU_CHI.CHI_PHI_KINH_DOANH">
          <div class="row">
            <label class="col-sm-4 control-label">Thanh toán theo kỳ</label>
            <div class="col-sm-8">
              <mat-checkbox formControlName="isPayByPeriod"></mat-checkbox>
              <div class="baocao-filter" *ngIf="formData.value?.isPayByPeriod">
                <div class="radio">
                  <div class="input-daterange input-group" id="datepicker">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Từ ngày.." [matDatepicker]="pickerFromDate"
                             formControlName="pickerFromDate"
                             (click)="pickerFromDate.open()">
                      <mat-datepicker #pickerFromDate></mat-datepicker>
                      <span class="input-group-btn">
                      <button class="btn btn-primary" (click)="pickerFromDate.open()">
                        <i class="fa-regular fa-calendar-days"></i>
                      </button>
                    </span>
                    </div>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Đến ngày.." [matDatepicker]="pickerToDate"
                             formControlName="pickerToDate"
                             (click)="pickerToDate.open()">
                      <mat-datepicker #pickerToDate></mat-datepicker>
                      <span class="input-group-btn">
                      <button class="btn btn-primary" (click)="pickerToDate.open()">
                        <i class="fa-regular fa-calendar-days"></i>
                      </button>
                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isUpdateView()">
          <div class="row">
            <label class="col-sm-4 control-label">Người lập</label>
            <div class="col-sm-8">
              {{ formData.value?.createdByUserText }}
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isUpdateView()">
          <div class="row">
            <label class="col-sm-4 control-label">Ngày lập</label>
            <div class="col-sm-8">
              {{ formData.value?.created | appDate }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" (click)="closeModal()">Đóng</button>
        <button *ngIf="havePermissions(['PTC_THEM'])" class="btn btn-primary" (click)="saveEdit()">Ghi phiếu</button>
        <button *ngIf="isUpdateView() && havePermissions(['PTC_IN'])" class="btn btn-primary" [matMenuTriggerFor]="printMenu">
          <i class="fas fa-print"></i>
        </button>
        <mat-menu #printMenu="matMenu">
          <button mat-menu-item (click)="onPrint('printType')">In 1 liên - A5</button>
          <button mat-menu-item (click)="onPrint('printType')">In 2 liên - A4</button>
        </mat-menu>
        <button *ngIf="isUpdateView() && havePermissions(['PTC_XOA'])" class="btn btn-danger"
                (click)="delete()">
          <i class="fa-regular fa-trash"></i>
        </button>
      </div>
    </div>
  </form>
</div>
